.vs
.vs/SILDMS/
SILDMS.DataAccess/bin/
SILDMS.DataAccess/obj/

SILDMS.DataAccessInterface/bin/
SILDMS.DataAccessInterface/obj/

SILDMS.InfraStructure/bin/
SILDMS.InfraStructure/obj/

SILDMS.Model/bin/
SILDMS.Model/obj/

SILDMS.Service/bin/
SILDMS.Service/obj/

SILDMS.Utillity/bin/
SILDMS.Utillity/obj/

SILDMS.Web.UI/bin/
SILDMS.Web.UI/obj/
/SILDMS.Model/SILDMS.Model.csproj.rej
