@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<style>
    body {
        font-size: 12px; /* Set global font size */
    }

    .box-body, .form-group, .btn, .form-control, .box-header {
        font-size: 12px; 
    }

    .btn {
        font-size: 12px;
        padding: 4px 8px;
    }

    h3.box-title {
        font-size: 14px;
    }

    input.form-control, button.form-control {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    /* Adjust icon size */
    .fa {
        font-size: 12px;
       /* padding-right: 3px;*/
    }
</style>

<div class="box box-primary box-body" ng-controller="WorkOrderInfoCntrl">
    <!-- Upper buttons -->
    <div class="box-header with-border" style="font-family: Verdana; background: #E4E9E3; color: black; ">
        <i class="fa fa-user"></i>
        <h3 style="font-family: Verdana" class="box-title">Quotation to Client</h3>

        <div class="box-tools pull-right">
            <div class="col-lg-12 pull-right">
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="toggleRefreshTable()" class="btn btn-warning btn-flat pull-right" ng-disabled="btnRefresh">
                        <i class="fa fa-refresh" style="padding-right: 5px;"></i>Refresh
                    </button>
                </div>
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="SearchClientReqModal()" class="btn btn-primary btn-flat pull-right" ng-disabled="btnSearch">
                        <i class="fa fa-search" style="padding-right: 5px;"></i>Search
                    </button>
                </div>
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="Post()" class="btn btn-primary btn-flat pull-right" ng-disabled="btnSave">
                        <i class="fa fa-save" style="padding-right: 5px;"></i>{{ ClientReq.ClientReqID ? 'Update' : 'Save' }}
                    </button>
                </div>
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="Cancel()" class="btn btn-primary btn-flat pull-right" ng-disabled="btnSave">
                        <i class="fa fa-save" style="padding-right: 5px;"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="box-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- ClientName -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ClientName">Client Name :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="ClientName" name="ClientName" type="text" data-ng-model="Client.ClientName" class="form-control" ng-readonly="true" />
                        </div>
                    </div>

                    <div class="col-lg-1">
                        <div class="form-group">
                            <button type="button" data-ng-click="SearchAvailableClients()" class="form-control">Search</button>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>


                <!-- ClientRequisition No & Date -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ClientRequisitionNo">Client Requisition No :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="ClientRequisitionNo" name="ClientRequisitionNo" type="text" data-ng-model="Client.ClientRequisitionNo" class="form-control" ng-readonly="true" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ClientRequisitionDate">Client Requisition Date:</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="ClientRequisitionDate" name="ClientRequisitionDate" type="text" data-ng-model="Client.ClientRequisitionDate" class="form-control" ng-readonly="true" />
                        </div>
                    </div>
                </div>

                <!-- ClientRequisition Person & Number -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ContactPerson">Contact Person :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="ContactPerson" name="ContactPerson" type="text" data-ng-model="Client.ContactPerson" class="form-control" ng-readonly="true" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ContactNumber">Contact Number :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="ContactNumber" name="ContactNumber" type="text" data-ng-model="Client.ContactNumber" class="form-control" ng-readonly="true" />
                        </div>
                    </div>
                </div>

                <!-- Client TIN & BIN -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ContactTIN">Contact TIN :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="ContactTIN" name="ContactTIN" type="text" data-ng-model="Client.ContactTIN" class="form-control" ng-readonly="true" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ContactBIN">Contact BIN :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="ContactBIN" name="ContactBIN" type="text" data-ng-model="Client.ContactBIN" class="form-control" ng-readonly="true" />
                        </div>
                    </div>
                </div>

                <!-- Client Address -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ContactAddress">Contact Address :</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input id="ContactAddress" name="ContactAddress" type="text" data-ng-model="Client.ContactAddress" class="form-control" ng-readonly="true" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>
                </div>

            </div>
        </div>
    </div>

    <div id="AvailableClients" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="ResetSearchModel()" aria-hidden="true">x</button>
                    <h3 class="modal-title">Available Clients</h3>
                </div>

                <!-- Modal Body -->
                <div class="modal-body table-responsive" data-ng-disabled="" ng-cloak>
                    <table st-table="AllAvailableClientstCollection" st-safe-src="AllAvailableClientsList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr>
                                <!-- Columns with sorting -->
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sortList('ClientCode')">
                                    Client Code
                                    <span ng-show="PagingInfo.sortBy == 'ClientCode' && !PagingInfo.reverse" class="fa fa-caret-down"></span>
                                    <span ng-show="PagingInfo.sortBy == 'ClientCode' && PagingInfo.reverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sortList('ClientName')">
                                    Client Name
                                    <span ng-show="PagingInfo.sortBy == 'ClientName' && !PagingInfo.reverse" class="fa fa-caret-down"></span>
                                    <span ng-show="PagingInfo.sortBy == 'ClientName' && PagingInfo.reverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-lg-1 col-md-1 col-sm-1">
                                    Action
                                </th>
                            </tr>

                            <!-- Search Fields -->
                            <tr>
                                <th>
                                    <input st-search="ClientCode" placeholder="Search Client Code" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input st-search="ClientName" placeholder="Search Client Name" class="input-sm form-control" type="search" />
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in AllAvailableClientsList | orderBy:'IsBack':true">
                                <td class="text-center">{{row.ClientCode}}</td>
                                <td class="text-center">{{row.ClientName}}</td>
                                <td class="col-lg-1 text-center">
                                    <a class="btn col-center btn-sm btn-flat btn-success" ng-click="selectAvailableClient(row)">Select</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination and No Item Message -->
                    <div ng-if="PagingInfo.totalItems > 0" class="text-center">
                        <ul uib-pagination total-items="PagingInfo.totalItems" ng-model="PagingInfo.page" items-per-page="{{PagingInfo.itemsPerPage}}" max-size="7" boundary-links="true" rotate="true" force-ellipses="true" ng-change="selectPageList()"></ul>
                    </div>
                    <div ng-if="PagingInfo.totalItems <= 0" class="text-center">
                        NO ITEM
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="GetClientReqDetails.length > 0">
        <div class="row" style="padding: 11px; margin-right: 15px; margin-left: 15px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info" style="border-bottom: 1px solid #d3e3e3; ">
                        <div class="box-header with-border" style="height: 40px; border-bottom: 1px solid #d3e3e3;">
                            <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Item and Service List</h2>

                        </div>
                    </div>
                </div>
            </div>

            <table st-table="GetClientReqDetailsCollection" st-safe-src="GetClientReqDetails" class="table table-condensed table-bordered table-striped table-hover pnlView">

                <thead>
                    <tr style="background-color: #78bfd6; color: darkblue; font-size: 12px;">
                        <th style="text-align: left;">Item Code</th>
                        <th style="text-align: left;">Item Name</th>
                        <th style="text-align: left;">Description</th>
                        <th style="text-align: left;">Delivery Location</th>
                        <th style="text-align: left;">Delivery Date</th>
                        <th style="text-align: left;">ReqQnty</th>
                        <th style="text-align: left;">ReqUnit</th>
                        <th style="text-align: left;">Quoted Qnty</th>
                        <th style="text-align: left;">Vendor Quoted Unit/Price</th>
                        <th style="text-align: left;">Given Quoted Unit/Price</th>
                        <th style="text-align: left;">Vendor Quoted Amt</th>
                        <th style="text-align: left;">Given Quoted Amt</th>
                        <th style="text-align: left;">Vat Rate</th>
                        <th style="text-align: left;">VatAmt</th>
                        <th style="text-align: left;">TolAmt</th>
                        <th style="text-align: left;">Given TolAmt</th>
                        <th style="text-align: left;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in GetClientReqDetailsCollection" ng-cloak style="font-size:12px;" ng-class="{'selected-row': row.selected}" ng-style="getRowStyle(row)">
                        <td class="col-lg-1" style="width:5%;">{{ row.ServiceItemID }}</td>
                        <td class="col-lg-1" style="width:5%;">{{row.ServiceItemName}}</td>
                        <td class="col-lg-1" style="width:6%;">{{row.Description}}</td>
                        <td class="col-lg-1" style="width:6%;">{{row.DeliveryLocation}}</td>
                        <td class="col-lg-1" style="width:6%;">{{row.DeliveryDate}}</td>
                        <td class="col-lg-1" style="width:6%;">{{row.ReqQnty | number:2}}</td>
                        <td class="col-lg-1" style="width:5%;">{{row.ReqUnit}}</td>
                        <td class="col-lg-1" style="width:6%;">{{row.QutnQnty}}</td>
                        <td class="col-lg-1" style="width:6%;">{{row.QutnPrice}}</td>
                        <td class="col-lg-1">
                            <input class="form-control" style="width:100%; height:18px;font-size:10px" type="text" min="0" ng-model="row.givenQutnPrice" ng-keypress="checkEnter($event, row)" />
                        </td>
                        <td class="col-lg-1" style="width:6%;">{{row.QutnAmt}}</td>
                        <td class="col-lg-1" style="width: 6%; color: #126e0f">{{ row.givenQutnAmt}}</td>
                        <td class="col-lg-1" style="width:6%;">{{row.VatPerc}}</td>
                        <td class="col-lg-1" style="width:6%;">{{row.VatAmt}}</td>
                        <td class="col-lg-1" style="width:6%;">{{row.TolAmt}}</td>
                        <td class="col-lg-1" style="width: 6%; color: #126e0f">{{ row.givenTolAmt }}</td>
                        <td class="col-lg-1" style="width:5%;">
                            <button type="button" class="ChildButtons" ng-click="selectEntity(row)" data-dismiss="modal" title="Select">
                                <i ng-show="!row.buttonChecked" class="fa fa-square-o"></i>
                                <i ng-show="row.buttonChecked" class="fa fa-check-square-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>

        </div>
    </div>

   


    <div class="box-body" ng-show="showTermsItem===true">

        @*terms and conditons*@

        <div id="VendorReqTermsConditionsModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="ResetModel()" aria-hidden="true">x</button>
                        <h3 class="modal-title">Terms & Conditions Information</h3>
                    </div>
                    <div class="modal-body table-responsive">
                        <table st-table="TermsConditionsDisplayedCollection" st-safe-src="TermsConditionsList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                            <thead>
                                <tr>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('FormCode')">Form Code</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('FormName')">Form Name</th>

                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                                </tr>
                                <tr>
                                    <th><input st-search="FormCode" placeholder="Form Code" class="input-sm form-control" type="search" /></th>
                                    <th><input st-search="FormName" placeholder="Form Name" class="input-sm form-control" type="search" /></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in TermsConditionsDisplayedCollection">
                                    <td class="hidden">{{row.TermsID}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.FormCode}}</td>

                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                        <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                            {{row.Status == '1'? 'Active':'InActive'}}
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-primary btn-flat btnEdit" ng-click="toggleTermsConditionsSelect(row)"><i class="fa fa-edit"></i> Select</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetModel()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="box box-info" style="border-bottom: 1px solid #d3e3e3; ">
                    <div class="box-header with-border" style="height: 40px; border-bottom: 1px solid #d3e3e3;">
                        @*<h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Terms & Conditions List</h2>*@
                        <div class="col-lg-3 ">
                            <div class="form-group">
                                <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Terms & Conditions List</h2>
                            </div>
                        </div>
                        @*<div class="row">*@
                        <div class="col-lg-3 ">
                            <div class="form-group">
                                <label for="TermsAndConditions">Terms & Coonditions List:</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <input id="FormName" name="FormName" type="text" data-ng-model="VendorReq.FormName" class="form-control" ng-readonly="true" />
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" data-ng-click="ShowTermsConditionsList()" class="form-control">Search</button>
                        </div>
                        @*</div>*@
                        <div class="box-tools pull-right">
                            <div class="col-lg-12 pull-right">
                                <div class="btn-group pull-right" style="margin:2px;">
                                    <button type="button" id="btnReqTermAdd" ng-disabled="btnReqTermAdd" data-ng-click="AddReqTermModal()" class="button-detail btn"><i class="fa fa-plus" style="padding-right: 3px"></i>Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 1%; background-color: #f0f0f0; box-shadow: 2px 2px 5px #888888; padding: 5px 10px 5px 10px;">
            <div class="row">
                <div class="row" style="padding: 11px; margin-right: 15px; margin-left: 15px;">
                    <table st-table="ReqTermGridDisplayCollection" st-safe-src="ReqTermDataSetupGridData" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr>
                                <th style="text-align: left;" st-sort="">Terms Code</th>
                                <th style="text-align: left;" st-sort="">Terms & Conditions</th>
                                <th style="text-align: left;">Action</th>
                            </tr>
                            @*<tr>
                                <th colspan="5"><input st-search="" placeholder="Search" class="input-sm form-control" type="search" /></th>
                            </tr>*@
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in ReqTermGridDisplayCollection" ng-cloak style="font-size:12px;">
                                <td class="hidden">{{row.VendorReqTermsID}}</td>
                                <td class="hidden">{{row.VendorReqID}}</td>
                                <td class="hidden">{{row.TermsID}}</td>
                                <td class="col-lg-1" style="width:5%;">{{row.TermsCode}}</td>
                                <td class="col-lg-1" style="width:6%;">{{row.TermsName}}</td>

                                <td class="col-lg-1" style="width:5%;">
                                    <button type="button" ng-if="row.VendorReqTermsID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqTermEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                    <button type="button" ng-if="!row.VendorReqTermsID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqTermEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                    <button type="button" class="btn btn-xs btn-primary btn-flat btnDelete" data-ng-click="toggleReqTermDelete(row,$index)"><i class="fa fa-remove"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            @*<tr>
                                <td colspan="11" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div></td>
                            </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div id="RequisitionTermModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <h3 class="modal-title">Terms & Conditions Information</h3>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">

                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <button type="button" class="close" data-dismiss="modal" ng-click="ResetReqTermModel()" aria-hidden="true" style="color:red;">x</button>
                            </div>
                        </div>
                    </div>
                    <div ng-cloak>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="TermsCode">Terms & Conditions Code:</label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input id="TermsCode" type="text" name="TermsCode" ng-model="VendorReqTerm.TermsCode" class="form-control" autofocus />

                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="TermsName">Terms & Conditions:</label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input id="TermsName" type="text" name="TermsName" ng-model="VendorReqTerm.TermsName" class="form-control" autofocus />

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="btn-group pull-right" style="margin:2px;">
                                    <button type="button" id="btnAddReqTerm" data-ng-click="AddReqTerm()" class="button-detail btn"><i class="fa fa-save" style="padding-right: 3px"></i>Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteReqTermModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position: fixed; top: 38%; left: 50%; transform: translate(-38%, -50%); background: rgba(0,0,0,0) !important">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-radius: 5px; width: 456px; height: 185px;">
                    <div class="modal-header" style="height: 46px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Delete Selected Item</h4>
                    </div>
                    <div class="modal-body" style="height: 80px;">
                        Are you sure to delete this item?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white; background-color: red;" ng-click="DeleteReqTerm()">Yes</button>
                        <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white">No</button>
                    </div>
                </div>
            </div>
        </div>

        @*terms and conditons ends*@


        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Quotation No & Date -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="QuotationNo">Quotation No :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="QuotationNo" name="QuotationNo" type="text" data-ng-model="Quotation.QuotationNo" readonly class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="QuotationDate">Quotation Date :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="QuotationDate" name="QuotationDate" type="text" class="form-control" style="background-color:#ffffff;" readonly />
                        </div>
                    </div>
                </div>

                <!-- Quotation Note & Billing Date -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="QuotationNote">Quotation Note :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="QuotationNote" name="QuotationNote" type="text" data-ng-model="MasterData.QuotationNote" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="BriefingDate">Client Briefing Date :</label>
                        </div>
                    </div>

                    <div class="col-lg-2" @*style="width: 12.50%;*@>
                        <div class="form-group">

                            <input id="BriefingDate" name="BriefingDate" readonly type="datetime" class="DatePicker form-control" placeholder="DD/MM/YYYY"
                                   data-ng-model="MasterData.BriefingDate" style="height: 25px; background-color:#ffffff;" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-9">

                    </div>

                    <div class="col-lg-2">
                        <button id="btnSaveMasterInitial" type="button" class="btn btn-success saveBtn pull-right"
                                ng-click="openConfirmModal()" data-dismiss="modal" title="Save"
                                style="padding: 6px 36px; box-shadow: -4px 5px 0px 0px rgba(0, 0, 0, 0.1); border-radius: 5px;">
                            <i class="fa fa-check"></i> Submit
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </div>
    @*Save / Delete Modal*@
    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position: fixed; top: 38%; left: 50%; transform: translate(-38%, -50%); background: rgba(0,0,0,0) !important ">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 5px; width: 456px; height: 185px;">
                <div class="modal-header" style="height: 46px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="height:30px;" id="myModalLabel">Confirm your Action</h4>
                </div>
                <div class="modal-body" style="height:80px;">
                    <h5 class="modal-title" style="height:30px;" id="myModalLabel">Are you sure to Save</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSaveMaster" class="btn button-custom" style="color: white; background-color: darkgreen;" data-dismiss="modal" ng-click="SaveQCApprove()">Confirm</button>
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white; background-color: darkred;">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <div id="mydiv" data-ng-show="loading">
        <div class="overlay">
            <div class="loder">
                <img src="~/Content/AdminLTE/img/cube.gif" /> <span class="text-bold">Loading...</span>
            </div>
        </div>
    </div>


</div>





<script type="text/javascript">



    app.controller('WorkOrderInfoCntrl', function ($scope, $http) {


        $scope.vendorReqItemArray = [];
        $scope.vendorReqTermArray = [];


        $scope.PagingInfo = {
            page: 1,
            itemsPerPage: 10,
            sortBy: null,
            reverse: false,
            search: null,
            totalItems: 0
        };

        $scope.Client = {
            ClientName :"",
            ClientRequisitionNo :"",
            ClientRequisitionDate :"",
            ContactPerson :"",
            ContactNumber :"",
            ContactTIN :"",
            ContactBIN :"",
            ContactAddress :"",
        }

        $scope.MasterData = {
            ClientID: "",
            ClientReqID: "",
            BriefingDate: "",
            QuotationNote: ""
        }

        $('.DatePicker').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true
        }).on('changeDate', function (ev) {
            var selectedDate = $(this).val(); // Get the selected date
            $('.datepicker').hide();          // Hide the datepicker

            // Apply the selected date to AngularJS model
            var scope = angular.element($(this)).scope();
            scope.$apply(function () {
                scope.MasterData.BriefingDate = selectedDate;
            });
        });


        $scope.PIRemarks = "";

        const currentDate = new Date();
        const day = String(currentDate.getDate()).padStart(2, '0');
        const month = String(currentDate.getMonth() + 1).padStart(2, '0');
        const year = currentDate.getFullYear();
        document.getElementById("QuotationDate").value = `${year}-${month}-${day}`;


        $scope.SearchAvailableClients = function () {
            $scope.Client = "";
            $http.post('/QuotationToClient/AllAvailableClients', {
                page: $scope.PagingInfo.page,
                itemsPerPage: $scope.PagingInfo.itemsPerPage,
                sortBy: $scope.PagingInfo.sortBy,
                reverse: $scope.PagingInfo.reverse,
                search: $scope.PagingInfo.search,
                type: "isBack"

            }).success(function (response) {
                $scope.AllAvailableClientsList = response.AllAvailableClientsList;
                $scope.AllAvailableClientstCollection = [].concat($scope.AllAvailableClientsList);
                $scope.loading = false;
            }).error(function () {
                $scope.loading = false;
            });
            $('#AvailableClients').modal('show');
        };

        $scope.selectPageList = function () {
            $http.post('/QuotationToClient/AllAvailableClients', {

                page: $scope.PagingInfo.page,
                itemsPerPage: $scope.PagingInfo.itemsPerPage,
                sortBy: $scope.PagingInfo.sortBy,
                reverse: $scope.PagingInfo.reverse,
                search: $scope.PagingInfo.search,
                type: "isBack"

            }).success(function (response) {
                $scope.AllAvailableClientsList = response.AllAvailableClientsList;
                $scope.AllAvailableClientstCollection = [].concat($scope.AllAvailableClientsList);
                $scope.loading = false;
            })
                .error(function () {
                    $scope.loading = false;
                });
        }

        $scope.sortList = function (sortBy) {
            if (sortBy === $scope.PagingInfo.sortBy) {
                $scope.PagingInfo.reverse = !$scope.pagingInfo.reverse;
            } else {
                $scope.PagingInfo.sortBy = sortBy;
                $scope.PagingInfo.reverse = false;
            }
            $scope.PagingInfo.page = 1;
            $scope.Search();
        };

        $scope.selectAvailableClient = function (row) {
            $('#AvailableClients').modal('hide');
            $scope.loading = true;

            $http.post('/QuotationToClient/AvailableClientDetailInfo', {
                ClientID: row.ClientID
            }).success(function (response) {
                $scope.ClientDetails = response.ClientDetails;

                $scope.Client = {
                    ClientName: $scope.ClientDetails[0].ClientName,
                    ClientRequisitionNo: $scope.ClientDetails[0].ClientReqNo,
                    ClientRequisitionDate: $scope.ClientDetails[0].RequisitionDate,
                    ContactPerson: $scope.ClientDetails[0].ContactPerson,
                    ContactNumber: $scope.ClientDetails[0].ContactNumber,
                    ContactTIN: $scope.ClientDetails[0].ClientTinNo,
                    ContactBIN: $scope.ClientDetails[0].ClientBinNo,
                    ContactAddress: $scope.ClientDetails[0].Address
                };
                $scope.GetClientReqDataInfo($scope.ClientDetails[0].ClientID);
                 $scope.loading = false;
            }).error(function () {
                $scope.loading = false;
            });
        };

        $scope.GetClientReqDataInfo = function (ClientID) {
            $http.post('/QuotationToClient/GetClientReqDataInfo', {
                ClientID: ClientID
            }).success(function (response) {
                $scope.GetClientReqDetails = response.GetClientReqDetails;
                $scope.GetClientReqDetailsCollection = [].concat($scope.GetClientReqDetails);
                $scope.loading = false;
            }).error(function () {
                $scope.loading = false;
            });
        };

      
        $scope.showFlag = false;
        $scope.selectedRows = [];
        $scope.buttonChecked = false;

        $scope.selectEntity = function (row) {

            $scope.MasterData = {
                ClientID: row.ClientID,
                ClientReqID: row.ClientReqID
            }

            var selecteditems = {
                ServiceCategoryID: row.ServiceCategoryID, //--
                TermsID: row.TermsID,
                ServiceItemID: row.ServiceItemID,
                Description: row.Description, //--
                DeliveryLocation: row.DeliveryLocation, //--
                DeliveryDate: row.DeliveryDate, //--
                DeliveryMode: row.DeliveryMode, //--
                QutnQnty: row.QutnQnty, //--
                QutnUnit: row.ReqUnit, //--
                VenPrice: row.QutnPrice, //-- VenPrice
                MclPrice: row.givenQutnPrice, //--  
                QutnAmt: row.QutnAmt, //--  
                VatPerc: row.VatPerc, //--
                VatAmt: row.VatAmt, //--
                TolAmt: row.givenTolAmt
            }

            var indexToRemove = -1;

            $scope.selectedRows.forEach(function (item, index) {
                if (item.ServiceItemID === selecteditems.ServiceItemID && item.ServiceItemCode === selecteditems.ServiceItemCode) {
                    indexToRemove = index;
                }
            })

            if (indexToRemove !== -1) {
                $scope.selectedRows.splice(indexToRemove, 1);
                /*$scope.ObservationDisplayedCollection.splice(indexToRemove, 1);*/
                row.selected = false;
            } else {
                $scope.selectedRows.push(selecteditems);
                /*$scope.ObservationDisplayedCollection = [].concat($scope.selectedRows);*/
                row.selected = true;
            }
            row.buttonChecked = row.selected;

            if ($scope.selectedRows.length >= 1) {
                $scope.showTermsItem = true;
                $scope.GetTermsItemList($scope.selectedRows[0].TermsID);
            }
            else {
                $scope.showFlag = false;
                $scope.showTermsItem = false;
             //   $scope.ClearTermsItem();
            }
        }

        $scope.GetTermsItemList = function (TermsID) {
            /*$scope.QuotationType = ;*/

            $http.get("/QuotationToClient/GetTermsConditionsList", { TermsID: TermsID })
                .success(function (response) {
                    $scope.TermsConditionsList = response.termsConditionsList;
                    $scope.TermsConditionsDisplayedCollection = [].concat($scope.TermsConditionsList);
                    $scope.loading = false;
                })
                .error(function () { });
        }

        $scope.checkEnter = function (event, row) {
            if (event.keyCode === 13) {
                row.givenQutnPrice = parseFloat(row.givenQutnPrice) || 0; 
                row.givenQutnAmt = row.givenQutnPrice * row.QutnQnty;
                row.givenTolAmt = parseFloat(row.givenQutnAmt) + (parseFloat(row.VatAmt) || 0);
            }
        }; 

        ////////////////////////Requsition Terms & Conditions ///////////////////////

        $scope.ShowTermsConditionsList = function () {
            $http.get("/VendorRequisition/GetTermsConditionsList")
                .success(function (response) {
                    $scope.TermsConditionsList = response.termsConditionsList;
                    $scope.TermsConditionsDisplayedCollection = [].concat($scope.TermsConditionsList);
                    $scope.loading = false;
                })
                .error(function () { });

            $('#VendorReqTermsConditionsModal').modal('show');
        };

        $scope.toggleTermsConditionsSelect = function (row) {
            //$scope.VendorReq.TermsID = row.TermsID;
            //$scope.VendorReq.FormName = row.FormName;

            $http.post('/QuotationToClient/GetVendorTermList', { TermsID: row.TermsID })
                .success(function (response) {
                    $scope.ReqTermDataSetupGridData = response.VendorTermTermList;
                    $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $('#VendorReqTermsConditionsModal').modal('hide');
        };

        $scope.VendorReqTerm = {
            VendorReqTermsID: "",
            VendorReqID: "",
            TermsID: "",
            TermsCode: "",
            TermsName: ""
        }

        $scope.AddReqTermModal = function () {

            if ($('#RequisitionNo').val() == "") {
                toastr.error("Vendor ReqNo.  Required");
                return;
            }

            if ($('#SubmissionDate').val() == "") {
                toastr.error("Submission Date Required.");
                return;
            }

            if ($('#RequisitionDate').val() == "") {
                toastr.error("Requisition Date Date Required");
                return;
            }
            $('#RequisitionTermModal').modal('show');
        };

        $scope.ReqTermDataSetupGridData = [];  // base collection
        $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);

        $scope.AddReqTerm = function () {

            if ($('#TermsCode').val() == "") {
                toastr.error("Terms Code Required");
                return;
            }

            if ($('#TermsName').val() == "") {
                toastr.error("Terms Name Required.");
                return;
            }

            $scope.VendorReqTerm.TermsCode = $('#TermsCode').val();
            $scope.VendorReqTerm.TermsName = $('#TermsName').val();

            $scope.vendorReqTermArray.push($scope.VendorReqTerm);

            $scope.ReqTermGridDisplayCollection = $scope.ReqTermGridDisplayCollection.concat($scope.VendorReqTerm);

            $scope.resetVendorReqTerm();
            $("#btnAddReqTerm").html('Add');
            $('#RequisitionTermModal').modal('hide');
        }

        $scope.resetVendorReqTerm = function () {
            $scope.VendorReqTerm = {
                VendorReqTermsID: "",
                VendorReqID: "",
                TermsID: "",
                TermsCode: "",
                TermsName: ""
            }
        }

        $scope.toggleReqTermEdit = function (tableRow, $i) {
            $('#RequisitionTermModal').modal('show');
            $scope.resetVendorReqTerm();
            $scope.VendorReqTerm.VendorReqTermID = tableRow.VendorReqTermD;
            $scope.VendorReqTerm.VendorReqID = tableRow.VendorReqID;
            $scope.VendorReqTerm.TermsID = tableRow.TermsID;
            $scope.VendorReqTerm.TermsCode = tableRow.TermsCode;
            $scope.VendorReqTerm.TermsName = tableRow.TermsName;
            $scope.ReqTermGridDisplayCollection.splice($i, 1);
            $scope.vendorReqTermArray.splice($i, 1);
            $("#btnAddReqTerm").html('Update');
        };

        $scope.toggleReqTermDelete = function (tableRow, $i) {
            if (!tableRow.VendorReqTermID) {
                $scope.resetVendorReqTerm();
                $scope.ReqTermGridDisplayCollection.splice($i, 1);
                $scope.vendorReqTermArray.splice($i, 1);
                toastr.success('Data Deleted Successsfully');
            }
            else {
                $scope.resetVendorReqTerm();
                $scope.VendorReqTerm.VendorReqTermID = tableRow.VendorReqTermID;
                $('#deleteReqTermModal').modal('show');
            }
        };

        $scope.DeleteVendorReqTerm = function () {
            $http.post('/VendorRequisition/DeleteVendorReqItemAndTerm',
                { VendorReqItemID: $scope.VendorReqItem.VendorReqItemID, VendorReqTermID: $scope.VendorReqTerm.VendorReqTermID })
                .success(function (response) {
                    if (response.status == "S203") {
                        $scope.resetVendorReqTerm();
                        $scope.ReqTermGridDisplayCollection.splice($i, 1);
                        $scope.vendorReqTermArray.splice($i, 1);
                        toastr.success('Data Deleted Successsfully');
                        return;
                    }
                });
        }

        $scope.openConfirmModal = function () {
            if (!$scope.MasterData.BriefingDate || $scope.MasterData.BriefingDate.trim() === '') {
                toastr.error('Please enter a Briefing Date');
            } else {
                // $('#ConfirmModal').modal('show');
                $scope.SaveQuotToClient();
            }
        };

        
        $scope.SaveQuotToClient = function () {

            console.log($scope.MasterData);
            console.log($scope.selectedRows);
            console.log($scope.getAllTermsDtl);

            $http.post('/QuotationToClient/SaveQuotToClient', {
                MasterData: [$scope.MasterData],
                DetailData: $scope.selectedRows,
                AllTermsDtl: $scope.getAllTermsDtl

            }).success(function (response) {

                if (response.status === "Data Save Successfully" || "Operation Done") {
                    toastr.success('Data Saved Successfully');
                    $scope.refreshPage();
                }
                else {
                    toastr.error('Something went wrong');
                }
                $scope.loading = false;
            }).error(function () {
                $scope.loading = false;
                toastr.error('Data Loading Failed.');
            });
        }

        $scope.toggleRefreshTable = function () {
            window.location.reload();
        };

        $scope.refreshPage = function () {
            setTimeout(function () {
                window.location.reload();
            }, 2000);
        }
        //utilities//
        $scope.getRowStyle = function (row) {
            if (row.selected) {
                return { background: '#b9e7d8' }; // Change this to your desired color
            } else {
                return {}; // No additional styling
            }
        };

        //$scope.getTotalTolAmt = function () {
        //    let total = 0;
        //    angular.forEach($scope.GetClientReqDetailsCollection, function (row) {
        //        total += parseFloat(row.TolAmt) || 0;
        //    });
        //    $scope.totalAmountInWords = numberToWords(total);
        //    return total;
        //};

        //// Function to convert number to words
        //function numberToWords(number) {
        //    const a = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
        //    const b = ['', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
        //    const g = ['', 'thousand', 'million', 'billion', 'trillion'];

        //    function chunk(n) {
        //        const r = [];
        //        while (n > 0) {
        //            r.push(n % 1000);
        //            n = Math.floor(n / 1000);
        //        }
        //        return r;
        //    }

        //    function inWords(n) {
        //        if (n === 0) return 'zero';
        //        const chunks = chunk(n);
        //        const words = [];
        //        for (let i = 0; i < chunks.length; i++) {
        //            const chunkWords = [];
        //            const num = chunks[i];
        //            if (num > 99) chunkWords.push(a[Math.floor(num / 100)] + ' hundred');
        //            const rest = num % 100;
        //            if (rest > 19) chunkWords.push(b[Math.floor(rest / 10)] + (rest % 10 !== 0 ? '-' + a[rest % 10] : ''));
        //            else if (rest > 0) chunkWords.push(a[rest]);
        //            if (chunkWords.length > 0) words.unshift(chunkWords.join(' ') + ' ' + g[i]);
        //        }
        //        return words.join(' ');
        //    }

        //    return inWords(number) + ' Taka only';
        //}

        //// Trigger the function to calculate total and convert to words
        //$scope.getTotalTolAmt();


    }
    )


</script>


