@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<style type="text/css">
    label {
        margin-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
    }

    .form-control {
        height: 25px;
        font-size: smaller;
        padding: 3px 6px 3px;
    }
</style>

<div class="box box-primary box-body" ng-controller="TermsCtrl">

    <div class="box-header with-border" style="font-family: Verdana; background: #E4E9E3; color: black; ">
        <i class="fa fa-user"></i>
        <h3 style="font-family: Verdana" class="box-title">Terms & Conditions Information</h3>

        <div class="box-tools pull-right">
            <div class="col-lg-12 pull-right">
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="toggleRefreshTable()" class="btn btn-warning btn-flat pull-right" ng-disabled="btnRefresh"><i class="fa fa-refresh" style="padding-right: 5px"></i>Refresh</button>
                </div>
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="SearchTermsModal()" class="btn btn-flat btn-primary pull-right " ng-disabled="btnSearch"><i class="fa fa-search" style="padding-right: 5px"></i>Search</button>
                </div>
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="Post()" class="btn btn-flat btn-primary pull-right " ng-disabled="btnSave"><i class="fa fa-save" style="padding-right: 5px"></i>   {{ vmTermsMst.TermsID ? 'Update' : 'Save' }}</button>
                </div>
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="Cancel()" class="btn btn-flat btn-primary pull-right " ng-disabled="btnSave"><i class="fa fa-save" style="padding-right: 5px"></i>Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body " style="margin: 1%; padding: 5px 5px 5px 5px;" data-ng-disabled="">
        <div class="row">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="FormName">Form Name:</label>
                        <label style="font-size: larger;color:red;">*</label>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="form-group">
                        <input id="FormName" type="text" name="FormName" required class="form-control" autofocus ng-model="vmTermsMst.FormName" placeholder="Form Name" style="height: 25px; font-size: smaller" />
                        <p ng-show="Terms.FormName.$error.required && !Terms.FormName.$pristine" class="help-block" style="height:10px;">Terms Name is required.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="SearchTermsModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="ResetSearchModel()" aria-hidden="true">x</button>
                        <h3 class="modal-title">Terms & Conditions Form Information</h3>
                    </div>
                    <div class="table-responsive" data-ng-disabled="" ng-cloak>
                        <table st-table="clientReqDisplayedCollection" st-safe-src="clientReqSearchList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                            <thead>
                                <tr>
                                    <th class="col-lg-3 col-md-3 col-sm-3" data-ng-click="sort('FormName')">Form Name</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                                </tr>
                                <tr>
                                    <th><input st-search="ClientCode" placeholder="Form Name" class="input-sm form-control" type="search" /></th>
                                    <th><input st-search="FormName" placeholder="FormName" class="input-sm form-control" type="search" /></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in clientReqDisplayedCollection">
                                    <td class="hidden">{{row.TermsID}}</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 text-left">{{row.FormName}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                        <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                            {{row.Status == '1'? 'Active':'InActive'}}
                                        </span>
                                    </td>
                                    <td>
                                        <a class="btn col-center btn-sm btn-flat btn-success" ng-href="#" ng-rel="" data-ng-click="toggleTermsSelect(row)">Select</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="100"></div></td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetSearchModel()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-info" style="border-bottom: 1px solid #d3e3e3; ">
                    <div class="box-header with-border" style="height: 40px; border-bottom: 1px solid #d3e3e3;">
                        <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Terms and Conditions List</h2>
                        <div class="box-tools pull-right">
                            <div class="col-lg-12 pull-right">
                                <div class="btn-group pull-right" style="margin:2px;">
                                    <button type="button" id="btnTermsItem" ng-disabled="btnTermsItem" data-ng-click="AddTermsModal()" class="button-detail btn"><i class="fa fa-plus" style="padding-right: 3px"></i>Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 1%; background-color: #f0f0f0; box-shadow: 2px 2px 5px #888888; padding: 5px 10px 5px 10px;">
            <div class="row">
                <div class="row" style="padding: 11px; margin-right: 15px; margin-left: 15px;">
                    <table st-table="GridDisplayCollection" st-safe-src="masterDataSetupGridData" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr>
                                <th style="text-align: left;" st-sort="">Terms & Conditions</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                <th style="text-align: left;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in GridDisplayCollection" ng-cloak style="font-size:12px;">
                                <td class="hidden">{{row.TermsItemID}}</td>
                                <td class="col-lg-1" style="width:5%;">{{row.TermsName}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    <span ng-attr-class="{{ row.ItemStatus == "1" ? 'label label-success' : 'label label-danger' }}">
                                        {{ row.ItemStatus == "1" ? 'Active' : 'Inactive' }}
                                    </span>
                                </td>
                                <td class="col-lg-1" style="width:5%;">
                                    <button type="button" ng-if="row.TermsItemID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleTermsItemEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                    <button type="button" ng-if="!row.TermsItemID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleTermsItemEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                    <button type="button" class="btn btn-xs btn-primary btn-flat btnDelete" data-ng-click="toggleReqItemDelete(row,$index)"><i class="fa fa-remove"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            @*<tr>
                                    <td colspan="11" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div></td>
                                </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div id="TermsItemModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <h3 class="modal-title">Terms and Conditions Information</h3>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <button type="button" class="close" data-dismiss="modal" ng-click="ResetTermsItemModal()" aria-hidden="true" style="color:red;">x</button>
                            </div>
                        </div>
                    </div>
                    <div ng-cloak>
                        <div class="row" style="position:relative;top:5px;">

                            <div class="col-sm-1 col-md-1 col-lg-1">
                            </div>

                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="TermsName">Terms and Conditions:</label>
                                    <label style="font-size:larger;color:red;">*</label>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input id="TermsName" name="TermsName" type="text" class="form-control" placeholder="Terms & Conditions"
                                       ng-model="vmTermsItem.TermsName" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                            </div>
                        </div>

                        <div class="row" style="position: relative; top: -3px; margin-bottom: 5px;">
                            <div class="col-sm-1 col-md-1 col-lg-1">
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group">
                                    <label for="ItemStatus">Status:</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <select data-ng-model="vmTermsItem.ItemStatus" class="form-control">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div class="btn-group pull-right" style="margin:2px;">
                                    <button type="button" id="btnTermsItem" data-ng-click="AddTermsItem ()" class="button-detail btn"><i class="fa fa-save" style="padding-right: 3px"></i>Add to Item List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteTermsItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position: fixed; top: 38%; left: 50%; transform: translate(-38%, -50%); background: rgba(0,0,0,0) !important">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-radius: 5px; width: 456px; height: 185px;">
                    <div class="modal-header" style="height: 46px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Delete Selected Item</h4>
                    </div>
                    <div class="modal-body" style="height: 80px;">
                        Are you sure to delete this item?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white; background-color: red;" ng-click="deleteTermsItem()">Yes</button>
                        <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white">No</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">

        app.controller('TermsCtrl', ['$scope', '$http', function ($scope, $http) {

            $scope.termsItemArray = [];
            $scope.itemsByPage = 10;


            $scope.vmTermsMst = {
                TermsID: "",
                FormName: "",
                Status: "1"
            }

            $scope.vmTermsItem = {
                TermsItemID: "",
                TermsName: "",
                ItemStatus: "1"
            };

        //    $scope.vmTermsItem.ItemStatus = "1";
            // ################# Detail Add Modal ####################
            $scope.AddTermsModal = function () {
                if ($('#FormName').val() == "") {
                    toastr.error("Form Name Required");
                    return;
                }
                $('#TermsItemModal').modal('show');
            };

            $scope.masterDataSetupGridData = [];  // base collection
            $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);


            $scope.AddTermsItem = function () {

                if ($('#TermsName').val() == "") {
                    toastr.error("TermsName Required.");
                    return;
                }

                $scope.vmTermsItem.TermsName = $('#TermsName').val();
                $scope.vmTermsItem.ItemStatus = $('#ItemStatus').val();
                $scope.termsItemArray.push($scope.vmTermsItem);

                $scope.GridDisplayCollection = $scope.GridDisplayCollection.concat($scope.vmTermsItem);

                $scope.resetVmTermsItem();
                $("#btnTermsItem").html('Add');
                $('#TermsItemModal').modal('hide');
            }

            $scope.resetVmTermsItem = function () {
                $scope.vmTermsItem = {
                    TermsItemID: "",
                    TermsName: "",
                    ItemStatus: "1"
                }
            }

            $scope.ClearVmTermsMst = function () {
                $scope.vmTermsMst = {
                    TermsID: "",
                    FormName: "",
                    Status: "1"
                }

                $scope.vmTermsItem = {
                    TermsItemID: "",
                    TermsName: "",
                    ItemStatus: "1"

                }

                $scope.masterDataSetupGridData = [];  // base collection
                $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);
            }

            $scope.toggleTermsItemEdit = function (tableRow, $i) {
                $('#TermsItemModal').modal('show');
                $scope.resetVmTermsItem();

                $scope.vmTermsItem.TermsName = tableRow.TermsName;

                $scope.GridDisplayCollection.splice($i, 1);
                $scope.termsItemArray.splice($i, 1);

                $("#btnTermsItem").html('Update');
            };

            $scope.toggleReqItemDelete = function (tableRow, $i) {
                if (!tableRow.TermsItemID) {
                    $scope.resetVmTermsItem();
                    $scope.GridDisplayCollection.splice($i, 1);
                    $scope.termsItemArray.splice($i, 1);
                    toastr.success('Data Deleted Successsfully');
                }
                else {
                    $scope.resetVmTermsItem();
                    $scope.vmTermsItem.TermsItemID = tableRow.TermsItemID;
                    $('#deleteTermsItemModal').modal('show');
                }
            };

            $scope.deleteTermsItem = function () {
                $http.post('/Terms/DeleteClientReqItemAndTerm',
                    { TermsItemID: $scope.vmTermsItem.TermsItemID, ClientReqTermID: $scope.ClientReqTerm.ClientReqTermID })
                    .success(function (response) {
                        if (response.status == "S203") {
                            $scope.resetVmTermsItem();
                            $scope.GridDisplayCollection.splice($i, 1);
                            $scope.termsItemArray.splice($i, 1);
                            toastr.success('Data Deleted Successsfully');
                            return;
                        }
                    });
            }

            //////////////////Search Grid List///////////////////////////////

            $scope.SearchTermsModal = function () {
                $scope.GetTermsAndConditionsSearchList();
                $('#SearchTermsModal').modal('show');
            };

            $scope.GetTermsAndConditionsSearchList = function () {
                $http.post("/Terms/GetTermsAndConditionsSearchList")
                    .success(function (response) {
                        $scope.clientReqSearchList = response.clientReqSearchList;
                        $scope.clientReqDisplayedCollection = [].concat($scope.clientReqSearchList);
                    })
                    .error(function () { });
            }

            ////////////////////////Select for Update from Search grid ///////////////////////

            $scope.toggleTermsSelect = function (tableRow) {
                $scope.vmTermsMst.FormName = tableRow.FormName;

                $http.post('/Terms/GetClientReqItemList', { TermsID: tableRow.TermsID })
                    .success(function (response) {
                        $scope.masterDataSetupGridData = response.ClientReqItemList;
                        $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);
                        $scope.loading = false;
                    }).error(function () {
                        $scope.loading = false;
                    });

                $('#SearchTermsModal').modal('hide');
            };

            ///////////////////////////////////////////////

            $scope.Post = function () {

                if ($('#FormName').val() == "") {
                    toastr.error("Form Name Required");
                    return;
                }

                $http.post('/Terms/SaveTermsAndConditions',
                    {
                        vmTerms: $scope.vmTermsMst,
                        vmTermsItem: $scope.GridDisplayCollection
                    })
                    .success(function (response) {
                        if (response.status == "S201") {
                            toastr.success("Data Saved Successfully.");
                            $scope.ClearVmTermsMst();
                            $scope.loading = false;
                            return;
                        }
                        else if (response.status == "S202") {
                            toastr.success("Data Updated Successfully.");
                            $scope.ClearVmTermsMst();
                            $scope.loading = false;
                            return;
                        }
                        else if (response.status == "S203") {
                            toastr.success("Data Deleted Successfully.");
                            $scope.ClearVmTermsMst();
                            $scope.loading = false;
                            return;
                        }
                        else {
                            toastr.error("Data Save Failed.");
                            $scope.loading = false;
                            return;
                        }
                    })
                    .error(function () {
                        toastr.error("Data Save Failed.");
                        $scope.loading = false;
                        return;
                    });
            }

            $scope.toggleRefreshTable = function () {
                window.location.reload();
            };
        }])
    </script>


