@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<style>
    body {
        font-size: 12px; /* Set global font size */
    }

    .box-body, .form-group, .btn, .form-control, .box-header {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        padding: 4px 8px;
    }

    h3.box-title {
        font-size: 14px;
    }

    input.form-control, button.form-control {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    /* Adjust icon size */
    .fa {
        font-size: 12px;
        /* padding-right: 3px;*/
    }
</style>

<div class="box box-primary box-body" ng-controller="AdvDemandVendorCtrl">
    <!-- Upper buttons -->
    <div class="box-header with-border">
        <i class="fa fa-user"></i>
        <h3 class="box-title">Advace Demand Approval</h3>

        <div class="box-tools pull-right">
            <div class="col-lg-12 pull-right">
                <div class="btn-group pull-right">
                    <button type="button" data-ng-click="toggleRefreshTable()" class="btn btn-warning btn-flat pull-right" ng-disabled="btnRefresh">
                        <i class="fa fa-refresh"></i>Refresh
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">


                <!-- PoNo -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ApprovedPOs">Available Approved PO :</label>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="PoNo" name="PoNo" type="text" data-ng-model="PoNo" class="form-control" ng-readonly="true" />
                        </div>
                    </div>

                    <div class="col-lg-1">
                        <div class="form-group">
                            <button type="button" data-ng-click="SearchAvailableClients()" class="form-control">Search</button>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>


                <div class="row">

                    <!-- Vendor Name -->
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="VendorName">Vendor Name :</label>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="VendorName" name="VendorName" type="text" data-ng-model="Client.VendorName" class="form-control" ng-readonly="true" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <!-- Vendor Quotation No -->
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="VendorQuotationNo">Vendor Quotation No :</label>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="VendorQuotationNo" name="VendorQuotationNo" type="text" data-ng-model="Client.VendorQutnNo" class="form-control" ng-readonly="true" />
                        </div>
                    </div>
                </div>


                <!-- ClientName -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ClientName">Client Name :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="ClientName" name="ClientName" type="text" data-ng-model="Client.ClientName" class="form-control" ng-readonly="true" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>

                <!-- WO Number & WO Amount-->
                <div class="row">


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="WONumber">WO Number :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="WONumber" name="WONumber" type="text" ng-model="Client.WONumber" class="form-control" ng-readonly="true" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="WOAmount">WO Amount :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="WOAmount" name="WOAmount" type="text" ng-model="Client.WOAmount" class="form-control" ng-readonly="true" />
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div id="AvailableVendors" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="ResetSearchModel()" aria-hidden="true">x</button>
                    <h3 class="modal-title">Available Purchase Orders</h3>
                </div>

                <!-- Modal Body -->
                <div class="modal-body table-responsive" ng-cloak>
                    <table st-table="AllAvailablePOsCollection" st-safe-src="AllAvailablePOsList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr>
                                <!-- Columns with sorting for VendorName, PoNo, PODate, AdvanceDemandAmount, and VendrAdvncDemnID -->
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sortList('VendorName')">
                                    Vendor Name
                                    <span ng-show="PagingInfo.sortBy == 'VendorName' && !PagingInfo.reverse" class="fa fa-caret-down"></span>
                                    <span ng-show="PagingInfo.sortBy == 'VendorName' && PagingInfo.reverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sortList('ClientName')">
                                    Vendor Name
                                    <span ng-show="PagingInfo.sortBy == 'ClientName' && !PagingInfo.reverse" class="fa fa-caret-down"></span>
                                    <span ng-show="PagingInfo.sortBy == 'ClientName' && PagingInfo.reverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sortList('PoNo')">
                                    Purchase Order No
                                    <span ng-show="PagingInfo.sortBy == 'PoNo' && !PagingInfo.reverse" class="fa fa-caret-down"></span>
                                    <span ng-show="PagingInfo.sortBy == 'PoNo' && PagingInfo.reverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sortList('PODate')">
                                    Purchase Order Date
                                    <span ng-show="PagingInfo.sortBy == 'PODate' && !PagingInfo.reverse" class="fa fa-caret-down"></span>
                                    <span ng-show="PagingInfo.sortBy == 'PODate' && PagingInfo.reverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sortList('POAmt')">
                                    Purchase Order Amount
                                    <span ng-show="PagingInfo.sortBy == 'POAmt' && !PagingInfo.reverse" class="fa fa-caret-down"></span>
                                    <span ng-show="PagingInfo.sortBy == 'POAmt' && PagingInfo.reverse" class="fa fa-caret-up"></span>
                                </th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sortList('AdvanceDemandAmount')">
                                    Recommended Demand Amount
                                    <span ng-show="PagingInfo.sortBy == 'AdvanceDemandAmount' && !PagingInfo.reverse" class="fa fa-caret-down"></span>
                                    <span ng-show="PagingInfo.sortBy == 'AdvanceDemandAmount' && PagingInfo.reverse" class="fa fa-caret-up"></span>
                                </th>

                                <th class="col-lg-1 col-md-1 col-sm-1">
                                    Action
                                </th>
                            </tr>

                            <!-- Search Fields -->
                            <tr>
                                <th>
                                    <input ng-model="PagingInfo.search.VendorName" placeholder="Search Vendor Name" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input ng-model="PagingInfo.search.ClientName" placeholder="Search Client Name" class="input-sm form-control" type="search" />
                                </th>
                                <th>
                                    <input ng-model="PagingInfo.search.PoNo" placeholder="Search PO No" class="input-sm form-control" type="search" />
                                </th>

                                <th></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="row in AllAvailablePOsList | orderBy:'IsBack':true">
                                <td class="text-center">{{row.VendorName}}</td>
                                <td class="text-center">{{row.ClientName}}</td>
                                <td class="text-center">{{row.PoNo}}</td>
                                <td class="text-center">{{row.PODate | date:'dd/MM/yyyy'}}</td>
                                <td class="text-center">{{row.POAmt}}</td>
                                <td class="text-center">{{row.AdvncDemnAmt}}</td>
                                <td class="col-lg-1 text-center">
                                    <a class="btn col-center btn-sm btn-flat btn-success" ng-click="selectAvailablePO(row)">Select</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination and No Item Message -->
                    <div ng-if="PagingInfo.totalItems > 0" class="text-center">
                        <ul uib-pagination total-items="PagingInfo.totalItems" ng-model="PagingInfo.page" items-per-page="{{PagingInfo.itemsPerPage}}" max-size="7" boundary-links="true" rotate="true" force-ellipses="true" ng-change="selectPageList()"></ul>
                    </div>
                    <div ng-if="PagingInfo.totalItems <= 0" class="text-center">
                        NO ITEM
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*</div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info" style="border-bottom: 1px solid #d3e3e3;">
                <div class="box-header with-border"
                     style="height: 40px; border-bottom: 1px solid #d3e3e3; position: relative;">
                    <h2 class="box-title"
                        style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19; margin: 0;">
                        Advance Demand Approve Info
                    </h2>

                    <!-- Dropdown Icon -->
                    <i class="fa fa-chevron-down dropdown-icon"
                       ng-click="toggleBoxBody()"
                       ng-class="{'fa-chevron-up': isBoxBodyVisible, 'fa-chevron-down': !isBoxBodyVisible}"
                       style="cursor: pointer; font-size: 20px; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                    </i>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body" ng-show="isBoxBodyVisible === true" ng-style="{'max-height': isBoxBodyVisible ? '500px' : '0', 'overflow': 'hidden', 'transition': 'max-height 0.2s ease'}">


        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Purchase Order Amount -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="PurchaseOrderAmount">Purchase Order Amount :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="PurchaseOrderAmount" name="PurchaseOrderAmount" type="text" data-ng-model="AdvanceInformmation.PurchaseOrderAmount" readonly class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="AdvanceInvoiceNo">Advance Aprrove No :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="AdvanceInvoiceNo" name="AdvanceInvoiceNo" type="text" data-ng-model="AdvanceRecom.AdvanceInvoiceNo" readonly class="form-control" />
                        </div>
                    </div>
                </div>

                <!-- Quotation Note & Billing Date -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="AdvanceDemandAmount">Aprrove Demand Amount :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="AdvanceDemandAmount" name="AdvanceDemandAmount" type="text" data-ng-model="AdvanceInformmation.AdvanceDemandAmount" readonly class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="AdvanceDemandDate">Aprrove Demand Date :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="AdvanceDemandDate" name="AdvanceDemandDate" type="text" data-ng-model="AdvanceInformmation.AdvanceDemandDate" readonly class="form-control" />

                        </div>
                    </div>

                </div>

                <!-- Quotation Note & Billing Date -->
                <div class="row">


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="RemainingAmount">Aprrove Remaining Amount :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="RemainingAmount" name="RemainingAmount" type="text" data-ng-model="AdvanceInformmation.RemainingAmount"
                                   readonly class="form-control" />
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="ProposedBy">Aprrove By :</label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <input id="ProposedBy" name="ProposedBy" type="text" readonly data-ng-model="AdvanceInformmation.ProposedBy" class="form-control" />
                        </div>
                    </div>


                </div>


            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box box-info" style="border-bottom: 1px solid #d3e3e3; ">
                <div class="box-header with-border" style="height: 40px; border-bottom: 1px solid #d3e3e3;">
                    <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Advance Payment Info</h2>

                </div>
            </div>
        </div>
    </div>

    <div class="box-body">


        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Purchase Order Amount -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="PurchaseOrderAmount">Purchase Order Amount :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="PurchaseOrderAmount" name="PurchaseOrderAmount" type="text" data-ng-model="AdvanceInformmation.PurchaseOrderAmount" readonly class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="AdvanceInvoiceNo">Advance Payment No :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="AdvanceInvoiceNo" name="AdvanceInvoiceNo" type="text" data-ng-model="AdvanceRecom.AdvanceInvoiceNo" readonly class="form-control" />
                        </div>
                    </div>
                </div>
                <!--Recommendation Amount -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="RecommendationAmount">Payment Amount :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="RecommendationAmount" name="RecommendationAmount" type="text" ng-model="AdvanceRecom.RecommendationAmount"
                                   class="form-control" autocomplete="off" ng-keydown="calculateRemainingAmount($event)" />
                        </div>
                    </div>


                    <div class="col-lg-1"></div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="RemainingAmount">Remaining Amount :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="RemainingAmount" name="RemainingAmount" type="text" ng-model="AdvanceRecom.RemainingAmount" readonly
                                   class="form-control" />
                        </div>
                    </div>

                </div>

                <!-- Quotation Note & Billing Date -->
                <div class="row">
                   
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Transaction Mode :</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <select ng-model="AdvanceRecom.TransactionMode" class="form-control">
                                <option value="">-- None --</option>
                                <option value="Cheque">Cheque</option>
                                <option value="EFT">EFT</option>
                                <option value="BkTnf">Bank Transfer</option>
                            </select>
                        </div>

                        <div class="col-lg-1"></div>


                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ParticularNo">Particular No :</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <input id="ParticularNo" name="ParticularNo" type="text" autocomplete="off" ng-model="AdvanceRecom.ParticularNo" class="form-control" />
                            </div>
                        </div>




                </div>

                <!-- Quotation Note & Billing Date -->
                <div class="row">

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="MoneyReceiptNo">Money Receipt No :</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="MoneyReceiptNo" name="MoneyReceiptNo" type="text" autocomplete="off" ng-model="AdvanceRecom.MoneyReceiptNo" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="Note">Note :</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <input id="Note" name="Note" autocomplete="off" type="text" ng-model="AdvanceRecom.Note" class="form-control" />
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-lg-9">

                    </div>

                    <div class="col-lg-2">
                        <button id="btnSaveMasterInitial" type="button" class="btn btn-success saveBtn pull-right"
                                ng-click="openConfirmModal()" data-dismiss="modal" title="Save"
                                style="padding: 6px 36px; box-shadow: -4px 5px 0px 0px rgba(0, 0, 0, 0.1); border-radius: 5px;">
                            <i class="fa fa-check"></i> Submit
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </div>


    @*Save / Delete Modal*@
    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position: fixed; top: 38%; left: 50%; transform: translate(-38%, -50%); background: rgba(0,0,0,0) !important ">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 5px; width: 456px; height: 185px;">
                <div class="modal-header" style="height: 46px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="height:30px;" id="myModalLabel">Confirm your Action</h4>
                </div>
                <div class="modal-body" style="height:80px;">
                    <h5 class="modal-title" style="height:30px;" id="myModalLabel">Are you sure to Save</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSaveMaster" class="btn button-custom" style="color: white; background-color: darkgreen;" data-dismiss="modal" ng-click="SaveQCApprove()">Confirm</button>
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white; background-color: darkred;">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <div id="mydiv" data-ng-show="loading">
        <div class="overlay">
            <div class="loder">
                <img src="~/Content/AdminLTE/img/cube.gif" /> <span class="text-bold">Loading...</span>
            </div>
        </div>
    </div>


</div>





<script type="text/javascript">



    app.controller('AdvDemandVendorCtrl', function ($scope, $http) {
        $scope.PagingInfo = {
            page: 1,
            itemsPerPage: 10,
            sortBy: null,
            reverse: false,
            search: null,
            totalItems: 0
        };


        $scope.Client = {
            ClientName: "",
            VendorName: "",
            VendorQutnNo: "",
            QuotationDate: "",
            WONumber: "",
            WOAmount: "",
        }

        $scope.AdvanceInformmation = {
            ClientID: "",
            VendorID: "",
            POAprvID: "",
            VendorQutnID: "",
            PurchaseOrderAmount: "",
            VendorAdvancID: "",
            AdvanceDemandAmount: "",
            AdvanceDemandDate: "",
            ProposedAmount: "",
            Operation: "",
            RemainingAmount: "",
            Note: "",
            UserFullName: ""
        }

        $scope.AdvanceRecom = {
            ClientID: "",
            AdvanceInvoiceNo: "",
            POAprvID: "",
            VendorQutnID: "",
            VendorAdvancID: "",
            PurchaseOrderAmount: "",
            RecommendationAmount: "",
            AdvanceDemandAmount: "",
            ProposedAmount: "",
            AdvanceDemandDate: "",
            RecommendedDate: "",
            Operation: "",
            RemainingAmount: "",

            TransactionMode: "",
            ParticularNo: "",
            MoneyReceiptNo: "",
            UserFullName: ""
        }


        //$('.DatePicker').datepicker({
        //    format: "yyyy-mm-dd",
        //    autoclose: true
        //}).on('changeDate', function (ev) {
        //    var selectedDate = $(this).val(); // Get the selected date
        //    $('.datepicker').hide();          // Hide the datepicker

        //    // Apply the selected date to AngularJS model
        //    var scope = angular.element($(this)).scope();
        //    scope.$apply(function () {
        //        scope.AdvanceRecom.RecommendedDate = selectedDate;
        //    });
        //});



        //const currentDate = new Date();
        //const day = String(currentDate.getDate()).padStart(2, '0');
        //const month = String(currentDate.getMonth() + 1).padStart(2, '0');
        //const year = currentDate.getFullYear();
        //document.getElementById("RecommendedDate").value = `${year}-${month}-${day}`;


        $scope.SearchAvailableClients = function () {
            $scope.Client = "";
            $http.post('/AdvancePayment/AllAvailableClients', {
                page: $scope.PagingInfo.page,
                itemsPerPage: $scope.PagingInfo.itemsPerPage,
                sortBy: $scope.PagingInfo.sortBy,
                reverse: $scope.PagingInfo.reverse,
                search: $scope.PagingInfo.search,
                type: "isBack"

            }).success(function (response) {
                $scope.AllAvailablePOsList = response.AllAvailableClientsList;
                $scope.AllAvailablePOsCollection = [].concat($scope.AllAvailablePOsList);
                $scope.loading = false;
            }).error(function () {
                $scope.loading = false;
            });
            $('#AvailableVendors').modal('show');
        };

        $scope.selectPageList = function () {
            $http.post('/AdvancePayment/AllAvailableClients', {

                page: $scope.PagingInfo.page,
                itemsPerPage: $scope.PagingInfo.itemsPerPage,
                sortBy: $scope.PagingInfo.sortBy,
                reverse: $scope.PagingInfo.reverse,
                search: $scope.PagingInfo.search,
                type: "isBack"

            }).success(function (response) {
                $scope.AllAvailablePOsList = response.AllAvailableClientsList;
                $scope.AllAvailablePOsCollection = [].concat($scope.AllAvailablePOsList);
                $scope.loading = false;
            })
                .error(function () {
                    $scope.loading = false;
                });
        }

        $scope.sortList = function (sortBy) {
            if (sortBy === $scope.PagingInfo.sortBy) {
                $scope.PagingInfo.reverse = !$scope.pagingInfo.reverse;
            } else {
                $scope.PagingInfo.sortBy = sortBy;
                $scope.PagingInfo.reverse = false;
            }
            $scope.PagingInfo.page = 1;
            /*$scope.Search();*/
        };

        $scope.selectAvailablePO = function (row) {
            $('#AvailableVendors').modal('hide');
            $scope.loading = true;

            $scope.PoNo = row.PoNo;
            /*  $scope.AdvanceInformmation.PurchaseOrderAmount = row.POAprvAmnt;*/
            $scope.AdvanceInformmation.ClientID = row.ClientID;
            $scope.AdvanceInformmation.VendorID = row.VendorID;
            $scope.AdvanceInformmation.POAprvID = row.POAprvID;
            $scope.AdvanceInformmation.VendorQutnID = row.VendorQutnID;

            $http.post('/AdvancePayment/AvailableClientDetailInfo', {
                ClientID: row.ClientID,
                VendrAdvncDemnID: row.VendrAdvncDemnID,

            }).success(function (response) {
                $scope.ClientDetails = response.ClientDetails;

                $scope.Client = {
                    ClientName: $scope.ClientDetails[0].ClientName,
                    VendorID: $scope.ClientDetails[0].VendorID,
                    /*VendorQutnNo: $scope.ClientDetails[0].VendorQutnNo,*/
                    VendorName: $scope.ClientDetails[0].VendorName,
                    WONumber: $scope.ClientDetails[0].WONo,
                    WOAmount: $scope.ClientDetails[0].WOAmt
                };

                $scope.AdvanceInformmation = {
                    ClientID: $scope.ClientDetails[0].ClientID,
                    VendorID: $scope.ClientDetails[0].VendorID,
                    POAprvID: $scope.ClientDetails[0].POAprvID,
                    AdvanceInvoiceNo: $scope.ClientDetails[0].VendrAdvncDemnID,
                /*    VendorQutnID: $scope.ClientDetails[0].VendorQutnID,*/
                    PurchaseOrderAmount: $scope.ClientDetails[0].POAprvAmnt,
                    AdvanceDemandAmount: $scope.ClientDetails[0].AdvncDemnAmt,
                    ProposedAmount: $scope.ClientDetails[0].ProposedAmt,
                    RemainingAmount: $scope.ClientDetails[0].RemainingAmt,
                    AdvanceDemandDate: $scope.ClientDetails[0].AdvncDemnDate,
                    POAprvID: $scope.ClientDetails[0].POAprvID,
                    ProposedBy: $scope.ClientDetails[0].UserFullName,

                };

                $scope.AdvanceRecom = {
                    ClientID: $scope.ClientDetails[0].ClientID,
                    AdvanceInvoiceNo: $scope.ClientDetails[0].VendrAdvncDemnID,
                    ProposedAmount: $scope.ClientDetails[0].ProposedAmt,
                    PurchaseOrderAmount: $scope.ClientDetails[0].POAprvAmnt,
                    ClientReqID: $scope.ClientDetails[0].ClientReqID,
                    WOInfoID: $scope.ClientDetails[0].WOInfoID,

                    POAprvID: $scope.ClientDetails[0].POAprvID,

                };

                $scope.loading = false;
            }).error(function () {
                $scope.loading = false;
            });
        };

        $scope.calculateRemainingAmount = function (event) {
            if (event.keyCode === 13 || event.keyCode === 9) {
                performCalculation();
            }
        };



        $scope.isBoxBodyVisible = false;

        $scope.toggleBoxBody = function () {
            $scope.isBoxBodyVisible = !$scope.isBoxBodyVisible;
        };

        function performCalculation() {
            if ($scope.AdvanceRecom.PurchaseOrderAmount && $scope.AdvanceRecom.RecommendationAmount) {
                $scope.AdvanceRecom.RemainingAmount = $scope.AdvanceRecom.PurchaseOrderAmount - $scope.AdvanceRecom.RecommendationAmount;
            } else {
                $scope.AdvanceRecom.RemainingAmount = 0;
            }
        }

        $scope.$watchGroup(['AdvanceRecom.PurchaseOrderAmount', 'AdvanceRecom.RecommendationAmount'], function (newValues, oldValues) {
            performCalculation();
        });




        $scope.showFlag = false;
        $scope.selectedRows = [];
        $scope.buttonChecked = false;



        $scope.openConfirmModal = function () {
                $scope.SaveQuotToClient();
       
        };

        $scope.SaveQuotToClient = function () {

            console.log($scope.AdvanceRecom);

            $http.post('/AdvancePayment/SaveQuotToClient', {
                MasterData: [$scope.AdvanceRecom],

                TransactionMode: $scope.AdvanceRecom.TransactionMode,
                ParticularNo: $scope.AdvanceRecom.ParticularNo,
                MoneyReceiptNo: $scope.AdvanceRecom.MoneyReceiptNo

            }).success(function (response) {

                if (response.status === "Data Save Successfully" || "Operation Done") {
                    toastr.success('Data Saved Successfully');
                    $scope.refreshPage();
                }
                else {
                    toastr.error('Something went wrong');
                }
                $scope.loading = false;
            }).error(function () {
                $scope.loading = false;
                toastr.error('Data Loading Failed.');
            });
        }


        // ################# Detail Add Modal ####################
        $scope.AddDtlModal = function () {

            $scope.ClearTermsItem();

            $('#TermsDtlModal').modal('show');
            $scope.vmTermsItem.ItemStatus = "1";
            $("#btnDtlSaveUpdate").html('Add');
        };

        // ################# Detail Edit Modal ####################
        $scope.toggleEdit = function (row) {
            $('#TermsDtlModal').modal('show');
            $scope.loading = true;
            //console.log(row);
            $scope.vmTermsItem.TermsItemID = row.TermsItemID;
            $scope.vmTermsMst.TermsID = row.TermsID;
            $scope.vmTermsItem.TermsCode = row.TermsCode;
            $scope.vmTermsItem.TermsName = row.TermsName;
            $scope.vmTermsItem.ItemStatus = row.ItemStatus;

            $scope.loading = false;
            $("#btnDtlSaveUpdate").html('Update');
        };

        //#################### Delete Action ###############
        $scope.deleteConfirm = function () {
            var postData = JSON.stringify(convArrToObj($scope.vmTermsItem));
            $scope.loading = true;
            $http.post('/Terms/DeleteTermsItem', postData).success(function (response) {
                $scope.loading = false;
                if (response.status == "S203") {
                    toastr.success("Data Deleted Successfully.");
                    $scope.ClearTermsItem();
                    $('#deleteModal').modal('hide');
                    $scope.loading = false;
                    $scope.GetTermsItemList();
                    return;
                }
            }).error(function (data) {
                $scope.loading = false;
                toastr.error(data);
            });
        };

        $scope.toggleDelete = function (row) {
            $scope.vmTermsItem = row;
            $('#deleteModal').modal('show');
        };


        $scope.ResetDtlModel = function () {
            $scope.ClearTermsItem();
        };

        $scope.toggleRefreshTable = function () {
            window.location.reload();
        };
        ///////////////Reset Detail Model////////////////
        $scope.ClearTermsItem = function () {
            //$scope.getAllTermsDtl.TermsItemID = "";
            //$scope.getAllTermsDtl.TermsCode = "";
            //$scope.getAllTermsDtl.TermsName = "";
            //$scope.getAllTermsDtl.ItemStatus = "";

            $scope.getAllTermsDtl = "";
            $scope.displayedCollection = "";
        }

        $scope.refreshPage = function () {
            setTimeout(function () {
                window.location.reload();
            }, 2000);
        }
        //utilities//
        $scope.getRowStyle = function (row) {
            if (row.selected) {
                return { background: '#b9e7d8' }; // Change this to your desired color
            } else {
                return {}; // No additional styling
            }
        };
    }
    )


</script>