@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="box box-primary box-body" ng-controller="VendorInfoCtrl">
    <form name="VendorInfo" novalidate ng-submit="submitform(VendorInfo.$valid)" autocomplete="off">
        <!-- box-header  box header-->
        <div class="box-header with-border bg-light-blue-gradient" style="height:38px;">
            @*<i class="fa fa-list-alt"></i>*@
            <h2 class="box-title" style="font-family: 'MV Boli';font-weight:500; ">Vendor Information</h2>
            <div class="box-tools pull-right">
                <div class="col-lg-12 pull-right">
                    <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                        <button type="button" data-ng-click="toggleRefreshTable()" class="button-custom" ng-disabled="btnRefresh"><i class="fa fa-refresh" style="padding-right: 5px"></i>Refresh</button>
                    </div>
                    <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                        <button type="button" data-ng-click="SearchVendorInfoModal()" class="button-custom" ng-disabled="btnSearch"><i class="fa fa-search" style="padding-right: 5px"></i>Search</button>
                    </div>
                    <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                        <button type="button" data-ng-click="Post()" class="button-custom" ng-disabled="btnSave"><i class="fa fa-save" style="padding-right: 5px"></i>Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label>Vendor Code</label>
                        <label style="font-size: larger;color:red;">*</label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <input id="VendorCode" name="VendorCode" type="text" autocomplete="off" class="form-control" placeholder="Vendor Code" required data-ng-model="vmVendorInfoMst.VendorCode" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="VendorName">Vendor Name</label>
                        <label style="font-size: larger;color:red;">*</label>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <div class="form-group">
                        <input id="VendorName" type="text" name="VendorName" required class="form-control" autofocus ng-model="vmVendorInfoMst.VendorName" placeholder="Vendor Name" style="height: 25px; font-size: smaller" />
                        <p ng-show="VendorInfo.VendorName.$error.required && !VendorInfo.VendorName.$pristine" class="help-block" style="height:10px;">Vendor Name is required.</p>
                    </div>
                </div>
            </div>

            <div class="row" style="position: relative; top: -6px; margin-bottom: 5px;">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label>Vendor Tin No</label>
                        <label style="font-size: smaller;color:red;">*</label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <input id="VendorTinNo" name="VendorTinNo" type="text" autocomplete="off" class="form-control" placeholder="Vendor Tin No" required ng-model="vmVendorInfoMst.VendorTinNo" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="ContactNumber">Vendor Bin No<span style="font-size:larger;color:red;"> *</span></label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <input id="VendorBinNo" name="VendorBinNo" type="text" class="form-control" placeholder="Vendor Bin No"
                           ng-model="vmVendorInfoMst.VendorBinNo" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                </div>
            </div>

            <div class="row" style="position: relative; top: -17px; margin-bottom: 5px;">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="VendorCategory">Vendor Category</label>
                        <label style="font-size: larger;color:red;">*</label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <select id="VendorCategory" name="vendorCategory" class="form-control" ng-model="vmVendorInfoMst.VendorCategory"
                                ng-options="vendorCategory as vendorCategory.VendorCategoryName for vendorCategory in vendorCategorys track by vendorCategory.VendorCategoryID" required="required">
                            <option value="" style="display: none">-- Select--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="Status">Status</label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <select data-ng-model="vmVendorInfoMst.Status" class="form-control">
                        <option value="">-- None --</option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </div>
            </div>

            <div class="row" style="position:relative;top:2px;">
                <div class="col-md-12">
                    <div class="box box-info" style="border-bottom: 1px solid #d3e3e3; ">
                        <div class="box-header with-border" style="height: 40px; border-bottom: 1px solid #d3e3e3;">
                            <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Vendor Address List</h2>
                            <div class="box-tools pull-right">
                                <div class="col-lg-12 pull-right">
                                    <div class="btn-group pull-right" style="margin:2px;">
                                        <button type="button" id="btnAdd" ng-disabled="btnAdd" data-ng-click="AddDtlModal()" class="button-detail btn"><i class="fa fa-plus" style="padding-right: 3px"></i>Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table st-table="displayedCollection" st-safe-src="getAllVendorInfoDtl" class="table table-condensed table-bordered table-striped table-hover pnlView">
            <thead>
                <tr style="color: darkblue;">
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="VendorAddressID">SL.</th>
                    <th class="col-lg-2 col-md-2 col-sm-2" st-sort="ContactPerson">Contact Person</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="ContactNumber">Contact Number</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="PhoneNumber">Phone Number</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="Email">Email</th>
                    <th class="col-lg-2 col-md-2 col-sm-2" st-sort="Address">Address</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="AddressStatus">Status</th>
                    <th class="col-lg-2 col-md-2 col-sm-2">Action</th>
                </tr>
                @*<tr>
                        <th><input st-search="ContactPerson" placeholder="Sl No" class="input-sm form-control" type="search" /></th>
                        <th></th>
                        <th><input st-search="ContactNumber" placeholder="Introduce Date" class="input-sm form-control" type="search" /></th>
                    </tr>*@
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection" style="height:20px;">
                    @*<td class="hidden">{{row.VendorAddressID}}</td>*@
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.VendorAddressID}}</td>
                    <td class="col-lg-2 col-md-2 col-sm-2">{{row.ContactPerson}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.ContactNumber}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.PhoneNumber}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.Email}}</td>
                    <td class="col-lg-2 col-md-2 col-sm-2">{{row.Address}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                        <span ng-attr-class="{{row.AddressStatus =='1'? 'label label-success' : 'label label-danger' }}">
                            {{row.AddressStatus == '1'? 'Active':'InActive'}}
                        </span>
                    </td>
                    <td class="col-lg-2 col-md-2 col-sm-2 text-center">
                        <button type="button" class="button-detail" style="height:28px;" data-ng-click="toggleEdit(row)"><i class="fa fa-edit"></i> Edit</button>
                        <button type="button" class="btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" data-ng-click="toggleDelete(row)"><i class="fa fa-remove"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="100"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="VendorInfoDtlModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <h3 class="modal-title">Vendor Address Information</h3>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button type="button" class="close" data-dismiss="modal" ng-click="ResetDtlModel()" aria-hidden="true" style="color:red;">x</button>
                        </div>
                    </div>
                </div>
                <div ng-cloak>
                    <div class="row" style="position:relative;top:5px;">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="ContactPerson">Contact Person</label>
                                <label style="font-size: larger;color:red;">*</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="ContactPerson" type="text" name="ContactPerson" required class="form-control" autofocus ng-model="vmVendorAddress.ContactPerson" placeholder="ContactPerson" style="height: 25px; font-size: smaller" />
                        </div>

                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="ContactNumber">Contact Number</label>
                                <label style="font-size:larger;color:red;">*</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="ContactNumber" name="ContactNumber" type="text" class="form-control" placeholder="Contact Number"
                                   ng-model="vmVendorAddress.ContactNumber" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                        </div>
                    </div>

                    <div class="row" style="position: relative; top: -3px; margin-bottom: 5px;">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="Phone Number">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="PhoneNumber" name="PhoneNumber" type="text" class="form-control" placeholder="Contact Number"
                                   ng-model="vmVendorAddress.PhoneNumber" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="Email">Email</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="Email" name="Email" type="text" class="form-control" placeholder="Email"
                                   ng-model="vmVendorAddress.Email" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                        </div>
                    </div>

                    <div class="row" style="position:relative;top:3px;">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <label style="font-size: larger;color:red;">*</label>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input id="Address" type="text" name="Address" required maxlength="200" class="form-control" autofocus ng-model="vmVendorAddress.Address" placeholder="Vendor Address" style="height: 25px; font-size: smaller" />
                        </div>
                    </div>

                    <div class="row" style="position: relative; top: -3px; margin-bottom: 5px;">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="AddressStatus">Status</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <select data-ng-model="vmVendorAddress.AddressStatus" class="form-control">
                                <option value="">-- None --</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="btn-group pull-right" style="margin:2px;">
                                <button type="button" id="btnDtlSaveUpdate" data-ng-click="AddUpdateDtl()" class="button-detail btn"><i class="fa fa-save" style="padding-right: 3px"></i>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="SearchVendorInfoModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="ResetSearchModel()" aria-hidden="true">x</button>
                    <h3 class="modal-title">Vendor Address Information</h3>
                </div>
                <div class="table-responsive" data-ng-disabled="" ng-cloak>
                    <table st-table="VendorInfoDisplayedCollection" st-safe-src="VendorInfoSearchList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('VendorCode')">Vendor Code</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('VendorName')">Vendor Name</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('VendorCategoryName')">Vendor Category</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('VendorTinNo')">Tin No</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('VendorBinNo')">Bin No</th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sort('Status')">Status</th>
                                <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                            </tr>
                            <tr>
                                <th><input st-search="VendorCode" placeholder="Vendor Code" class="input-sm form-control" type="search" /></th>
                                <th><input st-search="VendorName" placeholder="VendorName" class="input-sm form-control" type="search" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in VendorInfoDisplayedCollection">
                                <td class="hidden">{{row.VendorID}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.VendorCode}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.VendorName}}</td>
                                <td class="hidden">{{row.VendorCategoryID}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.VendorCategoryName}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.VendorTinNo}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.VendorBinNo}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                        {{row.Status == '1'? 'Active':'InActive'}}
                                    </span>
                                </td>

                                <td>
                                    <a class="btn col-center btn-sm btn-flat btn-success" ng-href="#" ng-rel="" data-ng-click="toggleVendorInfoSelect(row)">Select</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="100"></div></td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetSearchModel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete ServiceCategory Modal -->
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Delete Confirmation</h3>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Are you sure? </label>
                            <p> You want to delete this record.</p>
                        </div>
                    </div><!-- /.box-body -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="yes" class="btn btn-danger" ng-disabled="loading" data-ng-click="deleteConfirm()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>

                </div>
            </div>
        </div>
    </div>
    <!-- /Delete ServiceCategory Modal -->
    <div id="mydiv" data-ng-show="loading">
        <div class="overlay">
            <div class="loder">
                <img src="~/Content/AdminLTE/img/cube.gif" /> <span class="text-bold">Loading...</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    app.controller('VendorInfoCtrl', function ($scope, $http) {
        //applySecurity();

        ///////////////Variable Declaration////////////////////////
        $scope.itemsByPage = 20;
        $scope.getAllVendorInfoDtl = [];  // base collection
        $scope.displayedCollection = [].concat($scope.getAllVendorInfoDtl);  // displayed collection
        $scope.disableKey = true;

        $http.get('/VendorInfo/GetServicesCategory')
            .success(function (response) {
                $scope.loading = false;
                $scope.vendorCategorys = response.result;
            }).error(function () { });

        ///////////////Master Model////////////////
        $scope.vmVendorInfoMst =
        {
            VendorID: "",
            VendorCode: "",
            VendorName: "",
            VendorCategory: { VendorCategoryID: "", VendorCategoryName: "" },
            VendorTinNo: "",
            VendorBinNo: "",
            Status: ""
        };

        $scope.ClearVendorInfo = function () {
            $scope.vmVendorInfoMst =
            {
                VendorID: "",
                VendorCode: "",
                VendorName: "",
                VendorCategory: { VendorCategoryID: "", VendorCategoryName: "" },
                VendorTinNo: "",
                VendorBinNo: "",
                Status: ""
            };
        }

        ///////////////Detail Add Model////////////////
        $scope.vmVendorAddress =
        {
            VendorAddressID: "",
            ContactPerson: "",
            ContactNumber: "",
            PhoneNumber: "",
            Address: "",
            Email: "",
            AddressStatus: ""
        };

        ///////////////Reset Detail Model////////////////
        $scope.ClearVendorAddress = function () {
            $scope.vmVendorAddress.VendorAddressID = "";
            $scope.vmVendorAddress.ContactPerson = "";
            $scope.vmVendorAddress.PhoneNumber = "";
            $scope.vmVendorAddress.ContactNumber = "";
            $scope.vmVendorAddress.Address = "";
            $scope.vmVendorAddress.Email = "";
            $scope.vmVendorAddress.AddressStatus = "";
        }

        ///////////////////////Default Value////////////////////////

        $scope.vmVendorInfoMst.Status = "1";
        $scope.vmVendorAddress.AddressStatus = "1";

        //////////////////Search Grid List///////////////////////////////

        $scope.SearchVendorInfoModal = function () {
            $scope.GetVendorInfoSearchList();
            $('#SearchVendorInfoModal').modal('show');
        };

        $scope.GetVendorInfoSearchList = function () {
            $http.post("/VendorInfo/GetVendorInfoSearchList")
                .success(function (response) {
                    $scope.VendorInfoSearchList = response.VendorInfoSearchList;
                    $scope.VendorInfoDisplayedCollection = [].concat($scope.VendorInfoSearchList);
                })
                .error(function () { });
        }

        ///////////////////////////////////////////////

        ////////////////////////Select for Update from Search grid ///////////////////////

        $scope.toggleVendorInfoSelect = function (tableRow) {
            $scope.vmVendorInfoMst.VendorID = tableRow.VendorID;
            $scope.vmVendorInfoMst.VendorCode = tableRow.VendorCode;
            $scope.vmVendorInfoMst.VendorName = tableRow.VendorName;
            $scope.vmVendorInfoMst.VendorCategory.VendorCategoryID = tableRow.VendorCategoryID;
            $scope.vmVendorInfoMst.VendorTinNo = tableRow.VendorTinNo;
            $scope.vmVendorInfoMst.VendorBinNo = tableRow.VendorBinNo;
            $scope.vmVendorInfoMst.Status = tableRow.Status;

            $http.post('/VendorInfo/GetVendorAddressList', { VendorID: tableRow.VendorID })
                .success(function (response) {
                    //$scope.ClearVendorAddress();
                    $scope.getAllVendorInfoDtl = response.VendorAddressList;
                    $scope.displayedCollection = [].concat($scope.getAllVendorInfoDtl);  // displayed collection
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $('#SearchVendorInfoModal').modal('hide');
        };

        ///////////////////////Save/Update Master///////////////////////

        $scope.Post = function () {
            if ($("#VendorCode").val() == "") {
                toastr.error("Vendor Code is required");
                return;
            }

            if ($("#VendorName").val() == "") {
                toastr.error("Vendor Name is required");
                return;
            }

            if ($("#VendorCategory").val() == "") {
                toastr.error("Vendor Category is required");
                return;
            }

            if ($("#VendorBinNo").val() == "") {
                toastr.error("Vendor BinNo is required");
                return;
            }

            if ($("#VendorTinNo").val() == "") {
                toastr.error("Vendor TinNo is required");
                return;
            }

            $scope.loading = true;
            $scope.vmVendorInfoMst.VendorCode = $('#VendorCode').val();
            $scope.vmVendorInfoMst.VendorName = $('#VendorName').val();
            $scope.vmVendorInfoMst.VendorCategoryID = $scope.vmVendorInfoMst.VendorCategory.VendorCategoryID;
            $scope.vmVendorInfoMst.VendorTinNo = $('#VendorTinNo').val();
            $scope.vmVendorInfoMst.VendorBinNo = $('#VendorBinNo').val();
            $scope.vmVendorInfoMst.Status = $scope.vmVendorInfoMst.Status;
            $http.post('/VendorInfo/SaveVendorInfoMst', { _modelVendorInfoMst: $scope.vmVendorInfoMst })
                .success(function (response) {
                    if (response.status == "S201") {
                        toastr.success("Data Saved Successfully.");
                        $scope.ClearVendorInfo();
                        $scope.loading = false;
                        return;
                    }
                    else if (response.status == "S202") {
                        toastr.success("Data Updated Successfully.");
                        $scope.ClearVendorInfo();
                        $scope.loading = false;
                        return;
                    }
                    else if (response.status == "S203") {
                        toastr.success("Data Deleted Successfully.");
                        $scope.ClearVendorInfo();
                        $scope.loading = false;
                        return;
                    }
                    else {
                        toastr.error("Data Save Failed.");
                        $scope.loading = false;
                        return;
                    }
                })
                .error(function () {
                    toastr.error("Data Save Failed");
                    $scope.loading = false;
                    return;
                });
        };

        ////////////////////////////////////////////////////////////////////////////////

        //################ Save/Update Detail ###################
        $scope.AddUpdateDtl = function () {

            if ($("#ContactPerson").val() == "") {
                toastr.error("Contact Person required");
                return;
            }

            if ($("#ContactNumber").val() == "") {
                toastr.error("Contact Number Date required");
                return;
            }

            if ($("#Address").val() == "") {
                toastr.error("Address required");
                return;
            }

            $scope.loading = true;
            $scope.vmVendorAddress.VendorAddressID = $scope.vmVendorAddress.VendorAddressID;// $('#VendorAddressID').val();
            $scope.vmVendorAddress.VendorID = $scope.vmVendorInfoMst.VendorID;// $('#VendorID').val();
            $scope.vmVendorAddress.ContactPerson = $('#ContactPerson').val();
            $scope.vmVendorAddress.ContactNumber = $('#ContactNumber').val();
            $scope.vmVendorAddress.PhoneNumber = $('#PhoneNumber').val();
            $scope.vmVendorAddress.Address = $('#Address').val();
            $scope.vmVendorAddress.Email = $('#Email').val();
            $scope.vmVendorAddress.AddressStatus = $scope.vmVendorAddress.AddressStatus;

            $http.post('/VendorInfo/SaveVendorAddress', { _modelVendorAddress: $scope.vmVendorAddress })
                .success(function (response) {
                    if (response.status == "S201") {
                        toastr.success("Data Saved Successfully.");
                        $scope.ClearVendorAddress();
                        $scope.loading = false;

                        $('#VendorInfoDtlModal').modal('hide');
                        $scope.GetVendorAddressList();
                        return;
                    }
                    else if (response.status == "S202") {
                        toastr.success("Data Updated Successfully.");
                        $scope.ClearVendorAddress();
                        $scope.loading = false;

                        $('#VendorInfoDtlModal').modal('hide');

                        $scope.GetVendorAddressList();
                        return;
                    }
                    else if (response.status == "S203") {
                        toastr.success("Data Deleted Successfully.");
                        $scope.ClearVendorAddress();
                        $scope.loading = false;
                        $('#VendorInfoDtlModal').modal('hide');
                        $scope.GetVendorAddressList();
                        return;
                    }
                    else {
                        toastr.error("Data Save Failed.");
                        $scope.loading = false;
                        return;
                    }

                    //$scope.Clear();
                    $scope.loading = false;
                    return;
                })
                .error(function () {
                    toastr.error("Data Save Failed");
                    $scope.loading = false;
                    return;
                });
        };
        $scope.GetVendorAddressList = function () {
            $http.post('/VendorInfo/GetVendorAddressList', { VendorID: $scope.vmVendorInfoMst.VendorID })
                .success(function (response) {
                    $scope.ClearVendorAddress();
                    $scope.getAllVendorInfoDtl = response.VendorAddressList;
                    $scope.displayedCollection = [].concat($scope.getAllVendorInfoDtl);  // displayed collection
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });
        }
        // ################# Detail Add Modal ####################
        $scope.AddDtlModal = function () {
            $('#VendorInfoDtlModal').modal('show');
            $scope.vmVendorAddress.AddressStatus = "1";
            $("#btnDtlSaveUpdate").html('Save');
        };

        // ################# Detail Edit Modal ####################
        $scope.toggleEdit = function (row) {
            $('#VendorInfoDtlModal').modal('show');
            $scope.loading = true;
            console.log(row);
            $scope.vmVendorAddress.VendorAddressID = row.VendorAddressID;
            $scope.vmVendorInfoMst.VendorID = row.VendorID;
            $scope.vmVendorAddress.ContactPerson = row.ContactPerson;
            $scope.vmVendorAddress.ContactNumber = row.ContactNumber;
            $scope.vmVendorAddress.PhoneNumber = row.PhoneNumber;
            $scope.vmVendorAddress.Email = row.Email;
            $scope.vmVendorAddress.Address = row.Address;
            $scope.vmVendorAddress.AddressStatus = row.AddressStatus;

            $scope.loading = false;
            $("#btnDtlSaveUpdate").html('Update');
        };

        //#################### Delete Action ###############
        $scope.deleteConfirm = function () {
            var postData = JSON.stringify(convArrToObj($scope.vmVendorAddress));
            $scope.loading = true;
            $http.post('/VendorInfo/DeleteVendorAddress', postData).success(function (response) {
                if (response.status == "S203") {
                    toastr.success("Data Deleted Successfully.");
                    $scope.ClearVendorAddress();
                    $('#deleteModal').modal('hide');
                    $scope.loading = false;
                    $scope.GetVendorAddressList();
                    return;
                }
            }).error(function (data) {
                $scope.loading = false;
                toastr.error(data);
            });
        };

        $scope.toggleDelete = function (row) {
            $scope.vmVendorAddress = row;
            $('#deleteModal').modal('show');
        };


        $scope.ResetDtlModel = function () {
            $scope.ClearVendorAddress();
        };

        $scope.toggleRefreshTable = function () {
            window.location.reload();
        };
        ////////////////////////////////////////////////////////////////////////////////
    });

</script>