

@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<title>Reference Documents Details</title>
<div class="box box-primary box-body" ng-controller="FinalClientDueBillReportCtrl" data-ng-init="init()">
    @using (Html.BeginForm("FinalClientDueBillReport", "../Reports", System.Web.Mvc.FormMethod.Post, new { target = "_blank", name = "H1Form", id = "H1Form" }))
    {
        <!-- box-header -->
        <div class="box-header with-border bg-light-blue-gradient" style="height: 38px;">
            <h3 class="box-title" style="font-family: math; font-weight: 500;">Client Wise Due Bill Report</h3>

            <div class="box-tools pull-right">
                <div class="row">
                    <div class="col-lg-4">
                        <button ng-disabled="showPrint" type="submit" id="btnSubmit" name="ButtonType" value="Preview" class="button-custom pull-right">
                            <i class="fa fa-print"></i> Preview
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <button ng-disabled="showPrint" type="submit" id="btnSubmit" name="ButtonType" value="Download" class="button-custom pull-left">
                            <i class="fa fa-download"></i> Download
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" id="btnRefresh" data-ng-click="toggleRefreshTable()" class="button-custom pull-right" ng-disabled="loading">
                            <i class="fa fa-refresh"></i> Refresh
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-lg-3 ">
                    <div class="form-group">
                        <label for="ClientName">Client Name :</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="ClientName" name="ClientName" type="text" data-ng-model="ClientReq.ClientName" class="form-control" ng-readonly="true" />
                    </div>
                </div>
                <div class="col-lg-1">
                    <button type="button" data-ng-click="ShowClientList()" class="form-control">Search</button>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label style="padding-left: 30px;">Download Type</label>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4">
                    <input type="radio" name="ReportType" value="PDF" checked="checked" /> <label>PDF</label>
                    <input type="radio" name="ReportType" value="EXCEL" /> <label>EXCEL</label>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label>Date From</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <input id="txtBillReceiveFromDate" name="BillReceiveFromDate" readonly required type="text" autocomplete="off" class="DatePicker form-control" placeholder="DD/MM/YYYY"
                               data-ng-model="vmChequeOrEFTInfoVendorWise.BillReceiveFromDate" style="background:#fff" />
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <label style="padding-left: 30px;">to</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <input id="txtBillReceiveToDate" name="BillReceiveToDate" readonly required type="text" autocomplete="off" class="DatePicker form-control" placeholder="DD/MM/YYYY"
                           data-ng-model="vmChequeOrEFTInfoVendorWise.BillReceiveToDate" style="background:#fff" />
                </div>
            </div>
        </div>

        <div id="ClientInfoModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="ResetModel()" aria-hidden="true">x</button>
                        <h3 class="modal-title">Client Information</h3>
                    </div>
                    <div class="modal-body table-responsive">
                        <table st-table="ClientDisplayedCollection" st-safe-src="ClientList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                            <thead>
                                <tr>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ClientCode')">Client Code</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ClientName')">Client Name</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ClientCategoryName')">Client Category</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ContactPerson')">Contact Person</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ContactNumber')">Contact Number</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Address')">Address</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                                </tr>
                                <tr>
                                    <th><input st-search="ClientCode" placeholder="Client Code" class="input-sm form-control" type="search" /></th>
                                    <th><input st-search="ClientName" placeholder="ClientName" class="input-sm form-control" type="search" /></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in ClientDisplayedCollection">
                                    <td class="hidden">{{row.ClientID}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.ClientCode}}</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.ClientName}}</td>
                                    <td class="hidden">{{row.ClientCategoryID}}</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.ClientCategoryName}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.ContactPerson}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.ContactNumber}}</td>
                                    <td class="hidden">{{row.ClientAddressID}}</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.Address}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                        <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                            {{row.Status == '1'? 'Active':'InActive'}}
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-primary btn-flat btnEdit" data-ng-click="toggleClientSelect(row)"><i class="fa fa-edit"></i> Select</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetModel()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    }
</div>

<script type="text/javascript">

    $('.DatePicker').datepicker({
        format: "dd/mm/yyyy",
        autoclose: true
    });
    $('#txtBillReceiveFromDate').datepicker().on('changeDate', function (ev) {
        var EnteredDate = $('#txtBillReceiveFromDate').val(); // For JQuery
        var date = EnteredDate.substring(0, 2);
        var month = EnteredDate.substring(3, 5);
        var year = EnteredDate.substring(6, 10);
        var myDate = new Date(year, month - 1, date);

        var today = new Date();
        if (myDate > today) {
            $('#txtBillReceiveFromDate').val('');
            toastr.error("Date should not grater than system date.");
        }
        ////////////
        if ($('#txtBillReceiveToDate').val() != '') {
            var EnteredToDate = $('#txtBillReceiveToDate').val(); // For JQuery
            var date = EnteredToDate.substring(0, 2);
            var month = EnteredToDate.substring(3, 5);
            var year = EnteredToDate.substring(6, 10);
            var myToDate = new Date(year, month - 1, date);
            if (myToDate < myDate) {
                $('#txtBillReceiveFromDate').val('');
                toastr.error("From Date should Smaller than To Date.");
            }
        }
        ///////

        $('.datepicker').hide();
    });

    $('#txtBillReceiveToDate').datepicker().on('changeDate', function (ev) {
        var EnteredDate = $('#txtBillReceiveToDate').val(); // For JQuery
        var date = EnteredDate.substring(0, 2);
        var month = EnteredDate.substring(3, 5);
        var year = EnteredDate.substring(6, 10);
        var myDate = new Date(year, month - 1, date);

        /////////////

        var EnteredDate = $('#txtBillReceiveFromDate').val(); // For JQuery
        var date = EnteredDate.substring(0, 2);
        var month = EnteredDate.substring(3, 5);
        var year = EnteredDate.substring(6, 10);
        var myPrevDate = new Date(year, month - 1, date);

        ////

        var today = new Date();
        if (myDate > today) {
            $('#txtBillReceiveToDate').val('');
            toastr.error("Date should not grater than system date.");
        }

        if (myPrevDate > myDate) {
            $('#txtBillReceiveToDate').val('');
            toastr.error("To Date should grater than From Date.");
        }

        $('.datepicker').hide();
    });

    app.controller('FinalClientDueBillReportCtrl', function ($scope, $http) {



     $scope.ShowClientList=function () {
     $http.get("/ClientRequisition/GetClientInfoList")
         .success(function (response) {
             console.log(response);
             $scope.ClientList = response.ClientInfoList;
             $scope.ClientDisplayedCollection = [].concat($scope.ClientList);
             console.log($scope.ClientDisplayedCollection);
             $scope.loading = false;
         })
         .error(function () { });

     $('#ClientInfoModal').modal('show');
 };
        $scope.saveIsReadOnly = false;
        $scope.showPrint = false;
        $scope.itemsByPage = 10;
        $scope.vmChequeOrEFTInfoVendorWise = {
            Owner: { OwnerID: "", OwnerName: "" },
            VendorCode: "",
            VendorNameDisplay: "",
            FromPONo: "",
            ToPONo: "",
            FromTrackNo: "",
            ToTrackNo: "",
            FromParkNo: "",
            ToParkNo: "",
            FromPostNo: "",
            ToPostNo: "",
            FromClearNo: "",
            ToClearNo: "",
            OwnerID: "",
            OwnerName: ""
        };
        $scope.ArrayData = [];

        $scope.pagingInfo = {
            page: 1,
            itemsPerPage: 10,
            sortBy: null,
            reverse: false,
            search: null,
            totalItems: 0
        };


        $scope.ClientReq = {
            ClientReqID: "",
            ClientID: "",
            ClientName: "",

            TermsID: "",
            FormName: "",

            //ContactPerson: "",
            //ContactNumber: "",
            //ClientTINNo: "",
            //ClientBINNo: "",
            //ClientAddress: "",

            ClientReqNo: "",
            SubmissionDate: "",
            RequisitionDate: "",
            Remarks: "",
            Status: ""
        }
        $scope.toggleClientSelect = function (row) {
            $scope.ClientReq.ClientID = row.ClientID;
            $scope.ClientReq.ClientCode = row.ClientCode;
            $scope.ClientReq.ClientName = row.ClientName;

            $('#ClientInfoModal').modal('hide');
        };

        $scope.toggleRefreshTable = function () {
            window.location.reload();
        };

    });

</script>