

@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<title>Reference Documents Details</title>
<div class="box box-primary box-body" ng-controller="TDSVDSReportCtrl" data-ng-init="init()">
    @using (Html.BeginForm("TDSVDSReport", "../Reports", System.Web.Mvc.FormMethod.Post, new { target = "_blank", name = "H1Form", id = "H1Form" }))
    {
        <!-- box-header -->
        <div class="box-header with-border bg-light-blue-gradient" style="padding: 10px;">
            <i class="fa fa-user text-primary"></i>
            <h3 class="box-title" style="font-family: math; font-weight: 500;">Client Wise Bill Report</h3>
            <div class="box-tools pull-right">
                <div class="row">
                    <div class="col-lg-4">
                        <button ng-disabled="showPrint" type="submit" id="btnSubmit" name="ButtonType" value="Preview"
                                class="btn btn-flat btn-success pull-right">
                            <i class="fa fa-print"></i> Preview
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <button ng-disabled="showPrint" type="submit" id="btnSubmit" name="ButtonType" value="Download"
                                class="btn btn-flat btn-primary pull-left">
                            <i class="fa fa-download"></i> Download
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" id="btnRefresh" data-ng-click="toggleRefreshTable()"
                                class="btn btn-warning btn-flat pull-right" ng-disabled="loading">
                            <i class="fa fa-refresh"></i> Refresh
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-lg-2 ">
                    <div class="form-group">
                        <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Vendor List:</h2>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="VendorName" name="VendorName" type="text" data-ng-model="VendorReq.VendorName" class="form-control" ng-readonly="true" />
                    </div>
                </div>

                <div class="col-lg-1">
                    <button type="button" data-ng-click="ShowVendorList()" class="form-control">Search</button>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label style="padding-left: 30px;">Download Type</label>
                </div>
                <div class="col-sm-3 col-md-4 col-lg-4">
                    <input type="radio" name="ReportType" value="PDF" checked="checked" /> <label>PDF</label>
                    <input type="radio" name="ReportType" value="EXCEL" /> <label>EXCEL</label>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label>Date From</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <input id="txtBillReceiveFromDate" name="BillReceiveFromDate" readonly required type="text" autocomplete="off" class="DatePicker form-control" placeholder="DD/MM/YYYY"
                               data-ng-model="vmChequeOrEFTInfoVendorWise.BillReceiveFromDate" style="background:#fff" />
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <label style="padding-left: 30px;">to</label>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <input id="txtBillReceiveToDate" name="BillReceiveToDate" readonly required type="text" autocomplete="off" class="DatePicker form-control" placeholder="DD/MM/YYYY"
                           data-ng-model="vmChequeOrEFTInfoVendorWise.BillReceiveToDate" style="background:#fff" />
                </div>
            </div>
        </div>

        <div id="VendorInfoModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="ResetModel()" aria-hidden="true">x</button>
                        <h3 class="modal-title">Vendor Information</h3>
                    </div>
                    <div class="modal-body table-responsive">
                        <table st-table="VendorDisplayedCollection" st-safe-src="VendorList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                            <thead>
                                <tr>
                                    @*<th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ServiceItemID')">Vendor Code</th>*@
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ServiceItemName')">ServiceItem Name</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('VendorCode')">Vendor Code</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('VendorName')">Vendor Name</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ContactPerson')">Contact Person</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ContactNumber')">Contact Number</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Email')">Email</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Address')">Address</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                                </tr>
                                <tr>
                                    <th><input st-search="VendorCode" placeholder="Vendor Code" class="input-sm form-control" type="search" /></th>
                                    <th><input st-search="VendorName" placeholder="VendorName" class="input-sm form-control" type="search" /></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in VendorDisplayedCollection">
                                    <td class="hidden">{{row.VendorID}}</td>
                                    <td class="hidden">{{row.ServiceItemID}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.ServiceItemName}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.VendorCode}}</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.VendorName}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.ContactPerson}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.ContactNumber}}</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.Email}}</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.Address}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                        <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                            {{row.Status == '1'? 'Active':'InActive'}}
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-primary btn-flat btnEdit" data-ng-click="toggleVendorSelect(row)"><i class="fa fa-edit"></i> Select</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetModel()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    }
</div>

<script type="text/javascript">

    $('.DatePicker').datepicker({
        format: "dd/mm/yyyy",
        autoclose: true
    });
    $('#txtBillReceiveFromDate').datepicker().on('changeDate', function (ev) {
        var EnteredDate = $('#txtBillReceiveFromDate').val(); // For JQuery
        var date = EnteredDate.substring(0, 2);
        var month = EnteredDate.substring(3, 5);
        var year = EnteredDate.substring(6, 10);
        var myDate = new Date(year, month - 1, date);

        var today = new Date();
        if (myDate > today) {
            $('#txtBillReceiveFromDate').val('');
            toastr.error("Date should not grater than system date.");
        }
        ////////////
        if ($('#txtBillReceiveToDate').val() != '') {
            var EnteredToDate = $('#txtBillReceiveToDate').val(); // For JQuery
            var date = EnteredToDate.substring(0, 2);
            var month = EnteredToDate.substring(3, 5);
            var year = EnteredToDate.substring(6, 10);
            var myToDate = new Date(year, month - 1, date);
            if (myToDate < myDate) {
                $('#txtBillReceiveFromDate').val('');
                toastr.error("From Date should Smaller than To Date.");
            }
        }
        ///////

        $('.datepicker').hide();
    });

    $('#txtBillReceiveToDate').datepicker().on('changeDate', function (ev) {
        var EnteredDate = $('#txtBillReceiveToDate').val(); // For JQuery
        var date = EnteredDate.substring(0, 2);
        var month = EnteredDate.substring(3, 5);
        var year = EnteredDate.substring(6, 10);
        var myDate = new Date(year, month - 1, date);

        /////////////

        var EnteredDate = $('#txtBillReceiveFromDate').val(); // For JQuery
        var date = EnteredDate.substring(0, 2);
        var month = EnteredDate.substring(3, 5);
        var year = EnteredDate.substring(6, 10);
        var myPrevDate = new Date(year, month - 1, date);

        ////

        var today = new Date();
        if (myDate > today) {
            $('#txtBillReceiveToDate').val('');
            toastr.error("Date should not grater than system date.");
        }

        if (myPrevDate > myDate) {
            $('#txtBillReceiveToDate').val('');
            toastr.error("To Date should grater than From Date.");
        }

        $('.datepicker').hide();
    });

    app.controller('TDSVDSReportCtrl', function ($scope, $http) {



        $scope.ShowVendorList = function () {
            $http.get("/VendorRequisition/GetVendorWiseItemList?ServiceItemID=" + '')
                .success(function (response) {
                    $scope.VendorList = response.VendorInfoSearchList;
                    $scope.VendorDisplayedCollection = [].concat($scope.VendorList);
                    $scope.loading = false;
                })
                .error(function () { });
            $('#VendorInfoModal').modal('show');
        };
        $scope.saveIsReadOnly = false;
        $scope.showPrint = false;
        $scope.itemsByPage = 10;
        $scope.vmChequeOrEFTInfoVendorWise = {
            Owner: { OwnerID: "", OwnerName: "" },
            VendorCode: "",
            VendorNameDisplay: "",
            FromPONo: "",
            ToPONo: "",
            FromTrackNo: "",
            ToTrackNo: "",
            FromParkNo: "",
            ToParkNo: "",
            FromPostNo: "",
            ToPostNo: "",
            FromClearNo: "",
            ToClearNo: "",
            OwnerID: "",
            OwnerName: ""
        };
        $scope.ArrayData = [];

        $scope.pagingInfo = {
            page: 1,
            itemsPerPage: 10,
            sortBy: null,
            reverse: false,
            search: null,
            totalItems: 0
        };


        $scope.VendorReq = {
            VendorReqID: "",
            VendorID: "",
            VendorCode: "",
            VendorName: "",
            ContactPerson: "",
            ContactNumber: "",
            VendorTINNo: "",
            VendorBINNo: "",
            VendorAddress: "",
            RequisitionNo: "",
            SubmissionDate: "",
            RequisitionDate: "",
            Remarks: ""
        }
        $scope.toggleVendorSelect = function (row) {
            $scope.VendorReq.VendorID = row.VendorID;
            $scope.VendorReq.VendorCode = row.VendorCode;
            $scope.VendorReq.VendorName = row.VendorName;

            $('#VendorInfoModal').modal('hide');
        };

        $scope.toggleRefreshTable = function () {
            window.location.reload();
        };

    });

</script>