<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://172.16.191.97</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>172.16.191.97</MSDeployServiceURL>
    <DeployIisAppPath>CBPS_SIL_WEB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CBPSEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SILDMS.Web.UI.CBPSEntities, SILDMS.Web.UI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuthContext" Order="2" Enabled="False">
          <Destination Path="Data Source=172.16.191.97;Initial Catalog=CBPS_STxL_PROD;Persist Security Info=True;User ID=sa;Password=CBPS_QA524" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SILDMS.Web.UI.Areas.SecurityModule.AuthContext, SILDMS.Web.UI" MigrationConfiguration="SILDMS.Web.UI.Migrations.Configuration, SILDMS.Web.UI" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=172.16.191.97;Initial Catalog=CBPS_STxL_PROD;Persist Security Info=True;User ID=sa;Password=CBPS_QA524</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CBPSEntities-Web.config Connection String" />
  </ItemGroup>
</Project>