@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<style type="text/css">
    body {
        font-size: 12px; /* Set global font size */
    }

    .box-body, .form-group, .btn, .form-control, .box-header {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        padding: 4px 8px;
    }

    h3.box-title {
        font-size: 14px;
    }

    input.form-control, button.form-control {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    /* Adjust icon size */
    .fa {
        font-size: 12px;
        /* padding-right: 3px;*/
    }

    .text-success {
        color: green;
        font-size: 14px;
    }

    .text-primary {
        color: blue;
        font-size: 14px;
    }
</style>

<div class="box box-primary box-body" ng-controller="WorkOrderInfoCtrl">

    <div class="box-header with-border bg-light-blue-gradient" style="height:38px;">
        <h2 class="box-title" style="font-family: math; font-weight: 500;">Work Order Information</h2>

        <div class="box-tools pull-right">
            <div class="col-lg-12 pull-right">
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button class="button-custom btn-warning" type="button" data-ng-click="toggleRefreshTable()" ng-disabled="btnRefresh">
                        <i class="fa fa-refresh" style="padding-right: 5px"></i> Refresh
                    </button>
                </div>

                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button class="button-custom btn-primary" type="button" data-ng-click="SearchWOInfoModal()" ng-disabled="btnSearch">
                        <i class="fa fa-search" style="padding-right: 5px"></i> Search
                    </button>
                </div>

                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button class="button-custom btn-primary" type="button" data-ng-click="Post()" ng-disabled="btnSave">
                        <i class="fa fa-save" style="padding-right: 5px"></i> {{ WOInfo.WOInfoID ? 'Update' : 'Save' }}
                    </button>
                </div>

                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button class="button-custom btn-danger" type="button" data-ng-click="Cancel()" ng-disabled="btnSave">
                        <i class="fa fa-close" style="padding-right: 5px"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="box-body " style="margin: 1%; padding: 5px 5px 5px 5px;" data-ng-disabled="">
        <div class="row">
            <div class="row">
                <div class="col-lg-2 ">
                    <div class="form-group">
                        <label for="ClientName">Client Name :</label>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div style="position: relative;">
                        <input id="ClientName" name="ClientName" type="text" data-ng-model="WOInfo.ClientName"
                               class="form-control" ng-readonly="true"
                               placeholder="Client Name"
                               style="height: 25px; font-size: smaller;" />

                        <button type="button" data-ng-click="ShowClientList()"
                                style="position: absolute; right: 1px; top: 50%; transform: translateY(-50%);
padding: 0px 10px; border: 2px solid black; background: transparent;">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="col-lg-2 ">
                    <div class="form-group">
                        <label for="BillCategory">Bill Category:</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input type="radio" ng-model="WOInfo.BillCategory" name="BillCategory" value="Normal" checked="checked" /> <label>Normal</label>
                        <input type="radio" ng-model="WOInfo.BillCategory" name="BillCategory" value="PlusMinus" /> <label>Plus-minus</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Work Order No.</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="WONo" name="WONo" type="text" class="form-control" placeholder="WONo" ng-model="WOInfo.WONo" />
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 ">
                    <div class="form-group">
                        <label for="BillType">Bill Type:</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input type="radio" ng-model="WOInfo.BillType" name="BillType" value="Default" checked="checked" /> <label>Default</label>
                        <input type="radio" ng-model="WOInfo.BillType" name="BillType" value="Installment" /> <label>Installment  </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 ">
                    <div class="form-group">
                        <label for="WOAmt">Work Order Amount:</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="WOAmt" name="WOAmt" style="text-align:right" readonly type="text" class="form-control" placeholder="0.00" ng-model="WOInfo.WOAmt" />
                    </div>
                </div>
                <div class="col-lg-2" ng-show="WOInfo.BillType=='Installment'">
                    <div class="form-group">
                        <label for="NoOfInstallment">No of Installment:</label>
                    </div>
                </div>
                <div class="col-lg-3" ng-show="WOInfo.BillType=='Installment'">
                    <div class="form-group">
                        <input id="NoOfInstallment" name="NoOfInstallment" type="text" class="form-control" placeholder="No of Installment" ng-model="WOInfo.NoOfInstallment" ng-change="calculateAmounts()" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 ">
                    <div class="form-group">
                        <label for="WODate">Work Order Date:</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="WODate" name="WODate" type="text" class="DatePicker form-control" placeholder="DD/MM/YYYY" ng-model="WOInfo.WODate" />
                    </div>
                </div>
                <div class="col-lg-2" ng-show="WOInfo.BillType=='Installment'">
                    <div class="form-group">
                        <label for="InstallmentAmt">Installment Amount:</label>
                    </div>
                </div>
                <div class="col-lg-3" ng-show="WOInfo.BillType=='Installment'">
                    <div class="form-group">
                        <input id="InstallmentAmt" name="InstallmentAmt" type="text" class="form-control" placeholder="0.00" ng-readonly="true" ng-model="WOInfo.InstallmentAmt" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 ">
                    <div class="form-group">
                        <label for="Remarks">Remarks:</label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input id="Remarks" name="Remarks" type="text" data-ng-model="WOInfo.Remarks" class="form-control" placeholder="Remarks" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ClientInfoModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="text-align: right;">
                    <button type="button" class="btn-danger" data-dismiss="modal" ng-click="ResetSearchModel()"
                            aria-hidden="true" style="color: #ffffff;">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>

                <div class="modal-body table-responsive">
                    <table st-table="ClientDisplayedCollection" st-safe-src="ClientList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr style="font-size: 15px;">
                                <th colspan="12" style="text-align: left; color: black; font-weight: 100; font-family: math; background: #ffffff; border: 1px solid #3003eb">
                                    Client Information
                                </th>
                            </tr>
                            <tr style="background-color: #82b0c9; color: #010823; font-size: 11px;">

                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ClientName')">Client Name</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ClientQutnAprvID')">AprvNo</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ContactPerson')">AprvDate</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ContactNumber')">Contact Number</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Address')">Address</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                            </tr>
                            <tr>
                                <th><input st-search="ClientCode" placeholder="Client Code" class="input-sm form-control" type="search" /></th>
                                <th><input st-search="ClientName" placeholder="ClientName" class="input-sm form-control" type="search" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in ClientDisplayedCollection">
                                <td class="hidden">{{row.ClientQutnAprvID}}</td>
                                <td class="hidden">{{row.ClientID}}</td>
                                <td class="hidden">{{row.ClientReqID}}</td>
                                <td class="hidden">{{row.ClientReqNo}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.ClientName}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.AprvNo}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.AprvDate}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.ContactNumber}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.Address}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                        {{row.Status == '1'? 'Active':'InActive'}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary btn-flat btnEdit" data-ng-click="toggleClientSelect(row)"><i class="fa fa-edit"></i> Select</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetModel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="SearchWOInfoModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div style="text-align: right;">
                    <button type="button" class="btn-danger" data-dismiss="modal" ng-click="ResetSearchModel()"
                            aria-hidden="true" style="color: #ffffff;">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
                <div class="table-responsive" data-ng-disabled="" ng-cloak>
                    <table st-table="clientReqDisplayedCollection" st-safe-src="woInfoSearchList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr style="font-size: 15px;">
                                <th colspan="12" style="text-align: left; color: black; font-weight: 100; font-family: math; background: #ffffff; border: 1px solid #3003eb">
                                    Client Requisition Information
                                </th>
                            </tr>

                            <tr style="background-color: #82b0c9; color: #010823; font-size: 11px;">

                                <th class="col-lg-3 col-md-3 col-sm-3" data-ng-click="sort('ClientName')">Client Name</th>
                                <th class="col-lg-3 col-md-3 col-sm-3" data-ng-click="sort('WONo')">Work Order No</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('WODate')">Work Order Date</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('WOAmt')">Work Order Amount</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                            </tr>
                            <tr>
                                <th><input st-search="ClientCode" placeholder="Client Name" class="input-sm form-control" type="search" /></th>
                                <th><input st-search="ClientName" placeholder="ClientName" class="input-sm form-control" type="search" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in clientReqDisplayedCollection">
                                <td class="hidden">{{row.WOInfoID}}</td>
                                <td class="hidden">{{row.ClientID}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-left">{{row.ClientName}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-left">{{row.WONo}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.WODate}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.WOAmt}}</td>
                                <td class="hidden">{{row.Remarks}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                        {{row.Status == '1'? 'Active':'InActive'}}
                                    </span>
                                </td>

                                <td>
                                    <a class="btn col-center btn-sm btn-flat btn-success" ng-href="#" ng-rel="" data-ng-click="toggleWOInfoSelect(row)">Select</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="100"></div></td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetSearchModel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin: 1%; background-color: #f0f0f0; box-shadow: 2px 2px 5px #888888; padding: 5px 10px 5px 10px;">
        <div class="row">
            <div class="row" style="padding: 11px; margin-right: 15px; margin-left: 15px;">
                <table st-table="GridDisplayCollection" st-safe-src="masterDataSetupGridData" class="table table-condensed table-bordered table-striped table-hover pnlView">
                    <thead>
                        <tr style="font-size: 15px;">
                            <th colspan="15" style="text-align: left; color: black; font-weight: 100; font-family: math; background: #ffffff; border: 1px solid #3003eb">
                                Requisition Item List
                            </th>

                            <th style="background: #ffffff;">
                                <button type="button" id="btnAddWoItem" ng-disabled="btnAddWoItem" ng-click="AddWoItemModal()" class="button-detail btn">
                                    <i class="fa fa-plus" style="padding-right: 3px"></i> Add
                                </button>
                            </th>
                        </tr>
                        <tr style="background-color: #82b0c9; color: #010823; font-size: 11px;">

                            <th style="text-align: left;" st-sort="">Item Code</th>
                            <th style="text-align: left;" st-sort="">Item Name</th>
                            <th style="text-align: left;" st-sort="">Service Category</th>
                            <th style="text-align: left;" st-sort="">Description</th>
                            @*<th style="text-align: left;" st-sort="">Delivery Location</th>*@
                            <th style="text-align: left;" st-sort="">Delivery Date</th>
                            @*<th style="text-align: left;" st-sort="">Delivery Mode</th>*@
                            <th style="text-align: left;" st-sort="">QutnUnit</th>
                            <th style="text-align: left;" st-sort="">QutnQnty</th>
                            <th style="text-align: left;" st-sort="">QutnPrice</th>
                            <th style="text-align: left;" st-sort="">QutnAmt</th>

                            <th style="text-align: left;" st-sort="">WOQnty</th>
                            <th style="text-align: left;" st-sort="">WOPrice</th>
                            <th style="text-align: left;" st-sort="">WOAmt</th>

                            <th style="text-align: left;" st-sort="">VatPerc</th>
                            <th style="text-align: left;" st-sort="">VatAmt</th>
                            <th style="text-align: left;" st-sort="">TolAmt</th>
                            <th class="col-lg-2" style="text-align: left;">Action</th>
                        </tr>
                        @*<tr>
                                <th colspan="5"><input st-search="" placeholder="Search" class="input-sm form-control" type="search" /></th>
                            </tr>*@
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in GridDisplayCollection" ng-cloak style="font-size:12px;">
                            <td class="hidden">{{row.ClientQutnAprvItemID}}</td>
                            <td class="hidden">{{row.WOInfoItemID}}</td>
                            <td class="hidden">{{row.WOInfoID}}</td>
                            <td class="col-lg-1" style="width:5%;">{{ row.ServiceItemID }} </td>
                            <td class="col-lg-1" style="width:5%;">{{row.ServiceItemName}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.ServiceCategoryName}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.Description}}</td>
                            @*<td class="col-lg-1" style="width:6%;">{{row.DeliveryLocation}}</td>*@
                            <td class="col-lg-1" style="width:6%;">{{row.DeliveryDate}}</td>
                            @*<td class="col-lg-1" style="width:6%;">{{row.DeliveryMode}}</td>*@
                            <td class="col-lg-1" style="width:5%;">{{row.QutnUnit}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.QutnQnty | number:2}}</td>
                            <td class="col-lg-1" style="width:5%;">{{row.QutnPrice}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.QutnAmt | number:2}}</td>

                            <td class="col-lg-1">
                                <input class="form-control" style="width:100%; height:18px;font-size:10px" type="text" min="0" ng-model="row.WOQnty" ng-blur="checkWOPrice(row)" />
                            </td>
                            <td class="col-lg-1">
                                <input class="form-control" style="width:100%; height:18px;font-size:10px" type="text" min="0" ng-model="row.WOPrice" ng-blur="checkWOPrice(row)" />
                            </td>
                            <td class="col-lg-1" style="width:6%;">{{row.WOAmt | number:2}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.VatPerc | number:2}}</td>
                            @*<td class="col-lg-1">
                                    <input class="form-control" style="width:100%; height:18px;font-size:10px" type="text" min="0" ng-model="row.VatPerc" ng-value="0" ng-blur="checkVatPerc(row)" />
                                </td>*@
                            <td class="col-lg-1" style="width:6%;">{{row.VatAmt | number:2}}</td>
                            <td class="col-lg-1" style="width:5%;">{{row.TolAmt}}</td>
                            <td class="col-lg-2">
                                <button type="button" ng-click="selectWoItem(row)" data-dismiss="modal" title="Select">
                                    <i ng-show="!row.selected" class="fa fa-square-o"></i>
                                    <i ng-show="row.selected" class="fa fa-check-square-o"></i>
                                </button>
                                @*</td>
                                    <td class="col-lg-1" style="width:5%;">*@
                                <button type="button" ng-if="row.WOInfoItemID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqItemEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                <button type="button" ng-if="!row.WOInfoItemID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqItemEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                <button type="button" class="btn btn-xs btn-primary btn-flat btnDelete" data-ng-click="toggleReqItemDelete(row,$index)"><i class="fa fa-remove"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        @*<tr>
                                <td colspan="11" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div></td>
                            </tr>*@
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div id="RequisitionItemModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <h4 class="modal-title" style="font-family: initial; font-weight: 700">Requisition Item Information</h4>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">

                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button type="button" class="close" data-dismiss="modal" ng-click="ResetReqItemModel()" aria-hidden="true" style="color:red;">x</button>
                        </div>
                    </div>
                </div>


                <div ng-cloak>
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ServiceCategory">Service Category:</label>
                            </div>
                        </div>
                        <div class=" col-lg-3">
                            <div class="form-group">
                                <select id="ServiceCategory" name="ServiceCategory" class="form-control" ng-model="WOInfoItem.ServiceCategory" ng-change="ServiceCategoryChange()"
                                        ng-options="serviceCategory as serviceCategory.ServiceCategoryName for serviceCategory in serviceCategorys track by serviceCategory.ServiceCategoryID" required="required">
                                    <option value="" style="display: none">-- Select--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ServiceItem">Item Name :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select id="ServiceItem" name="ServiceItem" class="form-control" ng-model="WOInfoItem.ServiceItem"
                                        ng-options="serviceItem as serviceItem.ServiceItemName for serviceItem in serviceItems track by serviceItem.ServiceItemID" required="required">
                                    <option value="" style="display: none">-- Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="Description">Description:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="Description" type="text" name="Description" ng-model="WOInfoItem.Description" class="form-control" autofocus />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="Delivery Location">Delivery Location:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="DeliveryLocation" type="text" name="DeliveryLocation" ng-model="WOInfoItem.DeliveryLocation" class="form-control" autofocus />

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="DeliveryDate">Delivery Date :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="DeliveryDate" name="DeliveryDate" readonly type="text" class="DatePicker form-control" placeholder="DD/MM/YYYY"
                                       ng-model="WOInfoItem.DeliveryDate" style=" background-color:#ffffff; " />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="DeliveryMode">Delivery Mode :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <select data-ng-model="WOInfoItem.DeliveryMode" class="form-control">
                                <option value="">-- None --</option>
                                <option value="Hardcopy">Hardcopy</option>
                                <option value="Softcopy">Softcopy</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ReqQnty">ReqQnty :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="ReqQnty" type="text" name="ReqQnty" ng-model="WOInfoItem.ReqQnty" class="form-control" placeholder="0.000" min="0.001" autofocus />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ReqUnit">ReqUnit :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <select data-ng-model="WOInfoItem.ReqUnit" class="form-control">
                                <option value="">-- None --</option>
                                <option value="Hour">Hour</option>
                                <option value="Minute">Minute</option>
                                <option value="Second">Second</option>
                                <option value="Piece">Piece</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="btn-group pull-right" style="margin:2px;">
                                <button type="button" id="btnAddWoItem" data-ng-click="AddWoItem()" class="button-detail btn"><i class="fa fa-save" style="padding-right: 3px"></i>Add to Item List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="WOInfoTermsConditionsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="text-align: right;">
                    <button type="button" class="btn-danger" data-dismiss="modal" ng-click="ResetSearchModel()"
                            aria-hidden="true" style="color: #ffffff;">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
                <div class="modal-body table-responsive">
                    <table st-table="TermsConditionsDisplayedCollection" st-safe-src="TermsConditionsList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr style="font-size: 15px;">
                                <th colspan="12" style="text-align: left; color: black; font-weight: 100; font-family: math; background: #ffffff; border: 1px solid #3003eb">
                                    Terms & Conditions Information
                                </th>
                            </tr>
                            <tr style="background-color: #82b0c9; color: #010823; font-size: 11px;">

                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('FormCode')">Form Code</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('FormName')">Form Name</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                            </tr>
                            <tr>
                                <th><input st-search="FormCode" placeholder="Form Code" class="input-sm form-control" type="search" /></th>
                                <th><input st-search="FormName" placeholder="Form Name" class="input-sm form-control" type="search" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in TermsConditionsDisplayedCollection">
                                <td class="hidden">{{row.TermsID}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.FormCode}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.FormName}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                        {{row.Status == '1'? 'Active':'InActive'}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary btn-flat btnEdit" data-ng-click="toggleTermsConditionsSelect(row)"><i class="fa fa-edit"></i> Select</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetModel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteReqItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position: fixed; top: 38%; left: 50%; transform: translate(-38%, -50%); background: rgba(0,0,0,0) !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 5px; width: 456px; height: 185px;">
                <div class="modal-header" style="height: 46px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Selected Item</h4>
                </div>
                <div class="modal-body" style="height: 80px;">
                    Are you sure to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white; background-color: red;" ng-click="DeleteWOInfoItem()">Yes</button>
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white">No</button>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-md-12">
            <div class="box box-info" style="border-bottom: 1px solid #d3e3e3; ">
                <div class="box-header with-border" style="height: 40px; border-bottom: 1px solid #d3e3e3;">-->
    @*<h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Terms & Conditions List</h2>*@
    <!--<div class="col-lg-3 ">
        <div class="form-group">
            <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Terms & Conditions List</h2>
        </div>
    </div>-->
    @*<div class="row">*@
    <!--<div class="col-lg-3 ">
        <div class="form-group">
            <label for="TermsAndConditions">Terms & Coonditions List:</label>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <input id="FormName" name="FormName" type="text" data-ng-model="WOInfo.FormName" class="form-control" ng-readonly="true" />
        </div>
    </div>
    <div class="col-lg-1">
        <button type="button" data-ng-click="ShowTermsConditionsList()" class="form-control">Search</button>
    </div>-->
    @*</div>*@
    <!--<div class="box-tools pull-right">
                        <div class="col-lg-12 pull-right">
                            <div class="btn-group pull-right" style="margin:2px;">
                                <button type="button" id="btnReqTermAdd" ng-disabled="btnReqTermAdd" data-ng-click="AddReqTermModal()" class="button-detail btn"><i class="fa fa-plus" style="padding-right: 3px"></i>Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 1%; background-color: #f0f0f0; box-shadow: 2px 2px 5px #888888; padding: 5px 10px 5px 10px;">
        <div class="row">
            <div class="row" style="padding: 11px; margin-right: 15px; margin-left: 15px;">
                <table st-table="ReqTermGridDisplayCollection" st-safe-src="ReqTermDataSetupGridData" class="table table-condensed table-bordered table-striped table-hover pnlView">
                    <thead>
                        <tr>
                            <th style="text-align: left;" st-sort="">Terms Code</th>
                            <th style="text-align: left;" st-sort="">Terms & Conditions</th>
                            <th style="text-align: left;">Action</th>
                        </tr>-->
    @*<tr>
            <th colspan="5"><input st-search="" placeholder="Search" class="input-sm form-control" type="search" /></th>
        </tr>*@
    <!--</thead>
    <tbody>
        <tr ng-repeat="row in ReqTermGridDisplayCollection" ng-cloak style="font-size:12px;">
            <td class="hidden">{{row.WOInfoTermsID}}</td>
            <td class="hidden">{{row.WOInfoID}}</td>
            <td class="hidden">{{row.TermsID}}</td>
            <td class="col-lg-1" style="width:5%;">{{row.TermsCode}}</td>
            <td class="col-lg-1" style="width:6%;">{{row.TermsName}}</td>

            <td class="col-lg-1" style="width:5%;">
                <button type="button" ng-if="row.WOInfoTermsID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqTermEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                <button type="button" ng-if="!row.WOInfoTermsID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqTermEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                <button type="button" class="btn btn-xs btn-primary btn-flat btnDelete" data-ng-click="toggleReqTermDelete(row,$index)"><i class="fa fa-remove"></i> </button>
            </td>
        </tr>
    </tbody>
    <tfoot>-->
    @*<tr>
            <td colspan="11" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div></td>
        </tr>*@
    <!--</tfoot>
                </table>
            </div>
        </div>
    </div>-->

    <div class="row">

        <div class="row" style="padding: 11px; margin-right: 15px; margin-left: 15px;">
            <div class="row" style="padding: 11px; margin-right: 15px; margin-left: 15px;">
                <table st-table="ReqTermGridDisplayCollection" st-safe-src="ReqTermDataSetupGridData" class="table table-condensed table-bordered table-striped table-hover pnlView">
                    <thead>
                        <tr style="font-size: 15px; border: 1px solid #3003eb; background: #ffffff; ">
                            <th @*colspan="12"*@ style="text-align: left; color: black; font-weight: 100; font-family: math; background: #ffffff;">
                                <span>Terms & Conditions List</span>
                            </th>

                            <th style="background: #ffffff; position: relative; padding: 5px;">
                                <div style="position: relative; display: inline-block; width: 200px;">
                                    <input id="FormName" name="FormName" type="text"
                                           data-ng-model="ClientReq.FormName" class="form-control" ng-readonly="true"
                                           style="width: 100%; height: 25px; font-size: smaller; padding-right: 35px;" />

                                    <button type="button" ng-click="ShowTermsConditionsList()"
                                            style="position: absolute; right: 1px; top: 50%; transform: translateY(-50%);
padding: 0px 10px; border: 2px solid black; background: transparent;">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </th>

                            <th style="background: #ffffff;">
                                <button type="button" id="btnReqTermAdd" ng-disabled="btnReqTermAdd" ng-click="AddReqTermModal()" class="button-detail btn">
                                    <i class="fa fa-plus" style="padding-right: 3px"></i> Add
                                </button>
                            </th>

                        </tr>

                        <tr style="background-color: #82b0c9; color: #010823; font-size: 11px;">

                            <th style="text-align: left;" st-sort="">Terms Code</th>
                            <th colspan="13" style="text-align: left;" st-sort="">Terms & Conditions</th>
                            <th style="text-align: left;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in ReqTermGridDisplayCollection" ng-cloak style="font-size:12px;">
                            <td class="hidden">{{row.ClientReqTermsID}}</td>
                            <td class="hidden">{{row.ClientReqID}}</td>
                            <td class="hidden">{{row.TermsID}}</td>
                            <td class="col-lg-1" style="width:5%;">{{row.TermsCode}}</td>
                            <td colspan="13" class="col-lg-1" style="width:6%;">{{row.TermsName}}</td>

                            <td class="col-lg-1" style="width:5%;">
                                <button type="button" ng-if="row.ClientReqTermsID" class="btn btn-xs btn-primary btn-flat btnEdit" ng-click="toggleReqTermEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                <button type="button" ng-if="!row.ClientReqTermsID" class="btn btn-xs btn-primary btn-flat btnEdit" ng-click="toggleReqTermEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                <button type="button" class="btn btn-xs btn-primary btn-flat btnDelete" ng-click="toggleReqTermDelete(row,$index)"><i class="fa fa-remove"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        @*<tr>
                                <td colspan="11" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div></td>
                            </tr>*@
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

   @* <div id="RequisitionTermModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <h3 class="modal-title">Terms & Conditions Information</h3>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">

                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button type="button" class="close" data-dismiss="modal" ng-click="ResetReqTermModel()" aria-hidden="true" style="color:red;">x</button>
                        </div>
                    </div>
                </div>
                <div ng-cloak>
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="TermsCode">Terms & Conditions Code:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="TermsCode" type="text" name="TermsCode" ng-model="WOInfoTerm.TermsCode" class="form-control" autofocus />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="TermsName">Terms & Conditions:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="TermsName" type="text" name="TermsName" ng-model="WOInfoTerm.TermsName" class="form-control" autofocus />

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="btn-group pull-right" style="margin:2px;">
                                <button type="button" id="btnAddReqTerm" data-ng-click="AddReqTerm()" class="button-detail btn"><i class="fa fa-save" style="padding-right: 3px"></i>Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div id="RequisitionTermModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <h4 class="modal-title" style="font-family: initial; font-weight: 700">Terms & Conditions Information</h4>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">

                        </div>
                        <div style="text-align: right;">
                            <button type="button" class="btn-danger" data-dismiss="modal" ng-click="ResetSearchModel()"
                                    aria-hidden="true" style="color: #ffffff;">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-cloak>
                    <div class="row" style="position:relative;top:5px;">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="TermsCode">Terms & Conditions Code:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="TermsCode" type="text" name="TermsCode" ng-model="WOInfoTerm.TermsCode" class="form-control" autofocus />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="TermsName">Terms & Conditions:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="TermsName" type="text" name="TermsName" ng-model="WOInfoTerm.TermsName" class="form-control" autofocus />

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="btn-group pull-right" style="margin:2px;">
                                <button type="button" id="btnAddReqTerm" data-ng-click="AddReqTerm()" class="button-detail btn"><i class="fa fa-save" style="padding-right: 3px"></i>Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteReqTermModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position: fixed; top: 38%; left: 50%; transform: translate(-38%, -50%); background: rgba(0,0,0,0) !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 5px; width: 456px; height: 185px;">
                <div class="modal-header" style="height: 46px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Selected Item</h4>
                </div>
                <div class="modal-body" style="height: 80px;">
                    Are you sure to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white; background-color: red;" ng-click="DeleteReqTerm()">Yes</button>
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    app.controller('WorkOrderInfoCtrl', ['$scope', '$http', function ($scope, $http) {

        $scope.clientReqItemArray = [];
        $scope.clientReqTermArray = [];
        $scope.itemsByPage = 10;

        $http.get('/WorkOrderInfo/GetServicesCategory')
            .success(function (response) {
                $scope.loading = false;
                $scope.serviceCategorys = response.result;
            }).error(function () { });

        $scope.WOInfo = {
            WOInfoID: "",
            ClientID: "",
            ClientName: "",
            TermsID: "",
            FormName: "",
            WONo: "",
            WOAmt: "",
            BillCategory: "",
            BillType: "",
            NoOfInstallment: "",
            InstallmentAmt: "",

            WODate: "",
            Remarks: "",
            TolalItem: "",
            SelectedItem: "",
            Status: ""
        }
        $scope.WOInfo.BillType = "Default";
        $scope.WOInfo.BillCategory = "Normal";
        $scope.WOInfo.WODate = new Date().toLocaleDateString('en-GB'); // 'dd/MM/yyyy' format

        $scope.WOInfoItem = {
            WOInfoItemID: "",
            Description: "",
            DeliveryLocation: "",
            DeliveryDate: "",
            ServiceCategory: { ServiceCategoryID: "", ServiceCategoryName: "" },
            ServiceItem: { ServiceItemID: "", ServiceItemName: "" },
            DeliveryMode: "",
            ReqQnty: "",
            ReqUnit: "",
            QutnUnit: "",
            QutnQnty: "",
            QutnPrice: "",
            QutnAmt: "",
            WOQnty: "",
            WOPrice: "",
            WOAmt: "",
            VatPerc: "",
            VatAmt: "",
            TolAmt: ""
        }

        $('.DatePicker').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
            // Set minDate to 0 to disable selecting previous dates
        });

        $('.DatePicker')
            .on('changeDate', function (ev) {
                $('.datepicker').hide();
            });

        $('#DeliveryDate').datepicker({
            format: "dd/mm/yyyy",
            autoclose: false,
            minDate: new Date() // Set minDate to the current date to disable selecting previous dates
        }).on('changeDate', function (ev) {
            var EnteredDate = $('#DeliveryDate').val();
            var today = new Date();
            today.setHours(0, 0, 0, 0);

            var date = EnteredDate.substring(0, 2);
            var month = EnteredDate.substring(3, 5);
            var year = EnteredDate.substring(6, 10);
            var myDate = new Date(year, month - 1, date);
            myDate.setHours(0, 0, 0, 0);

            $('.datepicker').hide();
        });

        $scope.calculateAmounts = function () {
            if ($scope.WOInfo.BillType == "Installment") {
                var woAmount = parseFloat($scope.WOInfo.WOAmt) || 0;
                var noOfInstallment = parseFloat($scope.WOInfo.NoOfInstallment) || 0;

                // Calculate Installment amount
                $scope.WOInfo.InstallmentAmt = (woAmount) / noOfInstallment;
            }
        };

        // ################# Detail Add Modal ####################
        $scope.AddWoItemModal = function () {
            if ($('#ClientName').val() == "") {
                toastr.error("Client Name Required");
                return;
            }

            if ($('#WONo').val() == "") {
                toastr.error("Client WoNo.  Required");
                return;
            }

            if ($('#WOAmt').val() == "") {
                toastr.error("Work Order Amount Required.");
                return;
            }

            if ($('#WODate').val() == "") {
                toastr.error("Work Order Date: Date Required");
                return;
            }
            $('#RequisitionItemModal').modal('show');
        };

        $scope.masterDataSetupGridData = [];  // base collection
        $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);

        $scope.AddWoItem = function () {

            if ($scope.WOInfoItem.ServiceCategory.ServiceCategoryID == "") {
                toastr.error("Service Category Required");
                return;
            }

            if ($scope.WOInfoItem.ServiceItem.ServiceItemID == "") {
                toastr.error("Service Item  Required");
                return;
            }

            if ($scope.WOInfoItem.DeliveryMode == "") {
                toastr.error("Work Order Amount Required.");
                return;
            }

            if ($scope.WOInfoItem.ReqUnit == "") {
                toastr.error("Work Order Date: Date Required");
                return;
            }

            if ($('#DeliveryLocation').val() == "") {
                toastr.error("Service Category Required");
                return;
            }

            if ($('#DeliveryDate').val() == "") {
                toastr.error("Service Item  Required");
                return;
            }

            if ($('#Description').val() == "") {
                toastr.error("Work Order Amount Required.");
                return;
            }

            if ($('#ReqQnty').val() == "") {
                toastr.error("Work Order Date: Date Required");
                return;
            }

            $scope.WOInfoItem.ServiceCategoryID = $scope.WOInfoItem.ServiceCategory.ServiceCategoryID;
            $scope.WOInfoItem.ServiceCategoryName = $scope.WOInfoItem.ServiceCategory.ServiceCategoryName;
            $scope.WOInfoItem.ServiceItemID = $scope.WOInfoItem.ServiceItem.ServiceItemID;
            $scope.WOInfoItem.ServiceItemName = $scope.WOInfoItem.ServiceItem.ServiceItemName;

            $scope.WOInfoItem.DeliveryMode = $scope.WOInfoItem.DeliveryMode;
            $scope.WOInfoItem.ReqUnit = $scope.WOInfoItem.ReqUnit;

            $scope.WOInfoItem.DeliveryLocation = $('#DeliveryLocation').val();
            $scope.WOInfoItem.DeliveryDate = $('#DeliveryDate').val();
            $scope.WOInfoItem.Description = $('#Description').val();
            $scope.WOInfoItem.ReqQnty = $('#ReqQnty').val();

            $scope.clientReqItemArray.push($scope.WOInfoItem);

            $scope.GridDisplayCollection = $scope.GridDisplayCollection.concat($scope.WOInfoItem);

            $scope.resetWOInfoItem();
            $("#btnAddWoItem").html('Add');
            $('#RequisitionItemModal').modal('hide');
        }

        $scope.resetWOInfoItem = function () {
            $('#DeliveryDate').val('');
            $scope.WOInfoItem = {
                WOInfoItemID: "",
                WOInfoID: "",
                ServiceCategory: { ServiceCategoryID: "", ServiceCategoryName: "" },
                ServiceItem: { ServiceItemID: "", ServiceItemName: "" },
                Description: "",
                DeliveryLocation: "",
                DeliveryDate: "",
                DeliveryMode: "",
                ReqQnty: "",
                ReqUnit: ""
            }
        }

        $scope.ShowClientList = function () {
            $http.get("/WorkOrderInfo/GetClientInfoList")
                .success(function (response) {
                    console.log(response);
                    $scope.ClientList = response.ClientInfoList;
                    $scope.ClientDisplayedCollection = [].concat($scope.ClientList);
                    console.log($scope.ClientDisplayedCollection);
                    $scope.loading = false;
                })
                .error(function () { });

            $('#ClientInfoModal').modal('show');
        };

        var ServiceCategoryID = "";
        $scope.ServiceCategoryChange = function () {
            ServiceCategoryID = $scope.WOInfoItem.ServiceCategory.ServiceCategoryID;
            $http.post("/ServiceItemInfo/GetServiceItemInfoSearchList?ServiceItemCategoryID=" + ServiceCategoryID)
                .success(function (response) {
                    $scope.loading = false;
                    $scope.serviceItems = response.ServiceItemInfoSearchList;
                })
                .error(function () { });
        };

        $scope.clearWOInfo = function () {
            $scope.WOInfo = {
                WOInfoID: "",
                ClientQutnAprvID: "",
                ClientReqID: "",
                ClientReqNo: "",
                ClientID: "",
                ClientCode: "",
                ClientName: "",
                ContactPerson: "",
                ContactNumber: "",
                ClientTINNo: "",
                ClientBINNo: "",
                ClientAddress: "",
                WONo: "",
                WOAmt: "",
                WODate: "",
                Remarks: ""
            }

            $scope.WOInfoItem = {
                WOInfoItemID: "",
                WOInfoID: "",
                Description: "",
                DeliveryLocation: "",
                DeliveryDate: "",
                ServiceCategory: { ServiceCategoryID: "", ServiceCategoryName: "" },
                ServiceItem: { ServiceItemID: "", ServiceItemName: "" },
                DeliveryMode: "",
                ReqQnty: "",
                ReqUnit: ""
            }
            $scope.WOInfoTerm = {
                WOInfoTermsID: "",
                WOInfoID: "",
                TermsID: "",
                TermsCode: "",
                TermsName: ""
            }
            $("#DeliveryDate").val('');
            $scope.masterDataSetupGridData = [];  // base collection
            $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);

            $scope.ReqTermDataSetupGridData = [];  // base collection
            $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);
        }

        $scope.toggleReqItemEdit = function (tableRow, $i) {
            $('#RequisitionItemModal').modal('show');
            $scope.resetWOInfoItem();

            $scope.WOInfoItem.WOInfoItemID = tableRow.WOInfoItemID;

            $scope.WOInfoItem.ServiceCategory.ServiceCategoryID = tableRow.ServiceCategoryID;
            $scope.WOInfoItem.ServiceCategory.ServiceCategoryName = tableRow.ServiceCategoryName;
            $scope.WOInfoItem.ServiceItem.ServiceItemID = tableRow.ServiceItemID;
            $scope.WOInfoItem.ServiceItem.ServiceItemName = tableRow.ServiceItemName;

            $scope.WOInfoItem.DeliveryMode = tableRow.DeliveryMode;
            $scope.WOInfoItem.DeliveryLocation = tableRow.DeliveryLocation;
            $scope.WOInfoItem.DeliveryDate = tableRow.DeliveryDate;
            $scope.WOInfoItem.Description = tableRow.Description;

            $scope.WOInfoItem.ReqQnty = tableRow.ReqQnty;
            $scope.WOInfoItem.ReqUnit = tableRow.ReqUnit;

            $scope.GridDisplayCollection.splice($i, 1);
            $scope.clientReqItemArray.splice($i, 1);

            $http.post("/ServiceItemInfo/GetServiceItemInfoSearchList?ServiceItemCategoryID=" + tableRow.ServiceCategoryID)
                .success(function (response) {
                    $scope.loading = false;
                    $scope.serviceItems = response.ServiceItemInfoSearchList;
                })
                .error(function () { });

            $("#btnAddWoItem").html('Update');
        };

        $scope.toggleReqItemDelete = function (tableRow, $i) {
            if (!tableRow.WOInfoItemID) {
                $scope.resetWOInfoItem();
                $scope.GridDisplayCollection.splice($i, 1);
                $scope.clientReqItemArray.splice($i, 1);
                toastr.success('Data Deleted Successsfully');
            }
            else {
                $scope.resetWOInfoItem();
                $scope.WOInfoItem.WOInfoItemID = tableRow.WOInfoItemID;
                $('#deleteReqItemModal').modal('show');
            }
        };

        $scope.DeleteWOInfoItem = function () {
            $http.post('/WorkOrderInfo/DeleteWOInfoItemAndTerm',
                { WOInfoItemID: $scope.WOInfoItem.WOInfoItemID, WOInfoTermID: $scope.WOInfoTerm.WOInfoTermID })
                .success(function (response) {
                    if (response.status == "S203") {
                        $scope.resetWOInfoItem();
                        $scope.GridDisplayCollection.splice($i, 1);
                        $scope.clientReqItemArray.splice($i, 1);
                        toastr.success('Data Deleted Successsfully');
                        return;
                    }
                });
        }

        ////////////////////////Select for Update from Search grid ///////////////////////

        $scope.toggleClientSelect = function (row) {
            $scope.WOInfo.ClientReqID = row.ClientReqID;
            $scope.WOInfo.ClientReqNo = row.ClientReqNo;
            $scope.WOInfo.ClientID = row.ClientID;
            $scope.WOInfo.ClientCode = row.ClientCode;
            $scope.WOInfo.ClientName = row.ClientName;
            //alert(row.ClientQutnAprvID);
            $scope.WOInfo.ClientQutnAprvID = row.ClientQutnAprvID;

            //alert(row.ClientQutnAprvID);
            $http.post('/WorkOrderInfo/GetWOInfoItemList', { ClientQutnAprvID: row.ClientQutnAprvID })
                .success(function (response) {
                    $scope.masterDataSetupGridData = response.WOInfoItemList;
                    $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $http.post('/WorkOrderInfo/GetWOInfoTermList', { ClientQutnAprvID: row.ClientQutnAprvID })
                .success(function (response) {
                    $scope.ReqTermDataSetupGridData = response.WOInfoTermList;
                    $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $('#ClientInfoModal').modal('hide');
        };

        ///////////////////////Save/Update Master///////////////////////

        //////////////////Search Grid List///////////////////////////////

        $scope.SearchWOInfoModal = function () {
            $scope.GetWOInfoSearchList();
            $('#SearchWOInfoModal').modal('show');
        };

        $scope.GetWOInfoSearchList = function () {
            $http.post("/WorkOrderInfo/GetWOInfoSearchList")
                .success(function (response) {
                    $scope.woInfoSearchList = response.woInfoSearchList;
                    $scope.clientReqDisplayedCollection = [].concat($scope.woInfoSearchList);
                })
                .error(function () { });
        }

        ////////////////////////Select for Update from Search grid ///////////////////////

        $scope.toggleWOInfoSelect = function (tableRow) {
            $scope.WOInfo.WOInfoID = tableRow.WOInfoID;
            $scope.WOInfo.ClientID = tableRow.ClientID;
            $scope.WOInfo.ClientName = tableRow.ClientName;
            $scope.WOInfo.WONo = tableRow.WONo;
            $scope.WOInfo.WODate = tableRow.WODate;
            $scope.WOInfo.WOAmt = tableRow.WOAmt;
            $scope.WOInfo.Remarks = tableRow.Remarks;
            $scope.WOInfo.Status = tableRow.Status;

            $http.post('/WorkOrderInfo/GetWOInfoSearchItemList', { WOInfoID: tableRow.WOInfoID })
                .success(function (response) {
                    $scope.masterDataSetupGridData = response.WOInfoItemList;
                    $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $http.post('/WorkOrderInfo/GetWOInfoSearchTermsList', { WOInfoID: tableRow.WOInfoID })
                .success(function (response) {
                    $scope.ReqTermDataSetupGridData = response.WOInfoTermList;
                    $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $('#SearchWOInfoModal').modal('hide');
        };

        ///////////////////////////////////////////////

        ////////////////////////Requsition Terms & Conditions ///////////////////////

        $scope.ShowTermsConditionsList = function () {
            $http.get("/WorkOrderInfo/GetTermsConditionsList")
                .success(function (response) {
                    console.log(response);
                    $scope.TermsConditionsList = response.termsConditionsList;
                    $scope.TermsConditionsDisplayedCollection = [].concat($scope.TermsConditionsList);
                    console.log($scope.TermsConditionsDisplayedCollection);
                    $scope.loading = false;
                })
                .error(function () { });

            $('#WOInfoTermsConditionsModal').modal('show');
        };

        $scope.toggleTermsConditionsSelect = function (row) {
            $scope.WOInfo.TermsID = row.TermsID;
            //$scope.WOInfo.FormCode = row.FormCode;
            $scope.WOInfo.FormName = row.FormName;

            $http.post('/WorkOrderInfo/GetWOInfoTermAgainstFormList', { TermsID: row.TermsID })
                .success(function (response) {
                    $scope.ReqTermDataSetupGridData = response.WOInfoTermList;
                    $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $('#WOInfoTermsConditionsModal').modal('hide');
        };

        $scope.WOInfoTerm = {
            WOInfoTermsID: "",
            WOInfoID: "",
            TermsID: "",
            TermsCode: "",
            TermsName: ""
        }

        $scope.AddReqTermModal = function () {
            if ($('#ClientName').val() == "") {
                toastr.error("Client Name Required");
                return;
            }

            if ($('#WONo').val() == "") {
                toastr.error("Client WoNo.  Required");
                return;
            }

            if ($('#WOAmt').val() == "") {
                toastr.error("Work Order Amount Required.");
                return;
            }

            if ($('#WODate').val() == "") {
                toastr.error("Work Order Date: Date Required");
                return;
            }
            $('#RequisitionTermModal').modal('show');
        };

        $scope.ReqTermDataSetupGridData = [];  // base collection
        $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);

        $scope.AddReqTerm = function () {

            if ($('#TermsCode').val() == "") {
                toastr.error("Terms Code Required");
                return;
            }

            if ($('#TermsName').val() == "") {
                toastr.error("Terms Name Required.");
                return;
            }

            $scope.WOInfoTerm.TermsCode = $('#TermsCode').val();
            $scope.WOInfoTerm.TermsName = $('#TermsName').val();

            $scope.clientReqTermArray.push($scope.WOInfoTerm);

            $scope.ReqTermGridDisplayCollection = $scope.ReqTermGridDisplayCollection.concat($scope.WOInfoTerm);

            $scope.resetWOInfoTerm();
            $("#btnAddReqTerm").html('Add');
            $('#RequisitionTermModal').modal('hide');
        }

        $scope.resetWOInfoTerm = function () {
            $scope.WOInfoTerm = {
                WOInfoTermsID: "",
                WOInfoID: "",
                TermsID: "",
                TermsCode: "",
                TermsName: ""
            }
        }

        $scope.toggleReqTermEdit = function (tableRow, $i) {
            $('#RequisitionTermModal').modal('show');
            $scope.resetWOInfoTerm();
            $scope.WOInfoTerm.WOInfoTermID = tableRow.WOInfoTermD;
            $scope.WOInfoTerm.WOInfoID = tableRow.WOInfoID;
            $scope.WOInfoTerm.TermsID = tableRow.TermsID;
            $scope.WOInfoTerm.TermsCode = tableRow.TermsCode;
            $scope.WOInfoTerm.TermsName = tableRow.TermsName;
            $scope.ReqTermGridDisplayCollection.splice($i, 1);
            $scope.clientReqTermArray.splice($i, 1);
            $("#btnAddReqTerm").html('Update');
        };

        $scope.toggleReqTermDelete = function (tableRow, $i) {
            if (!tableRow.WOInfoTermID) {
                $scope.resetWOInfoTerm();
                $scope.ReqTermGridDisplayCollection.splice($i, 1);
                $scope.clientReqTermArray.splice($i, 1);
                toastr.success('Data Deleted Successsfully');
            }
            else {
                $scope.resetWOInfoTerm();
                $scope.WOInfoTerm.WOInfoTermID = tableRow.WOInfoTermID;
                $('#deleteReqTermModal').modal('show');
            }
        };

        $scope.DeleteWOInfoTerm = function () {
            $http.post('/WorkOrderInfo/DeleteWOInfoItemAndTerm',
                { WOInfoItemID: $scope.WOInfoItem.WOInfoItemID, WOInfoTermID: $scope.WOInfoTerm.WOInfoTermID })
                .success(function (response) {
                    if (response.status == "S203") {
                        $scope.resetWOInfoTerm();
                        $scope.ReqTermGridDisplayCollection.splice($i, 1);
                        $scope.clientReqTermArray.splice($i, 1);
                        toastr.success('Data Deleted Successsfully');
                        return;
                    }
                });
        }

        ///////////////////////////////////////////////

        $scope.checkWOPrice = function (row) {
            var WOAmt = 0;
            WOAmt = (row.WOQnty * row.WOPrice);
            row.WOAmt = WOAmt;

            $scope.checkVatPerc(row);
        };

        $scope.checkVatPerc = function (row) {
            var VatAmt = 0;
            var TolAmt = 0;

            VatAmt = (row.VatPerc * row.WOAmt) / 100;

            row.VatAmt = VatAmt;

            TolAmt = row.WOAmt + VatAmt;
            row.TolAmt = TolAmt;
        };

        $scope.selectedWoItems = [];  // Array to hold selected vendor items

        $scope.selectWoItem = function (row) {
            var selectedWoItem = {
                ClientQutnAprvItemID: row.ClientQutnAprvItemID,
                ServiceItemID: row.ServiceItemID,
                ServiceItemName: row.ServiceItemName,
                ServiceCategoryID: row.ServiceCategoryID,
                ServiceCategoryName: row.ServiceCategoryName,
                Description: row.Description,
                DeliveryLocation: row.DeliveryLocation,
                DeliveryDate: row.DeliveryDate,
                DeliveryMode: row.DeliveryMode,
                QutnUnit: row.QutnUnit,
                QutnQnty: row.QutnQnty,
                QutnPrice: row.QutnPrice,
                QutnAmt: row.QutnAmt,

                WOQnty: row.WOQnty,
                WOPrice: row.WOPrice,
                WOAmt: row.WOAmt,

                VatPerc: row.VatPerc,
                VatAmt: row.VatAmt,
                TolAmt: row.TolAmt
            };

            if (row.selected) {
                row.selected = false;
                var index = $scope.selectedWoItems.findIndex(function (vendor) {
                    return vendor.ClientQutnAprvItemID === row.ClientQutnAprvItemID;
                });
                if (index !== -1) {
                    $scope.selectedWoItems.splice(index, 1);
                }
            } else {
                row.selected = true;
                $scope.selectedWoItems.push(selectedWoItem);
            }

            var totalAmt = 0;
            angular.forEach($scope.selectedWoItems, function (item) {
                var amt = parseFloat(item.TolAmt) || 0;
                totalAmt += amt;
            });

            $scope.WOInfo.WOAmt = totalAmt.toFixed(2); // optional formatting to 2 decimal places
        };


        ///////////////////////////////////////////////

        $scope.Post = function () {

            if ($('#ClientName').val() == "") {
                toastr.error("Client Name Required");
                return;
            }

            if ($('#WONo').val() == "") {
                toastr.error("Client WoNo.  Required");
                return;
            }

            if ($('#WOAmt').val() == "") {
                toastr.error("Work Order Amount Required.");
                return;
            }

            if ($('#WODate').val() == "") {
                toastr.error("Work Order Date: Date Required");
                return;
            }

            $scope.WOInfo.WODate = $('#WODate').val();
            $scope.WOInfo.WOAmt = $('#WOAmt').val();

            $scope.WOInfo.TolalItem = $scope.GridDisplayCollection.length;
            $scope.WOInfo.SelectedItem = $scope.selectedWoItems.length;

            $http.post('/WorkOrderInfo/SaveWorkOrderInfo',
                {
                    woInfo: $scope.WOInfo,
                    //woInfoItem: $scope.GridDisplayCollection,//selectedWoItems
                    woInfoItem: $scope.selectedWoItems,//selectedWoItems
                    woInfoTerm: $scope.ReqTermGridDisplayCollection
                })
                .success(function (response) {
                    if (response.status == "S201") {
                        toastr.success("Data Saved Successfully.");
                        $scope.clearWOInfo();
                        $scope.loading = false;
                        return;
                    }
                    else if (response.status == "S202") {
                        toastr.success("Data Updated Successfully.");
                        $scope.clearWOInfo();
                        $scope.loading = false;
                        return;
                    }
                    else if (response.status == "S203") {
                        toastr.success("Data Deleted Successfully.");
                        $scope.clearWOInfo();
                        $scope.loading = false;
                        return;
                    }
                    else {
                        toastr.error("Data Save Failed.");
                        $scope.loading = false;
                        return;
                    }
                })
                .error(function () {
                    toastr.error("Data Save Failed.");
                    $scope.loading = false;
                    return;
                });
        }

        $scope.toggleRefreshTable = function () {
            window.location.reload();
        };
    }])
</script>
