@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="box box-primary box-body" ng-controller="ClientInfoCtrl">
    @*<form name="ClientInfo" novalidate ng-submit="submitform(ClientInfo.$valid)" autocomplete="off">*@
        <!-- box-header  box header-->
        <div class="box-header with-border bg-light-blue-gradient" style="height:38px;">
            @*<i class="fa fa-list-alt"></i>*@
            <h2 class="box-title" style="font-family: math;font-weight:500; ">Client Information</h2>
            <div class="box-tools pull-right">
                <div class="col-lg-12 pull-right">
                    <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                        <button type="button" data-ng-click="toggleRefreshTable()" class="button-custom" ng-disabled="btnRefresh"><i class="fa fa-refresh" style="padding-right: 5px"></i>Refresh</button>
                    </div>
                    <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                        <button type="button" data-ng-click="SearchClientInfoModal()" class="button-custom" ng-disabled="btnSearch"><i class="fa fa-search" style="padding-right: 5px"></i>Search</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label>Client Code</label>
                        <label style="font-size: larger;color:red;">*</label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <input id="ClientCode" ng-readonly="searchAction == 'viewonly'" name="ClientCode" type="text" autocomplete="off" class="form-control" placeholder="Client Code" required data-ng-model="vmClientInfoMst.ClientCode" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="ClientName">Client Name</label>
                        <label style="font-size: larger;color:red;">*</label>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <div class="form-group">
                        <input ng-readonly="searchAction == 'viewonly'" id="ClientName" type="text" name="ClientName" required class="form-control" autofocus ng-model="vmClientInfoMst.ClientName" placeholder="Client Name" style="height: 25px; font-size: smaller" />
                        <p ng-show="ClientInfo.ClientName.$error.required && !ClientInfo.ClientName.$pristine" class="help-block" style="height:10px;">Client Name is required.</p>
                    </div>
                </div>
            </div>


            <div class="row" style="position: relative; top: -6px; margin-bottom: 5px;">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="ClientType">Client Type</label>
                        <label style="font-size: larger;color:red;">*</label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <select ng-readonly="searchAction == 'viewonly'" data-ng-model="vmClientInfoMst.ClientType" class="form-control">
                        <option value="">-- None --</option>
                        <option value="Internal">Internal</option>
                        <option value="External">External</option>
                    </select>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="form-group">
                        <label for="Status">Status</label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <select ng-readonly="searchAction == 'viewonly'" data-ng-model="vmClientInfoMst.Status" class="form-control">
                        <option value="">-- None --</option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </div>
            </div>

            <div class="row" style="position:relative;top:2px;">
                <div class="col-md-12">
                    <div class="box box-info" style="border-bottom: 1px solid #d3e3e3; ">
                        <div class="box-header with-border" style="height: 40px; border-bottom: 1px solid #d3e3e3;">
                            <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Client Address List</h2>
                            <div ng-show="DetailBeforeSave == 0" ng-hide="searchAction == 'viewonly' || searchAction == 'editonly'" class="box-tools pull-right">
                                <div class="col-lg-12 pull-right">
                                    <div class="btn-group pull-right" style="margin:2px;">
                                        <button type="button" id="btnAdd" ng-disabled="btnAdd" data-ng-click="AddDtlModal()" class="button-detail btn"><i class="fa fa-plus" style="padding-right: 3px"></i>Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    @*</form>*@

    <div ng-show="DetailBeforeSave == 0">
        <table st-table="displayedCollection" st-safe-src="getAllClientInfoDtl" class="table table-condensed table-bordered table-striped table-hover pnlView">
            <thead>
                <tr style="background-color: #82b0c9; color: #010823; font-size: 11px;">
                    <th class="col-lg-2 col-md-2 col-sm-2" st-sort="ContactPerson">Contact Person</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="ContactNumber">Contact Number</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="PhoneNumber">Phone Number</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="Email">Email</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="TIN">TIN</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="BIN">BIN</th>
                    <th class="col-lg-2 col-md-2 col-sm-2" st-sort="Address">Address</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="AddressStatus">Status</th>
                    <th ng-show="searchAction == 'editonly'" class="col-lg-1 col-md-1 col-sm-1">Action</th>
                </tr>
                
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection" style="height:20px;">
                    <td class="col-lg-2 col-md-2 col-sm-2">{{row.ContactPerson}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.ContactNumber}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.PhoneNumber}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.Email}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.ClientTinNo}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.ClientBinNo}}</td>
                    <td class="col-lg-2 col-md-2 col-sm-2">{{row.Address}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                        <span ng-attr-class="{{row.AddressStatus =='1'? 'label label-success' : 'label label-danger' }}">
                            {{row.AddressStatus == '1'? 'Active':'InActive'}}
                        </span>
                    </td>
                    <td ng-show="searchAction == 'editonly'" class="col-lg-2 col-md-2 col-sm-2 text-center">
                        <button type="button" class="button-detail" style="height:28px;" data-ng-click="toggleEdit(row, edit)"><i class="fa fa-edit"></i> Edit</button>
                        <button type="button" class="btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" data-ng-click="toggleDelete(row)"><i class="fa fa-remove"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="100"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

   

    <div >
        <table ng-show="DetailBeforeSave == 1" st-table="displayedCollection_beforeSave" st-safe-src="getAllClientInfoDtl" class="table table-condensed table-bordered table-striped table-hover pnlView">
            <thead>
                <tr style="background-color: #82b0c9; color: #010823; font-size: 11px;">
                    <th class="col-lg-2 col-md-2 col-sm-2" st-sort="ContactPerson">Contact Person</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="ContactNumber">Contact Number</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="PhoneNumber">Phone Number</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="Email">Email</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="Email">TIN</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="Email">BIN</th>
                    <th class="col-lg-2 col-md-2 col-sm-2" st-sort="Address">Address</th>
                    <th class="col-lg-1 col-md-1 col-sm-1" st-sort="AddressStatus">Status</th>
                </tr>
            
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection_beforeSave" style="height:20px;">
                
                    <td class="col-lg-2 col-md-2 col-sm-2">{{row.ContactPerson}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.ContactNumber}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.PhoneNumber}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.Email}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.ClientTinNo}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1">{{row.ClientBinNo}}</td>
                    <td class="col-lg-2 col-md-2 col-sm-2">{{row.Address}}</td>
                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                        <span ng-attr-class="{{row.AddressStatus =='1'? 'label label-success' : 'label label-danger' }}">
                            {{row.AddressStatus == '1'? 'Active':'InActive'}}
                        </span>
                    </td>
                    
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="100"></div>
                    </td>
                </tr>
            </tfoot>

        </table>
        <div class="row" style="margin-top: 5px;">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-9">
            </div>
            <div class="col-lg-1">
                <button ng-show="savebuttonShow==1" id="btnSaveMasterInitial" type="button" class="btn btn-success saveBtn pull-left" data-dismiss="modal" title="Submit" ng-disabled="btnSave" ng-click="Post()">
                    <i class="fa fa-save"></i> Save
                </button>

            </div>

        </div>
        
    </div>



    <div id="ClientInfoDtlModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <h3 style="font-family:math" class="modal-title">Client Address Information</h3>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button type="button" class="close" data-dismiss="modal" ng-click="ResetDtlModel()" aria-hidden="true" style="color:red;">x</button>
                        </div>
                    </div>
                </div>
                <div ng-cloak>
                    <div class="row" style="position:relative;top:5px;">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="ContactPerson">Contact Person</label>
                                <label style="font-size: larger;color:red;">*</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="ContactPerson" type="text" name="ContactPerson" required class="form-control" autofocus ng-model="vmClientAddress.ContactPerson" placeholder="ContactPerson" style="height: 25px; font-size: smaller" />
                        </div>

                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="ContactNumber">Contact Number</label>
                                <label style="font-size:larger;color:red;">*</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="ContactNumber" name="ContactNumber" type="text" class="form-control" placeholder="Contact Number"
                                   ng-model="vmClientAddress.ContactNumber" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                        </div>
                    </div>

                    <div class="row" style="position: relative; top: -3px; margin-bottom: 5px;">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="Phone Number">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="PhoneNumber" name="PhoneNumber" type="text" class="form-control" placeholder="Contact Number"
                                   ng-model="vmClientAddress.PhoneNumber" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="Email">Email</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="Email" name="Email" type="text" class="form-control" placeholder="Email"
                                   ng-model="vmClientAddress.Email" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                        </div>
                    </div>


                    <div class="row" style="position: relative; top: -3px; margin-bottom: 5px;">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="TIN Number">TIN Number</label>
                                <label style="font-size:larger;color:red;">*</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="TINNumber" name="TINNumber" type="text" class="form-control" placeholder="TIN Number"
                                   ng-model="vmClientAddress.ClientTinNo" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="BINNumber">BIN Number</label>
                                <label style="font-size:larger;color:red;">*</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <input id="BINNumber" name="BINNumber" type="text" class="form-control" placeholder="BIN Number"
                                   ng-model="vmClientAddress.ClientBinNo" style="height: 25px; background-color:#ffffff; font-size: smaller" />
                        </div>
                    </div>


                    <div class="row" style="position:relative;top:3px;">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <label style="font-size: larger;color:red;">*</label>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input id="Address" type="text" name="Address" required maxlength="200" class="form-control" autofocus ng-model="vmClientAddress.Address" placeholder="Client Address" style="height: 25px; font-size: smaller" />
                        </div>
                    </div>

                    <div class="row" style="position: relative; top: -3px; margin-bottom: 5px;">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="AddressStatus">Status</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <select data-ng-model="vmClientAddress.AddressStatus" class="form-control">
                                <option value="">-- None --</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="btn-group pull-right" style="margin:2px;">
                                <button type="button" id="btnDtlSaveUpdate" data-ng-click="AddUpdateDtl()" class="button-detail btn"><i class="fa fa-save" style="padding-right: 3px"></i>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="SearchClientInfoModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="text-align: right;">
                    <button type="button" class="btn-danger" data-dismiss="modal" ng-click="ResetSearchModel()"
                            aria-hidden="true" style="color: #ffffff;">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
                @*Client Address Information*@

                <div class="table-responsive" data-ng-disabled="" ng-cloak>
                    <table st-table="ClientInfoDisplayedCollection" st-safe-src="ClientInfoSearchList"
                           class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr style="font-size: 15px;">
                                <th colspan="12" style="text-align: left; color: black; font-weight: 100; font-family: math; background: #ffffff; border: 1px solid #3003eb">
                                    Client List
                                </th>
                            </tr>
                            <tr style="background-color: #82b0c9; color: #010823; font-size: 11px;">
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ClientCode')">Client Code</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ClientName')">Client Name</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ClientType')">Client Type</th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sort('Status')">Status</th>
                                <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                            </tr>
                            <tr>
                                <th><input st-search="ClientCode" placeholder="Client Code" class="input-sm form-control" type="search" /></th>
                                <th><input st-search="ClientName" placeholder="Client Name" class="input-sm form-control" type="search" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in ClientInfoDisplayedCollection">
                                <td class="hidden">{{row.ClientID}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.ClientCode}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.ClientName}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.ClientType}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                        {{row.Status == '1'? 'Active':'Inactive'}}
                                    </span>
                                </td>
                                <td>
                                    
                                    <button type="button" id="btnSelect" ng-click="toggleClientInfoSelect(row, 'view')" class="btn btn-flat btn-primary btn-xs" ng-disabled="loading">
                                        <span class="fa fa-search-plus"> View</span>
                                    </button>
                                    <button type="button" id="btnEdit" ng-click="toggleClientInfoSelect(row, 'edit')" class="btn btn-flat btn-warning btn-xs" style="margin-left: 5px;">
                                        <span class="fa fa-edit"> Edit</span>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <!-- Delete ServiceCategory Modal -->
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Delete Confirmation</h3>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Are you sure? </label>
                            <p> You want to delete this record.</p>
                        </div>
                    </div><!-- /.box-body -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="yes" class="btn btn-danger" ng-disabled="loading" data-ng-click="deleteConfirm()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>

                </div>
            </div>
        </div>
    </div>
    <!-- /Delete ServiceCategory Modal -->
    <div id="mydiv" data-ng-show="loading">
        <div class="overlay">
            <div class="loder">
                <img src="~/Content/AdminLTE/img/cube.gif" /> <span class="text-bold">Loading...</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    app.controller('ClientInfoCtrl', function ($scope, $http) {
        //applySecurity();

        ///////////////Variable Declaration////////////////////////
        $scope.itemsByPage = 8;
        $scope.getAllClientInfoDtl = [];  // base collection
        $scope.displayedCollection = [];  // displayed collection
        $scope.disableKey = true;
        $scope.DetailBeforeSave = 0;

        $http.get('/ClientInfo/GetServicesCategory')
            .success(function (response) {
                $scope.loading = false;
                $scope.clientCategorys = response.result;
            }).error(function () { });

        ///////////////Master Model////////////////

        $scope.vmClientInfoMst =
        {
            ClientID: "",
            ClientCode: "",
            ClientName: "",
            ClientType: "",
            Status: ""
        };

        $scope.ClearClientInfo = function () {
            $scope.vmClientInfoMst =
            {
                ClientID: "",
                ClientCode: "",
                ClientName: "",
                ClientCategory: { ClientCategoryID: "", ClientCategoryName: "" },
                ClientTinNo: "",
                ClientBinNo: "",
                Status: ""
            };
        }
        $scope.ClearClientInfo();
        ///////////////Detail Add Model////////////////
        $scope.vmClientAddress =
        {
            ClientAddressID: "",
            ContactPerson: "",
            ContactNumber: "",
            PhoneNumber: "",
            Address: "",
            Email: "",
            TINNumber: "",
            BINNumber: "",
            AddressStatus: ""
        };

        ///////////////Reset Detail Model////////////////
        $scope.ClearClientAddress = function () {
            $scope.vmClientAddress.ClientAddressID = "";
            $scope.vmClientAddress.ContactPerson = "";
            $scope.vmClientAddress.PhoneNumber = "";
            $scope.vmClientAddress.ContactNumber = "";
            $scope.vmClientAddress.Address = "";
            $scope.vmClientAddress.Email = "";
            $scope.vmClientAddress.ClientTinNo = "";
            $scope.vmClientAddress.ClientBinNo = "";
            $scope.vmClientAddress.AddressStatus = "";
        }

        ///////////////////////Default Value////////////////////////

        $scope.vmClientInfoMst.ClientType = "Internal";
        $scope.vmClientInfoMst.Status = "1";
        $scope.vmClientAddress.AddressStatus = "1";

        //////////////////Search Grid List///////////////////////////////

        $scope.SearchClientInfoModal = function () {
            $scope.ClearClientInfo();
            $scope.ClearClientAddress();
            $scope.displayedCollection = [];

            $scope.GetClientInfoSearchList();
            $('#SearchClientInfoModal').modal('show');
        };

        $scope.GetClientInfoSearchList = function () {
            $http.post("/ClientInfo/GetClientInfoSearchList")
                .success(function (response) {
                    $scope.ClientInfoSearchList = response.ClientInfoSearchList;
                    $scope.ClientInfoDisplayedCollection = [].concat($scope.ClientInfoSearchList);
                })
                .error(function () { });
        }

        ///////////////////////////////////////////////

        ////////////////////////Select for Update from Search grid ///////////////////////

        $scope.toggleClientInfoSelect = function (tableRow, action) {

            $scope.vmClientInfoMst.ClientID = tableRow.ClientID;
            $scope.vmClientInfoMst.ClientCode = tableRow.ClientCode;
            $scope.vmClientInfoMst.ClientName = tableRow.ClientName;
            $scope.vmClientInfoMst.ClientType = tableRow.ClientType;
            $scope.vmClientInfoMst.Status = tableRow.Status;

            if (action == 'view') {
                $scope.searchAction = 'viewonly';
            }
            else {
                $scope.searchAction = 'editonly';

            }

            $http.post('/ClientInfo/GetClientAddressList', { ClientID: tableRow.ClientID })
                .success(function (response) {
                    $scope.ClearClientAddress();
                    $scope.getAllClientInfoDtl = response.ClientAddressList;
                    $scope.displayedCollection = [].concat($scope.getAllClientInfoDtl);  // displayed collection
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $('#SearchClientInfoModal').modal('hide');
        };

        ///////////////////////Save/Update Master///////////////////////

        $scope.Post = function () {

            if ($("#ClientCode").val() == "") {
                toastr.error("Client Code is required");
                return;
            }

            if ($("#ClientName").val() == "") {
                toastr.error("Client Name is required");
                return;
            }

            if ($("#ClientCategory").val() == "") {
                toastr.error("Client Category is required");
                return;
            }

            //if ($("#ClientBinNo").val() == "") {
            //    toastr.error("Client BinNo is required");
            //    return;
            //}

            //if ($("#ClientTinNo").val() == "") {
            //    toastr.error("Client TinNo is required");
            //    return;
            //}

            $scope.loading = true;
            $scope.vmClientInfoMst.ClientCode = $('#ClientCode').val();
            $scope.vmClientInfoMst.ClientName = $('#ClientName').val();
            $scope.vmClientInfoMst.ClientCategoryID = $scope.vmClientInfoMst.ClientCategory.ClientCategoryID;
            $scope.vmClientInfoMst.ClientTinNo = $('#ClientTinNo').val();
            $scope.vmClientInfoMst.ClientBinNo = $('#ClientBinNo').val();
            $scope.vmClientInfoMst.Status = $scope.vmClientInfoMst.Status;
            //$scope.vmClientInfoMst.Action = 'Add';

            $http.post('/ClientInfo/SaveClientInfoMst', { _modelClientInfoMst: $scope.vmClientInfoMst, ClientAddressID: $scope.ClientAddressID })
                .success(function (response) {
                    //console.log(response.status);
                    if (response.status == "S201") {
                        toastr.success("Data Saved Successfully.");
                        $scope.toggleRefresh();
                        $scope.ClearClientInfo();
                        $scope.ClearClientAddress();
                        $scope.getAllClientInfoDtl = [];
                        $scope.displayedCollection = [];
                        $scope.toggleRefresh();

                        $scope.displayedCollection = [];
                        $scope.loading = false;
                        return;
                    }
                    else if (response.status == "S202") {
                        toastr.success("Data Updated Successfully.");
                        $scope.ClearClientInfo();
                        $scope.ClearClientAddress();
                        $scope.getAllClientInfoDtl = [];
                        $scope.displayedCollection = [];
                        $scope.toggleRefresh();
                        $scope.loading = false;
                        return;
                    }
                    else if (response.status == "S203") {
                        toastr.success("Data Deleted Successfully.");
                        $scope.ClearClientInfo();
                        $scope.loading = false;
                        return;
                    }
                    else {
                        toastr.error("Data Save Failed.");
                        $scope.loading = false;
                        return;
                    }
                })
                .error(function () {
                    toastr.error("Data Save Failed.");
                    $scope.loading = false;
                    return;
                });
        };

        ////////////////////////////////////////////////////////////////////////////////
      
        $scope.savebuttonShow = 0;
        //################ Save/Update Detail ###################
        $scope.AddUpdateDtl = function () {

            if ($("#ContactPerson").val() == "") {
                toastr.error("Contact Person required");
                return;
            }

            if ($("#ContactNumber").val() == "") {
                toastr.error("Contact Number Date required");
                return;
            }

            if ($("#Address").val() == "") {
                toastr.error("Address required");
                return;
            }

            if ($("#TINNumber").val() == "") {
                toastr.error("TIN Number required");
                return;
            }

            if ($("#BINNumber").val() == "") {
                toastr.error("BIN Number required");
                return;
            }

            $scope.loading = true;
            $scope.vmClientAddress.ClientAddressID = $scope.vmClientAddress.ClientAddressID;// $('#ClientAddressID').val();
            $scope.vmClientAddress.ClientID = $scope.vmClientInfoMst.ClientID;// $('#ClientID').val();
            $scope.vmClientAddress.ContactPerson = $('#ContactPerson').val();
            $scope.vmClientAddress.ContactNumber = $('#ContactNumber').val();
            $scope.vmClientAddress.PhoneNumber = $('#PhoneNumber').val();
            $scope.vmClientAddress.Address = $('#Address').val();
            $scope.vmClientAddress.ClientTinNo = $('#TINNumber').val();
            $scope.vmClientAddress.ClientBinNo = $('#BINNumber').val();
            $scope.vmClientAddress.Email = $('#Email').val();
            $scope.vmClientAddress.AddressStatus = $scope.vmClientAddress.AddressStatus;

            $http.post('/ClientInfo/SaveClientAddress', { _modelClientAddress: $scope.vmClientAddress })
                .success(function (response) {

                    if (response.status === "S201") {
                        $scope.savebuttonShow = 1;
                        $scope.ClientAddressID = response.ClientAddressID;
                        toastr.success("Data Saved Successfully.");
                        $scope.ClearClientAddress();
                        $scope.loading = false;
                        $scope.DetailBeforeSave = 1;
                        $('#ClientInfoDtlModal').modal('hide');
                        $scope.GetClientAddressList_beforeSave($scope.ClientAddressID);
                        return;
                    }
                    else if (response.status == "S202") {
                        $scope.savebuttonShow = 1;
                        toastr.success("Data Updated Successfully.");
                        $scope.ClearClientAddress();
                        $scope.loading = false;

                        $('#ClientInfoDtlModal').modal('hide');

                        $scope.GetClientAddressList();
                        return;
                    }
                    else if (response.status == "S203") {

                        toastr.success("Data Deleted Successfully.");
                        $scope.ClearClientAddress();
                        $scope.loading = false;
                        $('#ClientInfoDtlModal').modal('hide');
                        $scope.GetClientAddressList();
                        return;
                    }
                    else {
                        toastr.error("Data Save Failed.");
                        $scope.loading = false;
                        return;
                    }

                    //$scope.Clear();
                    $scope.loading = false;
                    return;
                })
                .error(function () {
                    toastr.error("Data Save Failed");
                    $scope.loading = false;
                    return;
                });
        };

        $scope.GetClientAddressList = function () {
            $http.post('/ClientInfo/GetClientAddressList', { ClientID: $scope.vmClientInfoMst.ClientID })
                .success(function (response) {
                    $scope.ClearClientAddress();
                    $scope.getAllClientInfoDtl = response.ClientAddressList;
                    $scope.displayedCollection = [].concat($scope.getAllClientInfoDtl);  // displayed collection
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });
        }

        //############ Added ############
        $scope.GetClientAddressList_beforeSave = function (ClientAddressID) {
            $http.post('/ClientInfo/GetClientAddressList_beforeSave', { ClientAddressID: ClientAddressID })
                .success(function (response) {
                    /*$scope.ClearClientAddress();*/
                    $scope.getAllClientInfoDtl_beforeSave = response.ClientAddressList_beforeSave;
                    $scope.displayedCollection_beforeSave = [].concat($scope.getAllClientInfoDtl_beforeSave);  // displayed collection
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });
        }

        // ################# Detail Add Modal ####################
        $scope.AddDtlModal = function () {

            if ($("#ClientCode").val() == "") {
                toastr.error("Client Code is required");
                return;
            }

            if ($("#ClientName").val() == "") {
                toastr.error("Client Name is required");
                return;
            }

            if ($("#ClientCategory").val() == "") {
                toastr.error("Client Category is required");
                return;
            }

            $('#ClientInfoDtlModal').modal('show');
            $scope.vmClientAddress.AddressStatus = "1";
            $("#btnDtlSaveUpdate").html('Save');
        };

        // ################# Detail Edit Modal ####################
        $scope.toggleEdit = function (row) {
            $('#ClientInfoDtlModal').modal('show');
            $scope.loading = true;
            //console.log(row);
            $scope.vmClientAddress.ClientAddressID = row.ClientAddressID;
            $scope.vmClientInfoMst.ClientID = row.ClientID;
            $scope.vmClientAddress.ContactPerson = row.ContactPerson;
            $scope.vmClientAddress.ContactNumber = row.ContactNumber;
            $scope.vmClientAddress.PhoneNumber = row.PhoneNumber;
            $scope.vmClientAddress.Email = row.Email;
            $scope.vmClientAddress.ClientTinNo = row.ClientTinNo;
            $scope.vmClientAddress.ClientBinNo = row.ClientBinNo;
            $scope.vmClientAddress.Address = row.Address;
            $scope.vmClientAddress.AddressStatus = row.AddressStatus;
            $scope.vmClientAddress.Action = 'edit';

            $scope.loading = false;
            $("#btnDtlSaveUpdate").html('Update');
        };

        //#################### Delete Action ###############
        $scope.deleteConfirm = function () {
            var postData = JSON.stringify(convArrToObj($scope.vmClientAddress));
            $scope.loading = true;
            $http.post('/ClientInfo/DeleteClientAddress', postData).success(function (response) {
                $scope.loading = false;
                if (response.status == "S203") {
                    toastr.success("Data Deleted Successfully.");
                    $scope.DetailBeforeSave = 0;
                    $scope.searchAction = 'openForNewDetails';

                    $scope.ClearClientAddress();
                    $('#deleteModal').modal('hide');
                    $scope.loading = false;
                    $scope.GetClientAddressList();
                    return;
                }
            }).error(function (data) {
                $scope.loading = false;
                toastr.error(data);
            });
        };

        $scope.toggleDelete = function (row) {
            $scope.vmClientAddress = row;
            $('#deleteModal').modal('show');
        };


        $scope.ResetDtlModel = function () {
            $scope.ClearClientAddress();
        };

        $scope.toggleRefreshTable = function () {
            $scope.loading = true;
            window.location.reload();
        };

        $scope.toggleRefresh = function () {
            $scope.loading = true;
            location.reload();
        };

        ////////////////////////////////////////////////////////////////////////////////
    });

</script>