
@{
    ViewBag.Layout = null;
}

<aside class="main-sidebar">
    <section class="sidebar">

        <div id="DynamicMenu">

        </div>
    </section>
</aside>


@*<script>

        var path = window.location.pathname;
        $.ajax({
            async: false,
            type: "GET",
            url: '/SecurityModule/Account/GetDynamicMenu',
            data: { 'html': JSON.stringify(path) },
            dataType: 'text',

            success: function (data) {
                $("#DynamicMenu").html(data);


                $("#DynamicMenu a").each(function () {
                    var href = $(this).attr('href');

                    if (path == href) {

                        $(this).parent('li').addClass('active');
                        $(this).parent('li').css('background-color', '#30988F')
                        $(this).parent('li').parent('ul').css({ display: "block" });

                    }
                });


            }
        });

    </script>*@

<script>
    $(document).ready(function () {
        // Get the current page path
        var path = window.location.pathname;

        // Fetch the dynamic menu via AJAX
        $.ajax({
            async: false,
            type: "GET",
            url: '/SecurityModule/Account/GetDynamicMenu',
            data: { 'html': JSON.stringify(path) },
            dataType: 'text',
            success: function (data) {
                // Insert the menu into the #DynamicMenu container
                $("#DynamicMenu").html(data);

                // Highlight the active menu item and expand parents
                $("#DynamicMenu a").each(function () {
                    var href = $(this).attr('href');

                    // Check if the current link matches the page path
                    if (path === href) {
                        var $currentItem = $(this).parent('li');

                        // Highlight the current menu item
                        $currentItem.addClass('active');
                        $currentItem.css('background-color', '#30988F');

                        // Traverse and expand parent menus
                        $currentItem.parents('ul.treeview-menu').css({ display: "block" });
                        $currentItem.parents('li.treeview').addClass('menu-open');
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error("Error loading menu: ", error);
            }
        });
    });
</script>
