@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<style type="text/css">
    label {
        margin-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
    }

    .form-control {
        height: 25px;
        font-size: smaller;
        padding: 3px 6px 3px;
    }
</style>

<div class="box box-primary box-body" ng-controller="VendorQuotationCtrl">

    <div class="box-header with-border" style="font-family: Verdana; background: #E4E9E3; color: black; ">
        <i class="fa fa-user"></i>
        <h3 style="font-family: Verdana" class="box-title">Vendor Quotation </h3>

        <div class="box-tools pull-right">
            <div class="col-lg-12 pull-right">
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="toggleRefreshTable()" class="btn btn-warning btn-flat pull-right" ng-disabled="btnRefresh"><i class="fa fa-refresh" style="padding-right: 5px"></i>Refresh</button>
                </div>
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="SearchVendorQutnModal()" class="btn btn-flat btn-primary pull-right " ng-disabled="btnSearch"><i class="fa fa-search" style="padding-right: 5px"></i>Search</button>
                </div>
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="Post()" class="btn btn-flat btn-primary pull-right " ng-disabled="btnSave"><i class="fa fa-save" style="padding-right: 5px"></i>   {{ VendorQutn.VendorQutnID ? 'Update' : 'Save' }}</button>
                </div>
                <div class="btn-group pull-right" style="margin-left: 4px; margin-right: 4px;">
                    <button type="button" data-ng-click="Cancel()" class="btn btn-flat btn-primary pull-right " ng-disabled="btnSave"><i class="fa fa-save" style="padding-right: 5px"></i>Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body " style="margin: 1%; padding: 5px 5px 5px 5px;" data-ng-disabled="">
        <div class="row">
            <div class="row">
                <div class="col-lg-3 ">
                    <div class="form-group">
                        <label for="VendorName">Quoted Vendor :</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="VendorName" name="VendorName" type="text" data-ng-model="VendorQutn.VendorName" class="form-control" ng-readonly="true" />
                    </div>
                </div>
                <div class="col-lg-1">
                    <button type="button" data-ng-click="ShowVendorReqList()" class="form-control">Search</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Requisition No.</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="RequisitionNo" name="RequisitionNo" type="text" class="form-control" placeholder="Client Requisition No" ng-model="VendorQutn.RequisitionNo" ng-readonly="true" />
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Requisition Date:</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="RequisitionDate" name="RequisitionDate" readonly type="text" class="form-control" placeholder="Requisition Date" ng-model="VendorQutn.RequisitionDate" ng-readonly="true" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 ">
                    <div class="form-group">
                        <label for="ClientName">Client Name :</label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input id="ClientName" name="ClientName" type="text" data-ng-model="VendorQutn.ClientName" class="form-control" placeholder="ClientName" ng-readonly="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Vendor Quotation No.:</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="VendorQutnNo" name="VendorQutnNo" type="text" class="form-control" placeholder="Vendor Quotation No" ng-model="VendorQutn.VendorQutnNo" />
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Quotation No:</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="AutoVendorQutnNo" name="AutoVendorQutnNo" type="text" class="form-control" placeholder="Auto Quotation No" ng-model="VendorQutn.AutoVendorQutnNo" ng-readonly="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Quotation Date</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="QuotationDate" name="QuotationDate" type="text" class="DatePicker form-control" placeholder="Quotation Date" ng-model="VendorQutn.QuotationDate" />
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <label>Quotation Received Date:</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="QutnReceivedDate" name="QutnReceivedDate" type="text" class="DatePicker form-control" placeholder="Quotation Received Date" ng-model="VendorQutn.QutnReceivedDate" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 ">
                    <div class="form-group">
                        <label for="QuotationFor">Quotation For:</label>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <input id="Remarks" name="Remarks" type="text" data-ng-model="VendorQutn.Remarks" class="form-control" placeholder="Remarks" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="VendorReqInfoModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="ResetModel()" aria-hidden="true">x</button>
                    <h3 class="modal-title">Vendor Quotation Information</h3>
                </div>
                <div class="modal-body table-responsive">
                    <table st-table="VendorReqDisplayedCollection" st-safe-src="VendorReqList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sort('ClientName')">Client Name</th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sort('VendorName')">Vendor Name</th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sort('RequisitionNo')">RequisitionNo</th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sort('RequisitionDate')">Requisition Date</th>
                                <th class="col-lg-2 col-md-2 col-sm-2" data-ng-click="sort('LastDateofQuotation')">Last Date of Quotation</th>
                                @*<th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Address')">Address</th>*@
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                            </tr>
                            <tr>
                                <th><input st-search="ClientName" placeholder="Client Name" class="input-sm form-control" type="search" /></th>
                                <th><input st-search="VendorName" placeholder="Vendor Name" class="input-sm form-control" type="search" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in VendorReqDisplayedCollection">
                                <td class="hidden">{{row.ClientID}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.ClientName}}</td>
                                <td class="hidden">{{row.VendorID}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.VendorName}}</td>
                                <td class="hidden">{{row.VendorReqID}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.RequisitionNo}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.RequisitionDate}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.LastDateofQuotation}}</td>
                                @*<td class="hidden">{{row.ClientAddressID}}</td>*@
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                        {{row.Status == '1'? 'Active':'InActive'}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary btn-flat btnEdit" data-ng-click="toggleVendorReqSelect(row)"><i class="fa fa-edit"></i> Select</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetModel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="SearchVendorQutnModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="ResetSearchModel()" aria-hidden="true">x</button>
                    <h3 class="modal-title">Vendor Quotation Information</h3>
                </div>
                <div class="table-responsive" data-ng-disabled="" ng-cloak>
                    <table st-table="clientReqDisplayedCollection" st-safe-src="clientReqSearchList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr>
                                <th class="col-lg-3 col-md-3 col-sm-3" data-ng-click="sort('ClientName')">Client Name</th>
                                <th class="col-lg-3 col-md-3 col-sm-3" data-ng-click="sort(VendorName')">Vendor Name</th>
                                <th class="col-lg-3 col-md-3 col-sm-3" data-ng-click="sort('VendorQutnNo')">Vendor Quotation No</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('QuotationDate')">Quotation Date</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('ReceivedDate')">Received Date</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                            </tr>
                            <tr>
                                <th><input st-search="ClientCode" placeholder="Client Name" class="input-sm form-control" type="search" /></th>
                                <th><input st-search="ClientName" placeholder="ClientName" class="input-sm form-control" type="search" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in clientReqDisplayedCollection">
                                <td class="hidden">{{row.VendorQutnID}}</td>
                                <td class="hidden">{{row.ClientID}}</td>
                                <td class="hidden">{{row.VendorID}}</td>
                                <td class="hidden">{{row.RequisitionNo}}</td>
                                <td class="hidden">{{row.RequisitionDate}}</td>
                                <td class="hidden">{{row.AutoVendorQutnNo}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-left">{{row.ClientName}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-left">{{row.VendorName}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-left">{{row.VendorQutnNo}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.QuotationDate}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.QutnReceivedDate}}</td>
                                <td class="hidden">{{row.Remarks}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                        {{row.Status == '1'? 'Active':'InActive'}}
                                    </span>
                                </td>

                                <td>
                                    <a class="btn col-center btn-sm btn-flat btn-success" ng-href="#" ng-rel="" data-ng-click="toggleVendorQutnSelect(row)">Select</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="100"></div></td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetSearchModel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info" style="border-bottom: 1px solid #d3e3e3; ">
                <div class="box-header with-border" style="height: 40px; border-bottom: 1px solid #d3e3e3;">
                    <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Quotation Item List</h2>
                    @*<div class="box-tools pull-right">
                            <div class="col-lg-12 pull-right">
                                <div class="btn-group pull-right" style="margin:2px;">
                                    <button type="button" id="btnAddReqItem" ng-disabled="btnAddReqItem" data-ng-click="AddReqItemModal()" class="button-detail btn"><i class="fa fa-plus" style="padding-right: 3px"></i>Add</button>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 1%; background-color: #f0f0f0; box-shadow: 2px 2px 5px #888888; padding: 5px 10px 5px 10px;">
        <div class="row">
            <div class="row" style="padding: 11px; margin-right: 15px; margin-left: 15px;">
                <table st-table="GridDisplayCollection" st-safe-src="masterDataSetupGridData" class="table table-condensed table-bordered table-striped table-hover pnlView">
                    <thead>
                        <tr>
                            @*<th style="text-align: left;" st-sort="">Item Code</th>*@
                            <th style="text-align: left;" st-sort="">Item Name</th>
                            <th style="text-align: left;" st-sort="">Service Category</th>
                            <th style="text-align: left;" st-sort="">Description</th>
                            <th style="text-align: left;" st-sort="">Delivery Location</th>
                            <th style="text-align: left;" st-sort="">Delivery Date</th>
                            <th style="text-align: left;" st-sort="">Delivery Mode</th>
                            <th style="text-align: left;" st-sort="">Req Qnty</th>
                            <th style="text-align: left;" st-sort="">Req Unit</th>
                            <th style="text-align: left;" st-sort="">Qutn Qnty</th>
                            <th style="text-align: left;" st-sort="">Qutn Price</th>
                            <th style="text-align: left;" st-sort="">Qutn Amt</th>
                            <th style="text-align: left;" st-sort="">Vat(%)</th>
                            <th style="text-align: left;" st-sort="">Vat Amt</th>
                            <th style="text-align: left;" st-sort="">Tol Amt</th>
                            <th style="text-align: left;">Action</th>
                        </tr>
                        @*<tr>
                                <th colspan="5"><input st-search="" placeholder="Search" class="input-sm form-control" type="search" /></th>
                            </tr>*@
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in GridDisplayCollection" ng-cloak style="font-size:12px;">
                            <td class="hidden">{{row.VendorQutnItemID}}</td>
                            <td class="hidden">{{row.VendorQutnID}}</td>
                            @*<td class="col-lg-1" style="width:5%;">{{ row.ServiceItemID }} </td>*@
                            <td class="col-lg-1" style="width:5%;">{{row.ServiceItemName}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.ServiceCategoryName}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.Description}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.DeliveryLocation}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.DeliveryDate}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.DeliveryMode}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.ReqQnty | number:2}}</td>
                            <td class="col-lg-1" style="width:5%;">{{row.ReqUnit}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.QutnQnty | number:2}}</td>
                            <td class="col-lg-1">
                                <input class="form-control" style="width:100%; height:18px;font-size:10px" type="text" min="0" ng-model="row.QutnPrice" ng-value="0" ng-blur="checkUnitPrice(row)" />
                            </td>
                            <td class="col-lg-1" style="width:5%;">{{row.QutnAmt}}</td>
                            <td class="col-lg-1">
                                <input class="form-control" style="width:100%; height:18px;font-size:10px" type="text" min="0" ng-model="row.VatPerc" ng-value="0" ng-blur="checkVatPerc(row)" />
                            </td>
                            <td class="col-lg-1" style="width:5%;">{{row.VatAmt}}</td>
                            <td class="col-lg-1" style="width:5%;">{{row.TolAmt}}</td>
                            <td class="col-lg-1" style="width:5%;">
                                <button type="button" ng-if="row.VendorQutnItemID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqItemEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                <button type="button" ng-if="!row.VendorQutnItemID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqItemEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                <button type="button" class="btn btn-xs btn-primary btn-flat btnDelete" data-ng-click="toggleReqItemDelete(row,$index)"><i class="fa fa-remove"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        @*<tr>
                                <td colspan="11" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div></td>
                            </tr>*@
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div id="RequisitionItemModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <h3 class="modal-title">Quotation Item Information</h3>
                        </div>
                        @*<div class="col-sm-6 col-md-6 col-lg-6">
                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <button type="button" class="close" data-dismiss="modal" ng-click="ResetReqItemModel()" aria-hidden="true" style="color:red;">x</button>
                            </div>*@
                    </div>
                </div>
                <div ng-cloak>
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ServiceCategory">Service Category:</label>
                            </div>
                        </div>
                        <div class=" col-lg-3">
                            <div class="form-group">
                                <select id="ServiceCategory" name="ServiceCategory" class="form-control" ng-model="VendorQutnItem.ServiceCategory" ng-change="ServiceCategoryChange()"
                                        ng-options="serviceCategory as serviceCategory.ServiceCategoryName for serviceCategory in serviceCategorys track by serviceCategory.ServiceCategoryID" required="required">
                                    <option value="" style="display: none">-- Select--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ServiceItem">Item Name :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select id="ServiceItem" name="ServiceItem" class="form-control" ng-model="VendorQutnItem.ServiceItem"
                                        ng-options="serviceItem as serviceItem.ServiceItemName for serviceItem in serviceItems track by serviceItem.ServiceItemID" required="required">
                                    <option value="" style="display: none">-- Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="Description">Description:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="Description" type="text" name="Description" ng-model="VendorQutnItem.Description" class="form-control" autofocus />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="Delivery Location">Delivery Location:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="DeliveryLocation" type="text" name="DeliveryLocation" ng-model="VendorQutnItem.DeliveryLocation" class="form-control" autofocus />

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="DeliveryDate">Delivery Date :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="DeliveryDate" name="DeliveryDate" readonly type="text" class="DatePicker form-control" placeholder="DD/MM/YYYY"
                                       ng-model="VendorQutnItem.DeliveryDate" style=" background-color:#ffffff; " />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="DeliveryMode">Delivery Mode :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <select data-ng-model="VendorQutnItem.DeliveryMode" class="form-control">
                                <option value="">-- None --</option>
                                <option value="Hardcopy">Hardcopy</option>
                                <option value="Softcopy">Softcopy</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ReqQnty">ReqQnty :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="ReqQnty" type="text" name="ReqQnty" ng-model="VendorQutnItem.ReqQnty" class="form-control" placeholder="0.000" min="0.001" autofocus />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ReqUnit">ReqUnit :</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <select data-ng-model="VendorQutnItem.ReqUnit" class="form-control">
                                <option value="">-- None --</option>
                                <option value="Hour">Hour</option>
                                <option value="Minute">Minute</option>
                                <option value="Second">Second</option>
                                <option value="Piece">Piece</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="btn-group pull-right" style="margin:2px;">
                                <button type="button" id="btnAddReqItem" data-ng-click="AddReqItem()" class="button-detail btn"><i class="fa fa-save" style="padding-right: 3px"></i>Add to Item List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="VendorQutnTermsConditionsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="ResetModel()" aria-hidden="true">x</button>
                    <h3 class="modal-title">Terms & Conditions Information</h3>
                </div>
                <div class="modal-body table-responsive">
                    <table st-table="TermsConditionsDisplayedCollection" st-safe-src="TermsConditionsList" class="table table-condensed table-bordered table-striped table-hover pnlView">
                        <thead>
                            <tr>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('FormCode')">Form Code</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('FormName')">Form Name</th>
                                <th class="col-lg-1 col-md-1 col-sm-1" data-ng-click="sort('Status')">Status</th>
                                <th class="col-lg-1 col-md-1 col-sm-1">Action</th>
                            </tr>
                            <tr>
                                <th><input st-search="FormCode" placeholder="Form Code" class="input-sm form-control" type="search" /></th>
                                <th><input st-search="FormName" placeholder="Form Name" class="input-sm form-control" type="search" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in TermsConditionsDisplayedCollection">
                                <td class="hidden">{{row.TermsID}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">{{row.FormCode}}</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 text-center">{{row.FormName}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">
                                    <span ng-attr-class="{{row.Status =='1'? 'label label-success' : 'label label-danger' }}">
                                        {{row.Status == '1'? 'Active':'InActive'}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary btn-flat btnEdit" data-ng-click="toggleTermsConditionsSelect(row)"><i class="fa fa-edit"></i> Select</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ResetModel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteReqItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position: fixed; top: 38%; left: 50%; transform: translate(-38%, -50%); background: rgba(0,0,0,0) !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 5px; width: 456px; height: 185px;">
                <div class="modal-header" style="height: 46px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Selected Item</h4>
                </div>
                <div class="modal-body" style="height: 80px;">
                    Are you sure to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white; background-color: red;" ng-click="DeleteVendorQutnItem()">Yes</button>
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info" style="border-bottom: 1px solid #d3e3e3; ">
                <div class="box-header with-border" style="height: 40px; border-bottom: 1px solid #d3e3e3;">
                    @*<h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Terms & Conditions List</h2>*@
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            <h2 class="box-title" style="font-family: Verdana; font-size: 16px; font-weight: bold; color: #166e19;">Terms & Conditions List</h2>
                        </div>
                    </div>
                    @*<div class="row">*@
                    <div class="col-lg-3 ">
                        <div class="form-group">
                            <label for="TermsAndConditions">Terms & Coonditions List:</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input id="FormName" name="FormName" type="text" data-ng-model="VendorQutn.FormName" class="form-control" ng-readonly="true" />
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" data-ng-click="ShowTermsConditionsList()" class="form-control">Search</button>
                    </div>
                    @*</div>*@
                    <div class="box-tools pull-right">
                        <div class="col-lg-12 pull-right">
                            <div class="btn-group pull-right" style="margin:2px;">
                                <button type="button" id="btnReqTermAdd" ng-disabled="btnReqTermAdd" data-ng-click="AddReqTermModal()" class="button-detail btn"><i class="fa fa-plus" style="padding-right: 3px"></i>Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 1%; background-color: #f0f0f0; box-shadow: 2px 2px 5px #888888; padding: 5px 10px 5px 10px;">
        <div class="row">
            <div class="row" style="padding: 11px; margin-right: 15px; margin-left: 15px;">
                <table st-table="ReqTermGridDisplayCollection" st-safe-src="ReqTermDataSetupGridData" class="table table-condensed table-bordered table-striped table-hover pnlView">
                    <thead>
                        <tr>
                            <th style="text-align: left;" st-sort="">Terms Code</th>
                            <th style="text-align: left;" st-sort="">Terms & Conditions</th>
                            <th style="text-align: left;">Action</th>
                        </tr>
                        @*<tr>
                                <th colspan="5"><input st-search="" placeholder="Search" class="input-sm form-control" type="search" /></th>
                            </tr>*@
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in ReqTermGridDisplayCollection" ng-cloak style="font-size:12px;">
                            <td class="hidden">{{row.VendorQutnTermsID}}</td>
                            <td class="hidden">{{row.VendorQutnID}}</td>
                            <td class="hidden">{{row.TermsID}}</td>
                            <td class="col-lg-1" style="width:5%;">{{row.TermsCode}}</td>
                            <td class="col-lg-1" style="width:6%;">{{row.TermsName}}</td>

                            <td class="col-lg-1" style="width:5%;">
                                <button type="button" ng-if="row.VendorQutnTermsID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqTermEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                <button type="button" ng-if="!row.VendorQutnTermsID" class="btn btn-xs btn-primary btn-flat btnEdit" data-ng-click="toggleReqTermEdit(row,$index)"><i class="fa fa-edit"></i> </button>
                                <button type="button" class="btn btn-xs btn-primary btn-flat btnDelete" data-ng-click="toggleReqTermDelete(row,$index)"><i class="fa fa-remove"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        @*<tr>
                                <td colspan="11" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div></td>
                            </tr>*@
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div id="RequisitionTermModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <h3 class="modal-title">Terms & Conditions Information</h3>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">

                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <button type="button" class="close" data-dismiss="modal" ng-click="ResetReqTermModel()" aria-hidden="true" style="color:red;">x</button>
                        </div>
                    </div>
                </div>
                <div ng-cloak>
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="TermsCode">Terms & Conditions Code:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="TermsCode" type="text" name="TermsCode" ng-model="VendorQutnTerm.TermsCode" class="form-control" autofocus />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="TermsName">Terms & Conditions:</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input id="TermsName" type="text" name="TermsName" ng-model="VendorQutnTerm.TermsName" class="form-control" autofocus />

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="btn-group pull-right" style="margin:2px;">
                                <button type="button" id="btnAddReqTerm" data-ng-click="AddReqTerm()" class="button-detail btn"><i class="fa fa-save" style="padding-right: 3px"></i>Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteReqTermModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position: fixed; top: 38%; left: 50%; transform: translate(-38%, -50%); background: rgba(0,0,0,0) !important">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 5px; width: 456px; height: 185px;">
                <div class="modal-header" style="height: 46px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Selected Item</h4>
                </div>
                <div class="modal-body" style="height: 80px;">
                    Are you sure to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white; background-color: red;" ng-click="DeleteReqTerm()">Yes</button>
                    <button type="button" class="btn button-custom" data-dismiss="modal" style="color: white">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    app.controller('VendorQuotationCtrl', ['$scope', '$http', function ($scope, $http) {

        $scope.clientReqItemArray = [];
        $scope.clientReqTermArray = [];
        $scope.itemsByPage = 10;

        $http.get('/VendorQuotation/GetServicesCategory')
            .success(function (response) {
                $scope.loading = false;
                $scope.serviceCategorys = response.result;
            }).error(function () { });

        $scope.VendorQutn = {
            VendorQutnID: "",
            ClientID: "",
            ClientName: "",
            TermsID: "",
            FormName: "",
            VendorQutnNo: "",
            ReceivedDate: "",
            QuotationDate: "",
            Remarks: "",
            Status: ""
        }

        $scope.VendorQutnItem = {
            VendorQutnItemID: "",
            Description: "",
            DeliveryLocation: "",
            DeliveryDate: "",
            ServiceCategory: { ServiceCategoryID: "", ServiceCategoryName: "" },
            ServiceItem: { ServiceItemID: "", ServiceItemName: "" },
            DeliveryMode: "",
            ReqQnty: "",
            ReqUnit: "",
            QutnQnty: "",
            QutnPrice: "",
            QutnUnit: "",
            QutnAmt: "",
            VatPerc: "",
            VatAmt: "",
            TolAmt: ""
        }

        $('.DatePicker').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
            // Set minDate to 0 to disable selecting previous dates
        });

        $('.DatePicker')
            .on('changeDate', function (ev) {
                $('.datepicker').hide();
            });

        $('#DeliveryDate').datepicker({
            format: "dd/mm/yyyy",
            autoclose: false,
            minDate: new Date() // Set minDate to the current date to disable selecting previous dates
        }).on('changeDate', function (ev) {
            var EnteredDate = $('#DeliveryDate').val();
            var today = new Date();
            today.setHours(0, 0, 0, 0);

            var date = EnteredDate.substring(0, 2);
            var month = EnteredDate.substring(3, 5);
            var year = EnteredDate.substring(6, 10);
            var myDate = new Date(year, month - 1, date);
            myDate.setHours(0, 0, 0, 0);

            //if (myDate < today) {
            //    $('#DeliveryDate').val('');
            //    toastr.error("Purchase date should not be less than system date.");
            //}

            $('.datepicker').hide();
        });
        $scope.checkUnitPrice = function (row) {
            var QutnAmt = 0;
            QutnAmt = (row.ReqQnty * row.QutnPrice);
            row.QutnAmt = QutnAmt;
        };
        $scope.checkVatPerc = function (row) {
            var VatAmt = 0;
            VatAmt = (row.VatPerc * row.QutnAmt) / 100;
            row.VatAmt = VatAmt;

            row.TolAmt = row.QutnAmt + row.VatAmt;
        };
        // ################# Detail Add Modal ####################
        $scope.AddReqItemModal = function () {
            if ($('#ClientName').val() == "") {
                toastr.error("Client Name Required");
                return;
            }

            if ($('#VendorQutnNo').val() == "") {
                toastr.error("Client ReqNo.  Required");
                return;
            }

            if ($('#ReceivedDate').val() == "") {
                toastr.error("Submission Date Required.");
                return;
            }

            if ($('#QuotationDate').val() == "") {
                toastr.error("Requisition Date Date Required");
                return;
            }
            $('#RequisitionItemModal').modal('show');
        };

        $scope.masterDataSetupGridData = [];  // base collection
        $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);

        $scope.AddReqItem = function () {

            if ($scope.VendorQutnItem.ServiceCategory.ServiceCategoryID == "") {
                toastr.error("Service Category Required");
                return;
            }

            if ($scope.VendorQutnItem.ServiceItem.ServiceItemID == "") {
                toastr.error("Service Item  Required");
                return;
            }

            if ($scope.VendorQutnItem.DeliveryMode == "") {
                toastr.error("Submission Date Required.");
                return;
            }

            if ($scope.VendorQutnItem.ReqUnit == "") {
                toastr.error("Requisition Date Date Required");
                return;
            }

            if ($('#DeliveryLocation').val() == "") {
                toastr.error("Service Category Required");
                return;
            }

            if ($('#DeliveryDate').val() == "") {
                toastr.error("Service Item  Required");
                return;
            }

            if ($('#Description').val() == "") {
                toastr.error("Submission Date Required.");
                return;
            }

            if ($('#ReqQnty').val() == "") {
                toastr.error("Requisition Date Date Required");
                return;
            }

            $scope.VendorQutnItem.ServiceCategoryID = $scope.VendorQutnItem.ServiceCategory.ServiceCategoryID;
            $scope.VendorQutnItem.ServiceCategoryName = $scope.VendorQutnItem.ServiceCategory.ServiceCategoryName;
            $scope.VendorQutnItem.ServiceItemID = $scope.VendorQutnItem.ServiceItem.ServiceItemID;
            $scope.VendorQutnItem.ServiceItemName = $scope.VendorQutnItem.ServiceItem.ServiceItemName;

            $scope.VendorQutnItem.DeliveryMode = $scope.VendorQutnItem.DeliveryMode;
            $scope.VendorQutnItem.ReqUnit = $scope.VendorQutnItem.ReqUnit;

            $scope.VendorQutnItem.DeliveryLocation = $('#DeliveryLocation').val();
            $scope.VendorQutnItem.DeliveryDate = $('#DeliveryDate').val();
            $scope.VendorQutnItem.Description = $('#Description').val();
            $scope.VendorQutnItem.ReqQnty = $('#ReqQnty').val();

            $scope.clientReqItemArray.push($scope.VendorQutnItem);

            $scope.GridDisplayCollection = $scope.GridDisplayCollection.concat($scope.VendorQutnItem);

            $scope.resetVendorQutnItem();
            $("#btnAddReqItem").html('Add');
            $('#RequisitionItemModal').modal('hide');
        }

        $scope.resetVendorQutnItem = function () {
            $('#DeliveryDate').val('');
            $scope.VendorQutnItem = {
                VendorQutnItemID: "",
                VendorQutnID: "",
                ServiceCategory: { ServiceCategoryID: "", ServiceCategoryName: "" },
                ServiceItem: { ServiceItemID: "", ServiceItemName: "" },
                Description: "",
                DeliveryLocation: "",
                DeliveryDate: "",
                DeliveryMode: "",
                ReqQnty: "",
                ReqUnit: ""
            }
        }

        $scope.ShowVendorReqList = function () {
            $http.get("/VendorQuotation/GetShowVendorReqForVenQutnList")
                .success(function (response) {
                    console.log(response);
                    $scope.VendorReqList = response.VendorReqList;
                    $scope.VendorReqDisplayedCollection = [].concat($scope.VendorReqList);
                    console.log($scope.VendorReqDisplayedCollection);
                    $scope.loading = false;
                })
                .error(function () { });

            $('#VendorReqInfoModal').modal('show');
        };


        var ServiceCategoryID = "";
        $scope.ServiceCategoryChange = function () {
            ServiceCategoryID = $scope.VendorQutnItem.ServiceCategory.ServiceCategoryID;
            $http.post("/ServiceItemInfo/GetServiceItemInfoSearchList?ServiceItemCategoryID=" + ServiceCategoryID)
                .success(function (response) {
                    $scope.loading = false;
                    $scope.serviceItems = response.ServiceItemInfoSearchList;
                })
                .error(function () { });
        };

        $scope.clearVendorQutn = function () {
            $scope.VendorQutn = {
                VendorQutnID: "",
                ClientID: "",
                ClientCode: "",
                ClientName: "",
                ContactPerson: "",
                ContactNumber: "",
                ClientTINNo: "",
                ClientBINNo: "",
                ClientAddress: "",
                VendorQutnNo: "",
                ReceivedDate: "",
                QuotationDate: "",
                Remarks: ""
            }

            $scope.VendorQutnItem = {
                VendorQutnItemID: "",
                VendorQutnID: "",
                Description: "",
                DeliveryLocation: "",
                DeliveryDate: "",
                ServiceCategory: { ServiceCategoryID: "", ServiceCategoryName: "" },
                ServiceItem: { ServiceItemID: "", ServiceItemName: "" },
                DeliveryMode: "",
                ReqQnty: "",
                ReqUnit: ""
            }
            $scope.VendorQutnTerm = {
                VendorQutnTermsID: "",
                VendorQutnID: "",
                TermsID: "",
                TermsCode: "",
                TermsName: ""
            }
            $("#DeliveryDate").val('');
            $scope.masterDataSetupGridData = [];  // base collection
            $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);

            $scope.ReqTermDataSetupGridData = [];  // base collection
            $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);
        }

        $scope.toggleReqItemEdit = function (tableRow, $i) {
            $('#RequisitionItemModal').modal('show');
            $scope.resetVendorQutnItem();

            $scope.VendorQutnItem.VendorQutnItemID = tableRow.VendorQutnItemID;

            $scope.VendorQutnItem.ServiceCategory.ServiceCategoryID = tableRow.ServiceCategoryID;
            $scope.VendorQutnItem.ServiceCategory.ServiceCategoryName = tableRow.ServiceCategoryName;
            $scope.VendorQutnItem.ServiceItem.ServiceItemID = tableRow.ServiceItemID;
            $scope.VendorQutnItem.ServiceItem.ServiceItemName = tableRow.ServiceItemName;

            $scope.VendorQutnItem.DeliveryMode = tableRow.DeliveryMode;
            $scope.VendorQutnItem.DeliveryLocation = tableRow.DeliveryLocation;
            $scope.VendorQutnItem.DeliveryDate = tableRow.DeliveryDate;
            $scope.VendorQutnItem.Description = tableRow.Description;

            $scope.VendorQutnItem.ReqQnty = tableRow.ReqQnty;
            $scope.VendorQutnItem.ReqUnit = tableRow.ReqUnit;

            $scope.GridDisplayCollection.splice($i, 1);
            $scope.clientReqItemArray.splice($i, 1);

            $http.post("/ServiceItemInfo/GetServiceItemInfoSearchList?ServiceItemCategoryID=" + tableRow.ServiceCategoryID)
                .success(function (response) {
                    $scope.loading = false;
                    $scope.serviceItems = response.ServiceItemInfoSearchList;
                })
                .error(function () { });

            $("#btnAddReqItem").html('Update');
        };

        $scope.toggleReqItemDelete = function (tableRow, $i) {
            if (!tableRow.VendorQutnItemID) {
                $scope.resetVendorQutnItem();
                $scope.GridDisplayCollection.splice($i, 1);
                $scope.clientReqItemArray.splice($i, 1);
                toastr.success('Data Deleted Successsfully');
            }
            else {
                $scope.resetVendorQutnItem();
                $scope.VendorQutnItem.VendorQutnItemID = tableRow.VendorQutnItemID;
                $('#deleteReqItemModal').modal('show');
            }
        };

        $scope.DeleteVendorQutnItem = function () {
            $http.post('/VendorQuotation/DeleteVendorQutnItemAndTerm',
                { VendorQutnItemID: $scope.VendorQutnItem.VendorQutnItemID, VendorQutnTermID: $scope.VendorQutnTerm.VendorQutnTermID })
                .success(function (response) {
                    if (response.status == "S203") {
                        $scope.resetVendorQutnItem();
                        $scope.GridDisplayCollection.splice($i, 1);
                        $scope.clientReqItemArray.splice($i, 1);
                        toastr.success('Data Deleted Successsfully');
                        return;
                    }
                });
        }

        ////////////////////////Select for Update from Search grid ///////////////////////

        $scope.toggleVendorReqSelect = function (row) {
            $scope.VendorQutn.ClientID = row.ClientID;
            $scope.VendorQutn.VendorID = row.VendorID;
            $scope.VendorQutn.VendorReqID = row.VendorReqID;
            $scope.VendorQutn.ClientName = row.ClientName;
            $scope.VendorQutn.VendorName = row.VendorName;
            $scope.VendorQutn.RequisitionNo = row.RequisitionNo;
            $scope.VendorQutn.RequisitionDate = row.RequisitionDate;
            $scope.VendorQutn.SubmissionDate = row.SubmissionDate;
            $scope.VendorQutn.LastDateofQuotation = row.LastDateofQuotation;

            $http.post('/VendorQuotation/GetVendorReqItemListForVenQutn', { VendorID: row.VendorID, VendorReqID: row.VendorReqID })
                .success(function (response) {
                    $scope.masterDataSetupGridData = response.VendorReqItemList;
                    $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $http.post('/VendorRequisition/GetVendorReqTermList', { VendorReqID: row.VendorReqID })
                .success(function (response) {
                    $scope.ReqTermDataSetupGridData = response.VendorReqTermList;
                    $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $('#VendorReqInfoModal').modal('hide');
        };

        ///////////////////////Save/Update Master///////////////////////

        //////////////////Search Grid List///////////////////////////////

        $scope.SearchVendorQutnModal = function () {
            $scope.GetVendorQutnSearchList();
            $('#SearchVendorQutnModal').modal('show');
        };

        $scope.GetVendorQutnSearchList = function () {
            $http.post("/VendorQuotation/GetVendorQutnSearchList")
                .success(function (response) {
                    $scope.clientReqSearchList = response.clientReqSearchList;
                    $scope.clientReqDisplayedCollection = [].concat($scope.clientReqSearchList);
                })
                .error(function () { });
        }

        ////////////////////////Select for Update from Search grid ///////////////////////

        $scope.toggleVendorQutnSelect = function (tableRow) {
            $scope.VendorQutn.VendorQutnID = tableRow.VendorQutnID;
            $scope.VendorQutn.ClientID = tableRow.ClientID;
            $scope.VendorQutn.ClientName = tableRow.ClientName;

            $scope.VendorQutn.VendorID = tableRow.VendorID;
            $scope.VendorQutn.VendorName = tableRow.VendorName;

            $scope.VendorQutn.VendorQutnNo = tableRow.VendorQutnNo;
            $scope.VendorQutn.QuotationDate = tableRow.QuotationDate;
            $scope.VendorQutn.QutnReceivedDate = tableRow.QutnReceivedDate;

            $scope.VendorQutn.RequisitionNo = tableRow.RequisitionNo;
            $scope.VendorQutn.RequisitionDate = tableRow.RequisitionDate;
            $scope.VendorQutn.AutoVendorQutnNo = tableRow.AutoVendorQutnNo;

            $scope.VendorQutn.Remarks = tableRow.Remarks;
            $scope.VendorQutn.Status = tableRow.Status;

            $http.post('/VendorQuotation/GetVendorQutnItemList', { VendorQutnID: tableRow.VendorQutnID })
                .success(function (response) {
                    $scope.masterDataSetupGridData = response.VendorQutnItemList;
                    $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $http.post('/VendorQuotation/GetVendorQutnTermList', { VendorQutnID: tableRow.VendorQutnID })
                .success(function (response) {
                    $scope.ReqTermDataSetupGridData = response.VendorQutnTermList;
                    $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $('#SearchVendorQutnModal').modal('hide');
        };

        ///////////////////////////////////////////////

        ////////////////////////Requsition Terms & Conditions ///////////////////////

        $scope.ShowTermsConditionsList = function () {
            $http.get("/VendorQuotation/GetTermsConditionsList")
                .success(function (response) {
                    console.log(response);
                    $scope.TermsConditionsList = response.termsConditionsList;
                    $scope.TermsConditionsDisplayedCollection = [].concat($scope.TermsConditionsList);
                    console.log($scope.TermsConditionsDisplayedCollection);
                    $scope.loading = false;
                })
                .error(function () { });

            $('#VendorQutnTermsConditionsModal').modal('show');
        };

        $scope.toggleTermsConditionsSelect = function (row) {
            $scope.VendorQutn.TermsID = row.TermsID;
            //$scope.VendorQutn.FormCode = row.FormCode;
            $scope.VendorQutn.FormName = row.FormName;

            $http.post('/VendorQuotation/GetVendorQutnTermAgainstFormList', { TermsID: row.TermsID })
                .success(function (response) {
                    $scope.ReqTermDataSetupGridData = response.VendorQutnTermList;
                    $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });

            $('#VendorQutnTermsConditionsModal').modal('hide');
        };

        $scope.VendorQutnTerm = {
            VendorQutnTermsID: "",
            VendorQutnID: "",
            TermsID: "",
            TermsCode: "",
            TermsName: ""
        }

        $scope.AddReqTermModal = function () {
            if ($('#ClientName').val() == "") {
                toastr.error("Client Name Required");
                return;
            }

            if ($('#VendorQutnNo').val() == "") {
                toastr.error("Client ReqNo.  Required");
                return;
            }

            if ($('#ReceivedDate').val() == "") {
                toastr.error("Submission Date Required.");
                return;
            }

            if ($('#QuotationDate').val() == "") {
                toastr.error("Requisition Date Date Required");
                return;
            }
            $('#RequisitionTermModal').modal('show');
        };

        $scope.ReqTermDataSetupGridData = [];  // base collection
        $scope.ReqTermGridDisplayCollection = [].concat($scope.ReqTermDataSetupGridData);

        $scope.AddReqTerm = function () {

            if ($('#TermsCode').val() == "") {
                toastr.error("Terms Code Required");
                return;
            }

            if ($('#TermsName').val() == "") {
                toastr.error("Terms Name Required.");
                return;
            }

            $scope.VendorQutnTerm.TermsCode = $('#TermsCode').val();
            $scope.VendorQutnTerm.TermsName = $('#TermsName').val();

            $scope.clientReqTermArray.push($scope.VendorQutnTerm);

            $scope.ReqTermGridDisplayCollection = $scope.ReqTermGridDisplayCollection.concat($scope.VendorQutnTerm);

            $scope.resetVendorQutnTerm();
            $("#btnAddReqTerm").html('Add');
            $('#RequisitionTermModal').modal('hide');
        }

        $scope.resetVendorQutnTerm = function () {
            $scope.VendorQutnTerm = {
                VendorQutnTermsID: "",
                VendorQutnID: "",
                TermsID: "",
                TermsCode: "",
                TermsName: ""
            }
        }

        $scope.toggleReqTermEdit = function (tableRow, $i) {
            $('#RequisitionTermModal').modal('show');
            $scope.resetVendorQutnTerm();
            $scope.VendorQutnTerm.VendorQutnTermID = tableRow.VendorQutnTermD;
            $scope.VendorQutnTerm.VendorQutnID = tableRow.VendorQutnID;
            $scope.VendorQutnTerm.TermsID = tableRow.TermsID;
            $scope.VendorQutnTerm.TermsCode = tableRow.TermsCode;
            $scope.VendorQutnTerm.TermsName = tableRow.TermsName;
            $scope.ReqTermGridDisplayCollection.splice($i, 1);
            $scope.clientReqTermArray.splice($i, 1);
            $("#btnAddReqTerm").html('Update');
        };

        $scope.toggleReqTermDelete = function (tableRow, $i) {
            if (!tableRow.VendorQutnTermID) {
                $scope.resetVendorQutnTerm();
                $scope.ReqTermGridDisplayCollection.splice($i, 1);
                $scope.clientReqTermArray.splice($i, 1);
                toastr.success('Data Deleted Successsfully');
            }
            else {
                $scope.resetVendorQutnTerm();
                $scope.VendorQutnTerm.VendorQutnTermID = tableRow.VendorQutnTermID;
                $('#deleteReqTermModal').modal('show');
            }
        };

        $scope.DeleteVendorQutnTerm = function () {
            $http.post('/VendorQuotation/DeleteVendorQutnItemAndTerm',
                { VendorQutnItemID: $scope.VendorQutnItem.VendorQutnItemID, VendorQutnTermID: $scope.VendorQutnTerm.VendorQutnTermID })
                .success(function (response) {
                    if (response.status == "S203") {
                        $scope.resetVendorQutnTerm();
                        $scope.ReqTermGridDisplayCollection.splice($i, 1);
                        $scope.clientReqTermArray.splice($i, 1);
                        toastr.success('Data Deleted Successsfully');
                        return;
                    }
                });
        }

        ///////////////////////////////////////////////

        $scope.Post = function () {

            if ($('#ClientName').val() == "") {
                toastr.error("Client Name Required");
                return;
            }

            if ($('#VendorQutnNo').val() == "") {
                toastr.error("Client ReqNo.  Required");
                return;
            }

            if ($('#ReceivedDate').val() == "") {
                toastr.error("Submission Date Required.");
                return;
            }

            if ($('#QuotationDate').val() == "") {
                toastr.error("Requisition Date Date Required");
                return;
            }

            $scope.VendorQutn.QuotationDate = $('#QuotationDate').val();
            $scope.VendorQutn.ReceivedDate = $('#ReceivedDate').val();

            $http.post('/VendorQuotation/SaveVendorQuotation',
                {
                    clientReq: $scope.VendorQutn,
                    clientReqItem: $scope.GridDisplayCollection,//$scope.clientReqItemArray,
                    clientReqTerm: $scope.ReqTermGridDisplayCollection
                })
                .success(function (response) {
                    if (response.status == "S201") {
                        toastr.success("Data Saved Successfully.");
                        $scope.clearVendorQutn();
                        $scope.loading = false;
                        return;
                    }
                    else if (response.status == "S202") {
                        toastr.success("Data Updated Successfully.");
                        $scope.clearVendorQutn();
                        $scope.loading = false;
                        return;
                    }
                    else if (response.status == "S203") {
                        toastr.success("Data Deleted Successfully.");
                        $scope.clearVendorQutn();
                        $scope.loading = false;
                        return;
                    }
                    else {
                        toastr.error("Data Save Failed.");
                        $scope.loading = false;
                        return;
                    }
                })
                .error(function () {
                    toastr.error("Data Save Failed.");
                    $scope.loading = false;
                    return;
                });
        }

        $scope.toggleRefreshTable = function () {
            window.location.reload();
        };
    }])
</script>
