
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="box box-primary box-body" ng-controller="MasterDataSetupCtrl">
    <div class="box-header with-border bg-light-blue-gradient" style="height: 38px;">
        <h3 class="box-title" style="font-family: 'MV Boli'; font-weight: 500;">
            <i class="fa fa-user"></i> Master Data Setup List
        </h3>
        <div class="box-tools pull-right">
            <button type="button" id="btnRefresh" data-ng-click="toggleRefreshTable(row)" class="button-custom pull-right" ng-disabled="loading">
                <i class="fa fa-refresh"></i> Refresh
            </button>
            <button type="button" id="btnAdd" data-ng-click="toggleAdd(row)" class="button-custom btn-primary pull-right" ng-disabled="loading">
                <i class="fa fa-plus"></i> Add New
            </button>
        </div>
    </div>


    <div class="box-body table-responsive" data-ng-disabled="">
        <div class="row">
            <div class="col-lg-2">
                <label for="OwnerLevel">Owner Level</label>

            </div>
            <div class="col-lg-4">
                <select class="form-control" ng-model="masterData.OwnerLevel"
                        ng-options="ownerLevel as ownerLevel.LevelName for ownerLevel in ownerLevels
                        track by ownerLevel.OwnerLevelID">
                    <option value="" style="display: none;">--Select--</option>
                </select>
            </div>

            <div class="col-lg-2">
                <label>Owner</label>
            </div>
            <div class="col-lg-4">
                <select class="form-control" ng-model="masterData.Owner"
                        data-ng-options="owner as owner.OwnerName for owner in ownersForSpecificOwnerLevel track by owner.OwnerID"
                        data-ng-disabled="!masterData.OwnerLevel">
                    <option value="" style="display: none;">--Select--</option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-2">
                <label>Type Name</label>
            </div>
            <div class="col-lg-4">
                <select class="form-control" ng-model="masterData.MasterDataType"
                        data-ng-options="type as type.TypeName for type in typeForSpecificOwner track by type.MasterDataTypeID"
                        data-ng-disabled="!masterData.Owner">
                    <option value="" style="display: none;">--Select--</option>
                </select>
            </div>
        </div>

        <div class="row">
            <table st-table="GridDisplayCollection" st-safe-src="masterDataSetupGridData" class="table table-condensed table-bordered table-striped table-hover pnlView">
                <thead>
                    <tr>
                        <th st-sort="">SL#</th>
                        <th st-sort="">Master Data</th>
                        <th st-sort="">Parent Data</th>
                        <th st-sort="">UD Code</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th colspan="5"><input st-search="" placeholder="Search" class="input-sm form-control" type="search" /></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in GridDisplayCollection" ng-cloak>
                        <td class="hidden">{{row.MasterDataID}}</td>
                        <td>{{$index + 1}}</td>
                        <td>{{row.MasterDataValue}}</td>
                        <td>{{row.ParrentID}}</td>
                        <td>{{row.UDCode}}</td>
                        <td class=""><button type="button" class="btn btn-sm btn-primary btn-flat btnEdit" data-ng-click="toggleEdit(row)"><i class="fa fa-edit"></i> Edit</button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center"><div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <form name="masterDataFrm" id="masterDataFrm" ng-submit="">

        <div id="addModal" class="modal fade">
            <!-- Modal HTML -->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Master Data Setup Entry Form</h3>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="OwnerLevel">Owner Level</label>
                                        <select name="OwnerLevel" class="form-control" ng-model="masterData.OwnerLevel"
                                                ng-options="ownerLevel as ownerLevel.LevelName for ownerLevel in ownerLevels
                                                        track by ownerLevel.OwnerLevelID">
                                            <option value="" style="display: none;">--Select--</option>
                                        </select>
                                        <div ng-show="masterDataFrm.$submitted || masterDataFrm.OwnerLevel.$touched">
                                            <span ng-show="!masterDataFrm.OwnerLevel.$dirty && masterDataFrm.OwnerLevel.$pristine" class="label label-danger">Please select an owner level</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="OwnerName">Owner Name </label>
                                        <select name="Owner" class="form-control" ng-model="masterData.Owner"
                                                data-ng-options="owner as owner.OwnerName for owner in ownersForSpecificOwnerLevel track by owner.OwnerID"
                                                data-ng-disabled="!masterData.OwnerLevel">
                                            <option value="" style="display: none;">--Select--</option>
                                        </select>

                                        <div ng-show="masterDataFrm.$submitted || masterDataFrm.Owner.$touched">
                                            <span ng-show="!masterDataFrm.Owner.$dirty && masterDataFrm.Owner.$pristine"
                                                  class="label label-danger">Please select an Owner.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Type Name</label>
                                        <select name="MasterDataType" class="form-control" ng-model="masterData.MasterDataType"
                                                data-ng-options="type as type.TypeName for type in typeForSpecificOwner track by type.MasterDataTypeID"
                                                data-ng-disabled="!masterData.MasterDataType">
                                            <option value="" style="display: none;">--Select--</option>
                                        </select>
                                        <div ng-show="masterDataFrm.$submitted || masterDataFrm.MasterDataType.$touched">
                                            <span ng-show="!masterDataFrm.MasterDataType.$dirty && masterDataFrm.MasterDataType.$pristine" class="label label-danger">Please select an Type</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="MasterDataValue">Master Data</label>
                                        <input id="MasterDataValue" name="MasterDataValue" type="text" data-ng-model="masterData.MasterDataValue"
                                               class="form-control" placeholder="Master Data" required />
                                        <div ng-show="masterDataFrm.$submitted || masterDataFrm.MasterDataValue.$touched">
                                            <span ng-show="masterDataFrm.MasterDataValue.$error.required" class="label label-danger">Please enter owner's name</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="ParrentID">Parent Data</label>
                                        <select name="ParrentID" class="form-control" ng-model="masterData.ParentID"
                                                data-ng-options="parentDatas as parentDatas.MasterDataValue for parentDatas in ParentDataList
                                                        track by parentDatas.MasterDataID"
                                                data-ng-disabled="!masterData.ParentID">
                                            <option value="" style="display: none;">--Select--</option>
                                        </select>
                                        <div ng-show="masterDataFrm.$submitted || masterDataFrm.ParrentID.$touched">
                                            <span ng-show="masterDataFrm.ParrentID.$error.required" class="label label-danger">Please enter owner's name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="Status">Is Default</label>
                                        <select id="IsDefault" class="form-control" ng-model="masterData.IsDefault">
                                            <option value="" style="display: none">-- None --</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="UDCode">UD Code</label>
                                        <input id="UDCode" name="UDCode" type="text" data-ng-model="masterData.UDCode"
                                               class="form-control" placeholder="UD Code" />
                                        @*<div ng-show="masterDataFrm.$submitted || masterDataFrm.UDCode.$touched">
                                                <span ng-show="masterDataFrm.UDCode.$error.required" class="label label-danger">Please enter UD Code</span>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="SerialNo">Serial No.</label>
                                        <input id="SerialNo" name="SerialNo" type="text" data-ng-model="masterData.SerialNo"
                                               class="form-control" placeholder="Serial No." />
                                        @*<div ng-show="masterDataFrm.$submitted || masterDataFrm.SerialNo.$touched">
                                                <span ng-show="masterDataFrm.SerialNo.$error.required" class="label label-danger">Please enter Serial No</span>
                                            </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <!-- Drop Down for Owner Status -->
                                        <label for="Status">Status</label>
                                        <select id="Status" class="form-control" ng-model="masterData.Status">
                                            <option value="" style="display: none">-- None --</option>
                                            <option value="1">Active</option>
                                            <option value="0">Inactive</option>
                                        </select><!-- Drop Down for Owner Status end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <button type="submit" id="btnSubmit" ng-click="masterDataFrm.$setSubmitted(); masterDataFrm.$valid && checkDrop() && Save(masterDataFrm)" class="btn btn-primary btn-flat " ng-disabled="loading">Save</button>
                                <button type="button" id="btnClose" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div>

    </form>

    <div id="mydiv" ng-show="loading">
        <div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>Loading...
        </div>
    </div>
</div>

<script type="text/javascript">
  


    app.controller('MasterDataSetupCtrl',  function ($scope, $http) {

        applySecurity();

            $scope.masterData = {
                OwnerLevel: { OwnerLevelID: "", LevelName: "" },
                Owner: { OwnerID: "", OwnerName: "" },
                MasterDataID: "",
                MasterDataValue: "",
                MasterDataType: { MasterDataTypeID: "", TypeName: "" },
                ParentID: { MasterDataID: "", MasterDataValue: "" },
                UserLevel: "",
                //UDCode: "",               
                SerialNo: "",
                IsDefault: "",
                Status: "",
                Permission: ""
            };
        
        

        $scope.masterDataSetupGridData = [];  // base collection
        $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);  // displayed collection

        $scope.itemsByPage = 10;
        $scope.loading = true;

        $http.get('/DocScanningModule/Owner/GetOwnerLevel?id=')
           .success(function (response) {
               $scope.loading = false;
               $scope.ownerLevels = response.result;
               $scope.masterData.OwnerLevel.OwnerLevelID = "";
               $scope.masterData.OwnerLevel.LevelName = "";
           }).error(function () { });

        //$http.get('/SecurityModule/MasterDataSetup/LoadParentDataList?id=' )
        //   .success(function (response) {
        //       $scope.loading = false;
        //       $scope.ParentDataList = response.result;
        //   }).error(function () { });

        

        $scope.$watch('masterData.OwnerLevel', function (newVal) {
            if (newVal) {
                $scope.masterData.Owner.OwnerID = "";
                $scope.masterData.Owner.OwnerName = "";
                $http.post('/DocScanningModule/OwnerProperIdentity/GetOwnerForSpecificOwnerLevel',
                    { _OwnerLevelID: $scope.masterData.OwnerLevel.OwnerLevelID })
                    .success(function (response) {
                        $scope.ownersForSpecificOwnerLevel = response.result;
                        $scope.loading = false;
                    }).error(function () {
                        $scope.loading = false;
                    });
            }
        });

        $scope.$watch('masterData.Owner', function (newVal) {
            if (newVal) {
                
                $http.post('/SecurityModule/MasterDataSetup/GetTypeForSpecificOwner',
                    { _OwnerID: $scope.masterData.Owner.OwnerID })
                    .success(function (response) {
                        $scope.typeForSpecificOwner = response.result;
                        $scope.loading = false;
                    }).error(function () {
                        $scope.loading = false;
                    });
            }
        });

        var BindDataToGrid = function () {
            $http.post('/SecurityModule/MasterDataSetup/LoadMasterDataList',
                {
                    MasterDataTypeID: $scope.masterData.MasterDataType.MasterDataTypeID
                })
                .success(function (response) {
                    $scope.masterDataSetupGridData = response.result;
                    $scope.GridDisplayCollection = [].concat($scope.masterDataSetupGridData);
                    $scope.loading = false;
                }).error(function () {
                    $scope.loading = false;
                });
        };

        $scope.$watch('masterData.MasterDataType', function (newVal) {
            if (newVal) {
                BindDataToGrid();
            };
        });

        $scope.$watch('masterData.MasterDataType', function (newVal) {
            if (newVal) {

                $http.post('/SecurityModule/MasterDataSetup/LoadParentDataList',
                    { id: $scope.masterData.MasterDataType.MasterDataTypeID })
                    .success(function (response) {
                        $scope.ParentDataList = response.result;
                        $scope.loading = false;
                    }).error(function () {
                        $scope.loading = false;
                    });
            }
        });

        $scope.toggleAdd = function (model) {

            $scope.ResetModel();
            $scope.masterDataFrm.$setPristine();
            $scope.masterDataFrm.$setUntouched();

            if ($scope.masterData.Owner.OwnerID !== "") {
                $scope.masterDataFrm.Owner.$setDirty();
                $scope.masterDataFrm.Owner.$setValidity("", true);
            }
            if ($scope.masterData.OwnerLevel.OwnerLevelID !== "") {
                $scope.masterDataFrm.OwnerLevel.$setDirty();
                $scope.masterDataFrm.OwnerLevel.$setValidity("", true);
            }
            if ($scope.masterData.MasterDataType.MasterDataTypeID !== "") {
                $scope.masterDataFrm.MasterDataType.$setDirty();
                $scope.masterDataFrm.MasterDataType.$setValidity("", true);
            }
            $scope.masterData.Status = "1";
            $('#addModal').modal('show');
        };

        $scope.toggleRefreshTable = function (row) {
            location.reload();
        };

        $scope.toggleEdit = function (tableRow) {
            $scope.masterData.MasterDataID = tableRow.MasterDataID;
            $scope.masterData.MasterDataValue = tableRow.MasterDataValue;
            $scope.masterData.UDCode = tableRow.UDCode;
            $scope.masterData.SerialNo = tableRow.SerialNo;
            $scope.masterData.IsDefault = (tableRow.IsDefault).toString();
            $scope.masterData.Status = (tableRow.Status).toString();

            $scope.masterData.ParentID.MasterDataID = tableRow.ParrentID;

            $scope.masterDataFrm.$setUntouched();
            if ($scope.masterData.Owner.OwnerID !== "") {
                $scope.masterDataFrm.Owner.$setDirty();
                $scope.masterDataFrm.Owner.$setValidity("", true);
            }
            if ($scope.masterData.OwnerLevel.OwnerLevelID !== "") {
                $scope.masterDataFrm.OwnerLevel.$setDirty();
                $scope.masterDataFrm.OwnerLevel.$setValidity("", true);
            }
            if ($scope.masterData.MasterDataType.MasterDataTypeID !== "") {
                $scope.masterDataFrm.MasterDataType.$setDirty();
                $scope.masterDataFrm.MasterDataType.$setValidity("", true);
            }
            $('#addModal').modal('show');
        };

        $scope.checkDrop = function () {
            if ($scope.masterData.OwnerLevel.OwnerLevelID === "") {
                return false;
            }
            return true;
        }

        $scope.Save = function () {
            $scope.loading = true;

            if ($scope.masterData.MasterDataID === "") {
                //Save
                $scope.loading = true;
                $http.post('/SecurityModule/MasterDataSetup/AddMasterData', JSON.stringify($scope.masterData))
                    .success(function (response) {
                        $scope.loading = false;
                        $('#addModal').modal('hide');
                        BindDataToGrid();
                        toastr.success(response.Message);
                    }).error(function (response) {
                        $scope.loading = false;
                        toastr.error('Fail to Save.');
                    });

            }
            else {
                $http.post('/SecurityModule/MasterDataSetup/EditMasterData',
                    JSON.stringify(convArrToObj($scope.masterData)))
                    .success(function (response) {
                        $('#addModal').modal('hide');
                        $scope.loading = false;
                        toastr.success(response.Message);
                        BindDataToGrid();
                    })
                    .error(function (data) {
                        $scope.loading = false;
                        toastr.error('Failed to Update.');
                    });

            }
        }

        $scope.ResetModel = function () {

            $scope.masterData.MasterDataID = "";
            $scope.masterData.MasterDataValue = "";
            $scope.masterData.UserLevel = ""; 
            $scope.masterData.UDCode = "";     
            $scope.masterData.SerialNo = "";     
            $scope.masterData.IsDefault = "";
        };

        })
</script>